﻿@model Model.Users
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNoMenu.cshtml";
}
<div class="col-md-12">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">添加用户</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Add", "Account", FormMethod.Post, new { @class = "form-horizontal", deptId = @ViewBag.DeptId }))
            {
                <fieldset>
                    @Html.TextBoxFor(p => p.FullName, new { @id = "FullName", @placeholder = "请输入用户姓名...", @class = "form-control" })
                    <br />
                    @Html.TextBoxFor(p => p.UserName, new { @id = "UserName", @required = "required", @placeholder = "请输入登录帐号...", @class = "form-control" })
                    <br />
                    @Html.PasswordFor(r => r.Password, new { @id = "Password", @required = "required", @placeholder = "请输入登录密码...", @class = "form-control" })
                    <br />
                    <input class="btn btn-primary" value="保存" type="submit" />
                    <input type="hidden" name="deptId" id="deptId" value="@ViewBag.DeptId" />
                </fieldset>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    var result = '@Html.Raw(TempData["result"] as string)';
    if (result == "true") {
        layer.msg("添加成功", { time: 700, area: ['200px', '50px']}, function() {
            window.parent.location.reload();
        });
    } else if (result == "false") {
        layer.msg("添加失败", { time: 700, area: ['200px', '50px'] });
        layer.msg("用户名重复", { time: 700, area: ['200px', '50px'] });
    }

</script>
