﻿@model Model.Departments
@{
    ViewBag.Title = "AddMenu";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNoMenu.cshtml";
}
<div class="col-md-6">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">添加建设单位</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("AddCompany", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="Name">公司名称：</label>
                        <div class="controls">
                            <div class="input-append">
                                @Html.TextBoxFor(p => p.Name, new { @id = "Name", @required = "required", @placeholder = "请输入公司名称...", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        <label class="control-label" for="Name">所处部门ID：</label>
                        <div class="controls">
                            <div class="input-append">
                                @Html.TextBoxFor(p => p.DepartmentID, new { @id = "DepartmentID", @required = "required", @placeholder = "请输入所处部门ID...", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <input class="btn btn-primary" value="保存" type="submit" />

                </fieldset>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    var result = '@Html.Raw(TempData["result"] as string)';
    if (result == "true") {
        layer.msg("添加成功", { time: 700 }, function () { window.parent.location.reload(); });
    } else if (result == "false") {
        layer.msg("添加失败", { time: 700 }, function () { window.parent.location.reload(); });
    }
</script>

