﻿@using DAL.Common
@model Model.Departments
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNoMenu.cshtml";
}
<div style="padding: 20px;">

    @using (Html.BeginForm("AddDepartment", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.Hidden("Paras")
        @Html.TextBoxFor(p => p.Name, new { @id = "Name", @placeholder = "请输入用户组名称...", @class = "form-control" })
        <input class="btn btn-primary" value="保存" type="submit" />
    }
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    var result = '@Html.Raw(TempData["result"] as string)';
    if (result == "true") {
        layer.msg("添加成功", { time: 700}, function () { window.parent.location.reload(); });
    } else if (result == "false") {
        layer.msg("添加失败", { time: 700}, function () { window.parent.location.reload(); });
    }
</script>