﻿@model Model.Departments
@{
    ViewBag.Title = "AddMenu";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNoMenu.cshtml";
}
<div class="col-md-6">
    <div class="panel">
        <div class="panel-body">
            @using (Html.BeginForm("AddUserGroup", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="input-group">
                    <span class="input-group-addon">用户组名称：</span>
                    @Html.TextBoxFor(p => p.Name, new { @id = "Name", @required = "required", @placeholder = "请输入用户组名称...", @class = "form-control" })
                </div>
                <div class="col-md-12">
                    <input class="btn btn-primary" value="保存" type="submit" />
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    var result = '@Html.Raw(TempData["result"] as string)';
    if (result == "true") {
        layer.msg("添加成功", { time: 700 }, function () { window.parent.location.reload(); });
    } else if (result == "false") {
        layer.msg("添加失败", { time: 700 }, function () { window.parent.location.reload(); });
    }
</script>

