﻿@model StaticPagedList<Model.ArrRoles>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListRoles";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNoMenu.cshtml";
}
<style>
    .cb {
        height: 15px;
        width: 15px;
    }
</style>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/FancyBox/jquery.fancybox.css" rel="stylesheet" />
<div class="col-md-12">
    <!-- TABLE STRIPED -->
    <div class="panel">
        <div class="panel-body">
            <input type="button" class="btn btn-primary" onclick="saveIt()" value="保存" />

            <table class="table table-striped table-bordered bootstrap-datatable">
                <thead>
                    <tr>
                        <th class="text-center col-md-1"><input type="checkbox" class="cb" id="checkAll" /></th>
                        <th class="text-center col-md-1">序号</th>
                        <th class="text-center col-md-3">角色名称</th>
                        <th class="text-center col-md-3">创建时间</th>
                        <th class="text-center">备注信息</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null && Model.Count > 0)
                        {
                            int i = 0;
                            foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <td style="text-align: center;"><input class="cb" type="checkbox" name="checkIt" itemid="@item.ID" id="@item.ID" /></td>
                                    <td style="text-align: center;">@i</td>
                                    <td style="text-align: center;">@item.RoleName</td>
                                    <td style="text-align: center;">@item.CreateTime</td>
                                    <td style="text-align: center;">@item.Remarks</td>

                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <div style="width: 100%;">
                <div style="width: 30%; float: left; height: 80px; line-height: 5em;">
                    共 @Model.PageCount 页
                    第 @Model.PageNumber 页
                    每页 @Model.PageSize 条
                </div>
                <div style="width: 68%; float: left; text-align: right;">
                    @Html.PagedListPager(Model, page => Url.Action("AuthorizeRole", new { page, deptId = @ViewBag.DeptId }))
                </div>
            </div>
        </div>
    </div>
    <!-- END TABLE STRIPED -->
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.fancybox.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    var selectedIds = [];
    var jq = $.noConflict();
    function saveIt() {
        jq.get("SaveAuthorize",
            { roleIds: JSON.stringify(SkipEmptyElement(selectedIds)), deptId: '@ViewBag.DeptId' },
            function (res) {
                console.log(res)
                if (res == true) {
                    layer.msg("保存成功", { time: 1500 });
                } else {
                    layer.msg("保存失败，可能是该用户组还没有用户。", { time: 2000 });
                }
            });
    }
    function SkipEmptyElement(arr) {
        var a = [];
        jq.each(arr,
            function(i, v) {
                var data = jq.trim(v);
                if (data != '') {
                    a.push(data);
                }
            });
        return a;
    }
    jq("#checkAll").click(function(e) {
        if (jq(this).prop("checked")) {
            jq("input[name='checkIt']").each(function() {
                this.checked = true;
                selectedIds.push(jq(this).attr("itemid"));
            });
        } else {
            jq("input[name='checkIt']").each(function () {
                this.checked = false;
            });
            selectedIds = [];
        }
        jq.get("UpdatesIds", { sids: selectedIds }, function () {
            alert('ok')
        })
    });
    jq("input[name='checkIt']").click(function(e) {
        var itemId = jq(this).attr("itemid");
        if (jq(this).prop("checked")) {
            selectedIds.push(itemId);
            jq.get("UpdatesIds?sids=" + JSON.stringify(selectedIds),
                null,
                function(res) {
                    var arr = res.split(',');
                    jq.each(arr,
                        function(i, v) {
                            if (selectedIds.indexOf(v) < 0) {
                                selectedIds.push(v);
                            }
                        });
                });
        } else {
            var index = jq.inArray(itemId, selectedIds);
            if (index >= 0) {
                selectedIds.splice(index, 1);

                jq.get("RefreshIds?sids=" + JSON.stringify(selectedIds),
                    null,
                    function (res) {
                    });
            }
        }

    });
    jq(document).ready(function() {
        var ids = '@ViewBag.RoleIds';
        var arr = ids.split(',');
        selectedIds = arr;
        jq("input[name='checkIt']").each(function () {
            if (arr.indexOf(jq(this).attr("itemid")) >= 0)
            {
                this.checked = true;
            }
        });
    });

</script>
