﻿@model StaticPagedList<Model.ArrRoles>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNoMenu.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="main" style="width: 100%; padding: 0">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">用户基本信息</h3>
                        </div>
                        <div class="panel-body">

                            @*                                 @Html.HiddenFor(p => p.UserId) *@
                            @*                                 @Html.HiddenFor(p => p.IsActive) *@
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon">姓名</span>
                                    @* @Html.TextBoxFor(p => p.UserName, new { @id = "UserName", @placeholder = "请输入登录帐号...", @class = "form-control" }) *@
                                    <input type="text" class="form-control" id="FullName" />
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon">账号</span>
                                    @* @Html.TextBoxFor(p => p.UserName, new { @id = "UserName", @placeholder = "请输入登录帐号...", @class = "form-control" }) *@
                                    <input type="hidden" id="UserId" />
                                    <input type="text" class="form-control" id="UserName" />

                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon">密码</span>
                                    @* @Html.PasswordFor(r => r.Password, new { Value = "******", @id = "Password", @placeholder = "请输入登录密码...", @class = "form-control" }) *@
                                    <input type="password" class="form-control" id="Password" />
                                </div>
                                <br />
                                <input class="btn btn-primary" value="保存" type="button" onclick="saveIt()" />

                                <input type="hidden" id="userId" value="@ViewBag.UserId" />
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">角色列表</h3>
                        </div>
                        <div class="panel-body" style="overflow-y: scroll; overflow-y: scroll; max-height: 480px;">
                            <table class="table table-striped table-bordered bootstrap-datatable">
                                <thead>
                                    <tr>
                                        <th class="text-center"><input type="checkbox" class="cb" id="checkAll" /></th>
                                        <th class="text-center col-md-1">序号</th>
                                        <th class="text-center col-md-2">角色名称</th>
                                        <th class="text-center col-md-3">创建时间</th>
                                        <th class="text-center">备注信息</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model != null && Model.Count > 0)
                                        {
                                            int i = 0;
                                            foreach (var item in Model)
                                            {
                                                i++;
                                                <tr>
                                                    <td style="text-align: center;"><input class="cb" type="checkbox" name="checkIt" itemid="@item.ID" id="@item.ID" /></td>
                                                    <td style="text-align: center;">@i</td>
                                                    <td style="text-align: center;">@item.RoleName</td>
                                                    <td style="text-align: center;">@item.CreateTime</td>
                                                    <td style="text-align: center;">@item.Remarks</td>

                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                            <div style="width: 100%;">
                                <div style="width: 30%; float: left; height: 80px; line-height: 5em;">
                                    共 @Model.PageCount 页
                                    第 @Model.PageNumber 页
                                    每页 @Model.PageSize 条
                                </div>
                                <div style="width: 68%; float: left; text-align: right;">
                                    @Html.PagedListPager(Model, page => Url.Action("Edit", new { page, @ViewBag.UserId }))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/bootstrap-treeview.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    var jq = $.noConflict();
    var selectedIds = [];
    jq("#checkAll").click(function (e) {
        if (jq(this).prop("checked")) {
            jq("input[name='checkIt']").each(function () {
                this.checked = true;
                selectedIds.push(jq(this).attr("itemid"));
            });
        } else {
            jq("input[name='checkIt']").each(function () {
                this.checked = false;
            });
            selectedIds = [];
        }
    });
    jq("input[name='checkIt']").click(function (e) {
        var itemId = Number(jq(this).attr("itemid"));
        if (jq(this).prop("checked")) {
            selectedIds.push(itemId);
            console.log(selectedIds);
        } else {
            selectedIds.splice(jq.inArray(itemId, selectedIds), 1);
            console.log(selectedIds);
        }
    });
    var result = '@Html.Raw(TempData["result"] as string)';
    if (result == "true") {
        layer.msg("编辑成功",
            { time: 700 },
            function() {
                window.parent.location.reload();
            });
    } else if (result == "false") {
        layer.msg("编辑失败");
    } else if (result == "UserNameError") {
        layer.msg("用户名重复");
    }

    function saveIt() {
        jq.post("SaveUserRole",
            {
                roleIds: JSON.stringify(selectedIds),
                User: { UserId: jq("#userId").val(), UserName: jq("#UserName").val(), Password: jq("#Password").val(), FullName: jq("#FullName").val() }
            },
            function(res) {
                if (res == true) {
                    layer.msg("保存成功", { time: 700 }, function() { window.parent.location.reload(); });
                } else {
                    layer.msg("保存失败", { time: 700 }, function () { window.parent.location.reload(); });
                }
            });
    }

    jq(document).ready(function() {
        jq.get("GetUserRoles",
            { userId: @ViewBag.UserId },
            function(res) {
                jq.each(res,
                    function (i, v) {
                        selectedIds.push(v.RoleID);

                        jq("input[name='checkIt']").each(function () {
                            if (v.RoleID == jq(this).attr("itemid")) {
                                this.checked = true;
                            }
                        });
                    });

            });
        jq.get("GetUserInfo",
            { userId: @ViewBag.UserId },
            function(res) {
                jq("#UserName").val(res.UserName);
                jq("#Password").val(res.Password);
                jq("#FullName").val(res.FullName);
                jq("#UserId").val(res.UserID);

            });
    });
</script>


