﻿@model Model.Departments
@using DAL.Common;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNoMenu.cshtml";
}

<div style="margin: 20px;">
    @using (Html.BeginForm("EditDepartment", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.HiddenFor(p => p.ID)
        <fieldset>

            @Html.TextBoxFor(p => p.Name, new { @id = "Name", @required="required", @placeholder = "请输入组织名称...", @class = "form-control" })
            <br />
            <input class="btn btn-primary" value="修改" type="submit" />
        </fieldset>
    }
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    var result = '@Html.Raw(TempData["result"] as string)';
    if (result == "true") {
        layer.msg("编辑成功", { time: 700, area: ['250px', '50px']}, function() {
            window.parent.editName = $("#Name").val();
            window.parent.layer.closeAll();
        });
    } else if (result == "false") {
        layer.msg("编辑失败", { time: 700, area: ['250px', '50px']});
    }
</script>