﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNew.cshtml";
}
<style>
    #tree ul {
        list-style: none;
    }

    #tree .main_parent {
        margin: 0;
        padding: 0;
        margin-top: 5px;
        margin-left: 80px;
        border: 1px solid #d3d3d3;
        border-radius: 10px;
        width: 80%;
    }

    .main_parent li {
        width: 100%;
        height: 45px;
        background-color: #fff;
        border-bottom: 1px solid #d3d3d3;
    }

        .main_parent li:first-child {
            border-radius: 10px 10px 0px 0px;
        }

        .main_parent li:last-child {
            border-radius: 0px 0px 10px 10px;
        }

        .main_parent li:hover {
            cursor: pointer;
            background-color: #f3f3f3;
        }

    .main_parent .span-item {
        margin: 0;
        padding: 0;
        padding-left: 16px;
        float: left;
        width: 90%;
        height: 45px;
        line-height: 3em;
    }

    .main_parent input[type=button]:first-child {
        margin-left: 30px;
    }

    .main_parent input[type=button] {
        margin-left: 10px;
    }

    #tree .sub-item {
        margin: 0;
        padding: 0;
        width: 97%;
        display: none;
    }

    /*.sub-item li {
        padding-left: 26px;
    }*/

    .sub-item li:first-child {
        border-radius: 0;
    }

    .sub-item li:last-child {
        border-radius: 0;
    }

    #tree .plus {
        width: 16px;
        height: 16px;
        float: left;
        margin-top: 14px;
        margin-left: 10px;
        background: url("../../Content/imgs/plus.png") no-repeat;
    }

    #tree .minus {
        width: 16px;
        height: 16px;
        float: left;
        margin-top: 14px;
        margin-left: 10px;
        background: url("../../Content/imgs/minus.png") no-repeat;
    }

    #tree .empty {
        width: 16px;
        height: 16px;
        float: left;
        margin-top: 14px;
        margin-left: 10px;
        /* background: url("../../Content/imgs/plus1.png") no-repeat; */
    }
</style>
<div class="col-md-12">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">用户组管理</h3>
        </div>
        <div class="panel-body">
            <a href="#" onclick="addUserGroup()" class="btn btn-primary">添加用户组</a>
            <div class="control-group" id="tree">
                @Html.Raw(ViewBag.TreeView as string)
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    var arr = [];
    $(document).ready(function () {
        $("#yhgl").addClass("active");
        var obj = '@ViewBag.Arr';
        console.log(obj);
    });
    //添加用户组
    function addUserGroup() {
        var url = "AddUserGroup";
        layer.open({
            type: 2,
            title: '用户组添加',
            shadeClose: true,
            shade: 0.8,
            area: ['30%', '20%'],
            content: url //iframe的url
        });
    }
    var result = '@Html.Raw(TempData["result"] as string)';
    if (result == "true") {
        layer.msg("添加成功", { time: 700 });
        //window.location.href = "/Systems/Admin/Index";
    } else if (result == "false") {
        layer.msg("添加失败", { time: 700 });
    }

    function Fold(thisId, ulId) {
        if ($("#" + ulId).css('display') == "block") {//折叠
            $("#" + thisId).removeClass("minus");
            $("#" + thisId).addClass("plus");
            $("#" + ulId).hide();
            var index = arr.indexOf(thisId + ',' + ulId);
            if (index >= 0) {
                arr.splice(index,1);
            }
        } else {//展开
            $("#" + thisId).removeClass("plus");
            $("#" + thisId).addClass("minus");
            $("#" + ulId).show();
            arr.push(thisId+','+ulId);
        }
        refreshArr();
    }

    var refreshArr = () => {
        $.get('refreshArr?arr='+JSON.stringify(arr),null,
            function(res) {

            });
    }
    //添加
    function Add(id) {
        var url = "/Systems/Account/AddDepartment?DepartmentID=" + id;
        layer.open({
            type: 2,
            title: '添加用户组结构',
            shadeClose: true,
            shade: 0.8,
            area: ['380px', '200px'],
            content: url //iframe的url
        });
    }
    //修改
    var editName = "";
    function Edit(id) {
        var href = "/Systems/Account/EditDepartment?DepartmentID=" + id;
        editName = $("#" + id).text();
        layer.open({
            type: 2,
            title: '用户组修改',
            shadeClose: true,
            shade: 0.8,
            area: ['380px', '200px'],
            content: href, //iframe的url
            end: function() {
                $(".css" + id).text(editName);
            }
        });
    }

    function listUser(id) {
        var href = "/Systems/Account/ListUser?DepartmentID=" + id;
        layer.open({
            type: 2,
            title: '用户组列表',
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: href //iframe的url
        });
    }
    //设置角色
    function authorizeRole(id) {
        var href = "/Systems/Account/AuthorizeRole?page=1&deptId=" + id;
        layer.open({
            type: 2,
            title: '用户组授权',
            shadeClose: true,
            shade: 0.8,
            area: ['80%', '80%'],
            content: href //iframe的url
        });
    }
    //删除
    function onDelete(id) {
        layer.confirm("确认要删除吗?",
            { title: "删除确认" },
            function(index) {
                layer.close(index);
                $.ajax({
                    type: "post",
                    dataType: "json",
                    data: { "departId": id },
                    url: "@Url.Action("DeleteDepartMents")",
                    async: false,
                    success: function(data) {
                        if (data.status) {
                            layer.msg("删除成功", { time: 700 }, function() { window.location.reload(); });
                        } else {
                            layer.msg("删除失败", { time: 700 });
                        }
                    }
                });
            });
    }
    function manager(id) {
        $("#" + id).show();
    }
    function overmanager(id) {
        $("#" + id).hide();
    }
</script>