﻿@model StaticPagedList<Paps.Models.UserInfo>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "管理用户";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNoMenu.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="col-md-12">
    <div class="panel">
        <div class="panel-body">
            <a href="#" class="btn btn-primary addUser">添加用户</a>
            <input type="hidden" id="deptId" value="@ViewBag.DeptId" />
            <table class="table table-striped table-bordered bootstrap-datatable">
                <thead>
                    <tr>
                        <th class="text-center">用户帐号</th>
                        <th class="text-center">用户姓名</th>
                        <th class="text-center col-md-2">开通时间</th>
                        <th class="text-center">权限</th>
                        <th class="col-md-1 text-center">状态</th>
                        <th class="text-center col-md-2">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null && Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@item.Name</td>
                                    <td class="text-center">@item.FullName</td>
                                    <td class="text-center">@item.Date</td>
                                    <td class="text-center">@item.Role</td>
                                    @if (item.Status == "启用")
                                    {
                                        <td class="text-center">
                                            <span class="label label-success">启用</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            <span class="label label-warning">禁用</span>
                                        </td>
                                    }
                                    <td>
                                        @{
                                            if (item.Role != "管理员")
                                            {
                                                <a title="权限设置" href="/Systems/Account/RoleUser?UserID=@item.UserID">
                                                    <i class="role"></i>
                                                </a>
                                            }
                                        }
                                        <a title="编辑" class="btn btn-xs btn-info editUser" href="#" onclick="EditUser(@item.UserID)">编辑</a>
                                        @{
                                            if (item.Status == "启用")
                                            {
                                                <a title="禁用" class="btn btn-xs btn-warning" href="#" onclick="OnLock('@item.UserID')">
                                                    禁用
                                                </a>
                                            }
                                            else
                                            {
                                                <a title="启用" class="btn btn-xs btn-primary" href="#" onclick="UnLock('@item.UserID')">启用</a>
                                            }
                                        }

                                        <a title="删除" class="btn btn-xs btn-danger" href="#" onclick="onDelete('@item.UserID')">
                                            删除

                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <div style="width: 100%;">
                <div style="width: 30%; float: left; height: 80px; line-height: 5em;">
                    共 @Model.PageCount 页
                    第 @Model.PageNumber 页
                    每页 @Model.PageSize 条
                </div>
                <div style="width: 68%; float: left; text-align: right;">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    function EditUser(id) {
        var url = "/Systems/Account/Edit?page=1&UserID=" + id;
        layer.open({
            type: 2,
            title: '编辑用户',
            shadeClose: true,
            shade: 0.8,
            area: ['90%', '85%'],
            content: url //iframe的url
        });
    }
    $(".addUser").click(function() {
        var href = "/Systems/Account/Add?deptId=" + $("#deptId").val();
        layer.open({
            type: 2,
            title: '添加用户',
            shadeClose: true,
            shade: 0.8,
            area: ['50%', '50%'],
            content: href //iframe的url
        });
    });
    function UnLock(id) {
        $.ajax({
            type: "post",
            dataType: "json",
            data: { "UserID": id },
            url: "@Url.Action("UnLock")",
            async: false,
            success: function(data) {
                if (data.status) {
                    layer.msg("启用成功");
                    window.location.reload();
                } else {
                    layer.msg("启用失败");
                }
            }
        });
    }
    function OnLock(id) {
        $.ajax({
            type: "post",
            dataType: "json",
            data: { "UserID": id },
            url: "@Url.Action("OnLock")",
            async: false,
            success: function(data) {
                if (data.status) {
                    layer.msg("禁用成功");
                    window.location.reload();
                } else {
                    layer.msg("禁用失败");
                }
            }
        });
    }
    function onDelete(id) {
        layer.confirm("确认要删除吗?",
            { title: "删除确认" },
            function(index) {
                layer.close(index);
                $.ajax({
                    type: "post",
                    dataType: "json",
                    data: { "UserID": id },
                    url: "@Url.Action("Delete")",
                    async: false,
                    success: function(data) {
                        if (data.status) {
                            layer.msg("删除成功", { time: 700 }, function() { window.location.reload(); });
                        } else {
                            layer.msg("删除失败", { time: 700 });
                        }
                    }
                });
            });
    }
</script>