﻿@model StaticPagedList<Model.Departments>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNew.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/FancyBox/jquery.fancybox.css" rel="stylesheet" />
<div class="col-md-12">
    <!-- TABLE STRIPED -->
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">建设单位管理</h3>
        </div>
        <div class="panel-body">
            <div class="box-header" data-original-title>
                <div class="box-icon">
                    <a href="#" id="addCompany" class="btn btn-primary"><i class="halflings-icon plus"></i>添加建设单位</a>
                    <a href="/Systems/Account/Index" class="btn btn-info"><i class="halflings-icon pencil"></i>用户组管理</a>
                </div>
            </div>
            <table class="table table-striped table-bordered bootstrap-datatable">
                <thead>
                    <tr>
                        <th style="text-align:center;">公司ID</th>
                        <th style="text-align:center;">公司名称</th>
                        <th style="text-align:center;">是否同步</th>
                        <th style="text-align:center;">上次同步时间</th>
                        <th style="text-align:center;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null && Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td style="text-align:center;">@item.DepartmentID</td>
                                    <td style="text-align:center;">@item.Name</td>
                                    @{
                                        if (item.IsAsync == true)
                                        {
                                            <td style="text-align:center;">是</td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;">否</td>
                                        }
                                    }
                                    @{
                                        var date = Paps.Areas.Systems.Controllers.AdminController.GetAsyncDate(item.DepartmentID);
                                        <td style="text-align:center;">
                                            @date
                                        </td>
                                    }
                                    @*@if (item.IsDel == false)
                                        {
                                            <td style="text-align:center;">
                                                <span class="label label-success">启用</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;">
                                                <span class="label label-warning">禁用</span>
                                            </td>
                                        }*@
                                    <td>

                                        @{
                                            if (item.IsAsync == true)
                                            {
                                                <a title="同步禁用" class="btn btn-xs btn-warning" href="#" onclick="OnLock('@item.ID')">禁用同步</a>
                                            }
                                            else
                                            {
                                                <a title="同步启用" class="btn btn-info btn-xs" href="#" onclick="UnLock('@item.ID')">启用同步</a>
                                            }
                                        }
                                        &nbsp;&nbsp;<a title="删除" class="btn btn-xs btn-danger" href="#" onclick="onDelete('@item.ID')">删除</a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <div style="width:100%;">
                <div style="width:30%;float:left;height:80px;line-height:5em;">
                    共 @Model.PageCount 页
                    第 @Model.PageNumber 页
                    每页 @Model.PageSize 条
                </div>
                <div style="width:68%;float:left;text-align:right;">
                    @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.fancybox.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#yhgl").addClass("active");
    });
    $("#addCompany").click(function() {
        $.fancybox({
            width: 520,
            height: '50%',
            padding: 10,
            closeClick: true,
            href: '/Systems/Account/AddCompany',
            type: "iframe",
            mouseWheel: false,
            afterClose: function() {}
        });
    });
    function SetRole(id) {

    }
    function UnLock(id) {
        $.ajax({
            type: "post",
            dataType: "json",
            data: { "departId": id },
            url: "@Url.Action("UnAsync")",
            async: false,
            success: function(data) {
                if (data.status) {
                    layer.msg("启用成功", {time:2000});
                    window.location.reload();
                } else {
                    layer.msg("启用失败");
                }
            }
        });
    }

    function onDelete(id) {
        layer.confirm("确认要删除吗?",
            { title: "删除确认" },
            function(index) {
                layer.close(index);
                $.ajax({
                    type: "post",
                    dataType: "json",
                    data: { "departId": id },
                    url: "@Url.Action("DeleteDepartMents")",
                    async: false,
                    success: function(data) {
                        if (data.status) {
                            layer.msg("删除成功", { time: 700 }, function() { window.location.reload(); });
                        } else {
                            layer.msg("删除失败", { time: 700 });
                        }
                    }
                });
            });
    }

    function OnLock(id) {
        $.ajax({
            type: "post",
            dataType: "json",
            data: { "departId": id },
            url: "@Url.Action("OnAsync")",
            async: false,
            success: function(data) {
                if (data.status) {
                    layer.msg("禁用成功", {time:1500});
                    window.location.reload();
                } else {
                    layer.msg("禁用失败");
                }
            }
        });
    }
</script>