﻿@{
    ViewBag.Title = "Role";
    Layout = "~/Areas/Systems/Views/Shared/_Layout.cshtml";
}
<style>
    #tree ul {
        list-style: none;
    }

    #tree .main_parent {
        margin: 0;
        padding: 0;
        margin-top: 5px;
        margin-left: 80px;
        border: 1px solid #d3d3d3;
        border-radius: 10px;
        width: 80%;
    }

    .main_parent li {
        width: 100%;
        height: 45px;
        background-color: #fff;
        border-bottom: 1px solid #d3d3d3;
    }

        .main_parent li:first-child {
            border-radius: 10px 10px 0px 0px;
        }

        .main_parent li:last-child {
            border-radius: 0px 0px 10px 10px;
        }

        .main_parent li:hover {
            cursor: pointer;
            background-color: #f3f3f3;
        }

    .main_parent .span-item {
        margin: 0;
        padding: 0;
        padding-left: 16px;
        float: left;
        width: 90%;
        height: 45px;
        line-height: 3em;
    }

    .main_parent input[type=button]:first-child {
        margin-left: 30px;
    }

    .main_parent input[type=button] {
        margin-left: 10px;
    }

    #tree .sub-item {
        margin: 0;
        padding: 0;
        width: 97%;
        display: none;
    }

    /*.sub-item li {
        padding-left: 26px;
    }*/

    .sub-item li:first-child {
        border-radius: 0;
    }

    .sub-item li:last-child {
        border-radius: 0;
    }

    #tree .plus {
        width: 16px;
        height: 16px;
        float: left;
        margin-top: 14px;
        margin-left: 10px;
        background: url("../../Content/imgs/plus.png") no-repeat;
    }

    #tree .minus {
        width: 16px;
        height: 16px;
        float: left;
        margin-top: 14px;
        margin-left: 10px;
        background: url("../../Content/imgs/minus.png") no-repeat;
    }

    #tree .empty {
        width: 16px;
        height: 16px;
        float: left;
        margin-top: 14px;
        margin-left: 10px;
        /* background: url("../../Content/imgs/plus1.png") no-repeat; */
    }

    .checkbox.inline {
        margin-top: -6px;
    }
</style>
<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/Systems/Admin/Index">后台</a>
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="/Systems/Account/Index">用户管理</a><i class="icon-angle-right"></i></li>
        <li><a href="#">分配权限</a></li>
    </ul>
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon white edit"></i><span class="break"></span>分配权限</h2>
                <div class="box-icon">
                    @*<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>*@
                </div>
            </div>
            <div class="box-content">
                <div class="control-group" id="tree">
                    @Html.Raw(ViewBag.TreeView as string)
                </div>
                @using (Html.BeginForm("Role", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.Hidden("UserID")
                    <fieldset>
                        <div class="control-group">
                            <div style="margin-left: 80px;">
                                <div>
                                    <input class="btn btn-primary" value="保存" type="button" onclick="EditRole()" />
                                    <input class="btn btn-primary" value="返回" type="button" style="margin-left:20px;" onclick="back()" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>

        </div><!--/span-->

    </div>
</div>
<script type="text/javascript">
    function ChooseRole(id) {
        var ActiveMenuID = $("#" + id).val();
        if (ActiveMenuID != "") {
            $.ajax({
                type: "post",
                dataType: "json",
                data: { "ActiveMenuID": ActiveMenuID },
                url: "@Url.Action("ActiveMenu")",
                async: false,
                success: function (data) {
                    $.each(data, function (a, b) {
                        $("#uniform-chk" + b + " input[type='checkbox']").attr("checked", "checked");
                        $("#uniform-chk" + b + " span").addClass("checked");
                    });
                }
            });
        }
        $("input[id^='" + id + "_']").each(function (a, b) {
            var checkedResult = $("#" + id).is(":checked");
            if (checkedResult) {
                var this_id = b.id;
                $(this).attr("checked", true);
                $("#uniform-" + b.id + " span").addClass("checked");
            } else {
                $(this).attr("checked", false);
                $("#uniform-" + b.id + " span").removeClass("checked");
            }
        });
    }
    function EditRole() {
        var userID = '@ViewBag.UserID';
        var arrValue = "";
        $(".main_parent").find("input[type='checkbox']").each(function (a, b) {
            var check = $(this).is(":checked");
            if (check) {
                var value = $(this).val();
                arrValue += value + "|";
            }
        });
        if (arrValue != "") {
            $.ajax({
                type: "post",
                dataType: "json",
                data: { "arrValue": arrValue, "userID": userID },
                url: "@Url.Action("EditRoles")",
                success: function (data) {
                    if (data.status) {
                        alert("分配权限成功");
                        window.location.href = "/Systems/Account/Index";
                    } else {
                        alert("分配权限失败");
                        console.log(data.msg);
                    }
                }
            });
        }
    }
    function Fold(thisID, UlID) {
        if ($("#" + UlID).css('display') == "block") {
            $("#" + thisID).removeClass("minus");
            $("#" + thisID).addClass("plus");
            $("#" + UlID).hide();
        } else {
            $("#" + thisID).removeClass("plus");
            $("#" + thisID).addClass("minus");
            $("#" + UlID).show();
        }
    }
    function back() {
        window.location.href = "/Systems/Account/Index";
    }
</script>
