﻿/*MenuIndex*/
.menus a {
    width: 100%;
    height: 30px;
}

.sidebar-left a:hover, .sidebar-left a:active, .sidebar-left a:visited, .sidebar-left a:link {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}

#sidebar-left {
    width: 18%;
    overflow-x: scroll;
}

.menus {
    padding: 0;
    margin-top: 14px;
    color: black;
    cursor: pointer;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}

.menus li {
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 30px;
    line-height: 30px;
}

.menus li:hover {
    background-color: lightgray;
}

.sub-item {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

.sub-item li {
    padding-left: 5px;
}

.active {
    background-color: lightgray;
    color: black;
}

.files {
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 7px;
    /*color: #ECBC29;*/
    /*background: url("../../Content/imgs/files.png") no-repeat;*/
}

.pages {
    width: 17px;
    height: 17px;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    /*margin-right: 5px;*/
    /*color: #ECBC29;*/
    /*background: url("../../Content/imgs/pages.png") no-repeat;*/
}

.IsOnline {
    color: black;
}

.IsOffline {
    color: gray;
}

.onlineIco {
    color: black;
}

.offlineIco {
    color: gray;
}

.pages-sub {
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 35px;
    margin-right: 5px;
    background: url("../../Content/imgs/pages.png") no-repeat;
}

.canopen {
    color: #3287B2;
}

/*HomeIndex*/
.tab-pane {
    background-color: white;
}

.tabColor {
    background-color: #ECBC29;
}

.nav-tabs li > a {
    height: 35px;
    padding: 8px;
}


#tree ul {
    list-style: none;
}

#tree .main_parent {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-left: 80px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    width: 80%;
}

.main_parent li {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border-bottom: 1px solid #d3d3d3;
}

    .main_parent li:first-child {
        border-radius: 10px 10px 0px 0px;
    }

    .main_parent li:last-child {
        border-radius: 0px 0px 10px 10px;
    }

    .main_parent li:hover {
        cursor: pointer;
        background-color: #f3f3f3;
    }

.main_parent .span-item {
    margin: 0;
    padding: 0;
    padding-left: 16px;
    float: left;
    width: 90%;
    height: 45px;
    line-height: 3em;
}

.main_parent input[type=button]:first-child {
    margin-left: 30px;
}

.main_parent input[type=button] {
    margin-left: 10px;
}

#tree .sub-item {
    margin: 0;
    padding: 0;
    width: 97%;
    display: none;
}

/*.sub-item li {
        padding-left: 26px;
    }*/

.sub-item li:first-child {
    border-radius: 0;
}

.sub-item li:last-child {
    border-radius: 0;
}

#tree .plus {
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 14px;
    margin-left: 10px;
    background: url("../../Content/imgs/plus.png") no-repeat;
}

#tree .minus {
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 14px;
    margin-left: 10px;
    background: url("../../Content/imgs/minus.png") no-repeat;
}

#tree .empty {
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 14px;
    margin-left: 10px;
    /* background: url("../../Content/imgs/plus1.png") no-repeat; */
}