﻿
.action {
    margin: 15px 0px;
}

.action-div {
    display: inline-block;
    margin-right: 15px;
}

    .action-div span {
        font-weight: bold;
    }

    .action-div input {
        width: 60px;
    }

.selectimage img {
    width: 90px;
    margin: 5px;
}

.bg {
    position: absolute;
    left: 50%;
    top: 25%;
    margin: -100px 0 0 -180px;
    width: 360px;
    height: 200px;
    background: #eee;
}

.item {
    display: inline-block;
    margin: 10px 25px;
    width: 50px;
    height: 50px;
    background: #666;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
}

    .item:hover {
        background: #333;
    }

.one4 {
    background: #fff;
    border-radius: 3px;
    width: 46px;
}

    .one4:hover {
        background: #fff;
    }

.table {
    width: 100%;
    border-collapse: collapse;
}

.td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 6px;
    line-height: 1.42857143;
    vertical-align: middle;
}

th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 6px;
    line-height: 1.42857143;
    vertical-align: middle;
}

.bottomDiv {
    height: 150px;
    overflow: hidden;
    /*border: 1px solid #ddd;*/
}
