﻿@model List<FileInfo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNew.cshtml";
}

<div class="col-md-12">
    <!-- TABLE STRIPED -->
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">数据库管理</h3>
        </div>
        <div class="panel-body">
            <a href="#" onclick="DoBackUp()" class="btn btn-success"><i class="halflings-icon file"></i>备份</a>
            <a href="#" onclick="DoRestore()" class="btn btn-primary"><i class="halflings-icon repeat"></i>还原</a>
            <a href="#" onclick="DoDelete()" class="btn btn-danger"><i class="halflings-icon remove"></i>删除</a>
            <a href="#" onclick="DoRefresh()" class="btn btn-inverse"><i class="halflings-icon refresh"></i>刷新</a>
            @*<a href="#" onclick="OpenSetting()" class=""><i class="halflings-icon white wrench"></i><span style="color: white;">备份参数设置</span></a>*@
            @using (Html.BeginForm("Index", "Access", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <table class="table table-striped table-bordered bootstrap-datatable">
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 50px;"><input type="checkbox" id="checkAll" onclick="Checkall();" /></th>
                            <th style="text-align: left;">序号</th>
                            <th style="text-align: left;">备份时间</th>
                            <th style="text-align: left;">数据文件大小</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var f in Model)
                        {
                            <tr>
                                <td style="text-align: center;"><input type="checkbox" name="item" value="@f.Name" /></td>
                                <td style="text-align: left;">@(Model.IndexOf(f) + 1)</td>
                                <td style="text-align: left;">@f.CreationTime</td>
                                <td>@Math.Round((f.Length / Math.Pow(1024, 2)), 2) MB</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div><!--/span-->
    </div>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script>
    $(document).ready(function () {
        $("#sjkgl").addClass("active");
    });
    $("#checkAll").click(function() {
        if ($(this).prop("checked")) {
            $("input[name='item']").each(function() {
                this.checked = true;
            });
        } else {
            $("input[name='item']").each(function() {
                this.checked = false;
            });
        }
    });
        
    function DoBackUp() {
        $.ajax({
            type: "get",
            dataType: "json",
            data: null,
            url: "DoBackUp",
            async: false,
            success: function (data) {
                layer.msg(data);
                window.location.reload();
            }
        });
    }
    function DoRestore() {
        var fileName = $('input[type=checkbox]:checked').val();
        $.ajax({
            type: "get",
            dataType: "json",
            data: null,
            url: "DoRestore?fileName=" + fileName,
            async: false,
            success: function (data) {
                layer.msg(data);
            }
        });
    }
    function DoDelete() {
        var fileName = "";
        $("input[name='item']:checked").each(function () {
            fileName = $(this).val();
            if (fileName == "") {
                layer.msg("请选择要删除的备份文件");
                return;
            }
            $.ajax({
                type: "get",
                dataType: "json",
                data: null,
                url: "DeleteFile?fileName=" + fileName,
                async: false,
                success: function (data) {
                    layer.msg(data);
                    window.location.reload();
                }
            });
        });
       
    }
    function DoRefresh() {
        window.location.reload();
    }
    function OpenSetting() {

    }
</script>

