﻿ @{ ViewBag.Title = "ChangePassword"; Layout = "~/Areas/Systems/Views/Shared/_LayoutNoMenu.cshtml"; }
<div class="col-sm-12">
	<div class="form-horizontal" style="margin-top: 10px;">
		<div class="form-group">
			<label class="control-label col-sm-2">原密码</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="OldPassword" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">新密码</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="NewPassword" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">确认密码</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" id="ConfirmPassword" />
			</div>
		</div>
		<input class="btn btn-primary" value="保存" type="button" onclick="saveIt()" />
	</div>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
	"use strict";

	function saveIt() {
		$.post("/Home/ChangePassword", {
			oldPassword: $("#OldPassword").val(),
			newPassword: $("#NewPassword").val(),
			confirmPassword: $("#ConfirmPassword").val()
		}, function(res) {
			if(res == "") {
				layer.msg("保存成功", {
					time: 1000
				}, function() {
					var index = parent.layer.getFrameIndex(window.name);
					parent.layer.close(index);
				});
			} else {
				layer.msg(res, {
					time: 1500
				});
			}
		});
	}
</script>