﻿@{ /**/
                /**/
                /**/
                /**/
                /**/
                ViewBag.Title = "MonthDetail"; Layout = "~/Views/Shared/_LayoutContent.cshtml"; }
<style>
    .control-label {
        margin-left: 20px;
    }
</style>
<div>
    <input type="hidden" id="menuId" value="@ViewBag.MenuId" />
    <div class="form-inline">
        <label class="control-label">年份</label>
        <select class="form-control yearSelect" id="yearSelect"></select>
        <label class="control-label">工序</label>
        <select class="form-control workPro" id="workPro"></select>
        <input type="button" class="btn btn-primary" style="margin-left: 30px;" onclick="search()" value="开始统计" />
    </div>
    <div id="main" name="main" style="width: 1400px; height: 355px;"></div>

    <div class="form-inline">
        <label class="control-label">年份</label>
        <select class="form-control yearSelect" id="yearSelectDown"></select>
        @* <label class="control-label">位置</label> *@ @*
            <select class="form-control" id="position"> *@ @*
            <option value="0">隧道内（含掌子面）</option> *@ @*
                <option value="1">隧道内（不含掌子面）</option> *@ @*
                <option value="2">掌子面</option> *@ @* </select> *@
                <input type="button" class="btn btn-primary" style="margin-left: 30px;" onclick="searchDown()" value="开始统计" />
            </div>

            <div id="main1" name="main1" style="width: 1400px; height: 355px;"></div>
        </div>
        <script src="~/Scripts/jquery-3.2.1.min.js"></script>
        <script src="~/Content/js/bootstrap.js"></script>
        <script src="~/Content/layui/lay/modules/layer.js"></script>
        <script src="~/Content/js/echarts.js"></script>
        <script>
            'use strict';

            var mains = document.getElementsByName('main');
            var main1s = document.getElementsByName('main1');
            var myChart = echarts.init(mains[0]);
            var myChart1 = echarts.init(main1s[0]);
            var menuId = $("#menuId").val();

            //根据窗口的大小变动图表 --- 重点
            window.onresize = function () {
                myChart.resize();
                myChart1.resize();
            }
            $(document).ready(function () {
                var year = new Date().getFullYear();
                var month = new Date().getMonth();
                for (var y = year; y >= year - 10; y--) {
                    $(".yearSelect").append('<option value=\'' + y + '1\'>' + y + '\u4E0A\u534A\u5E74</option>');
                    $(".yearSelect").append('<option value=\'' + y + '7\'>' + y + '\u4E0B\u534A\u5E74</option>');
                    $(".yearSelectDown").append('<option value=\'' + y + '1\'>' + y + '\u4E0A\u534A\u5E74</option>');
                    $(".yearSelectDown").append('<option value=\'' + y + '7\'>' + y + '\u4E0B\u534A\u5E74</option>');
                }
                $.get('../api/Services/GetLocalWorkStep?menuId=' + menuId, null, function (res) {
                    res.map(function (r) {
                        $(".workPro").append('<option value=\'' + r + '\'>' + r + '</option>');
                    });
                    if (month >= 6) { //下半年
                        $("#yearSelect").get(0).selectedIndex = 1;
                        $("#yearSelectDown").get(0).selectedIndex = 1;
                    }
                    else { //上半年
                        $("#yearSelect").get(0).selectedIndex = 0;
                        $("#yearSelectDown").get(0).selectedIndex = 0;
                    }
                    search();
                    searchDown();
                });
            });

            function search() {
                var year = $("#yearSelect").children('option:selected').val();
                var workPro = $("#workPro").children('option:selected').val();

                drawChart(workPro, year)
            }

            function searchDown() {

                var year = $("#yearSelectDown").children('option:selected').val();
                drawChartDown(year)
            }

            function drawChart(workPro, year) {
                $.get('../api/Services/GetOnDutyData?workProcedure=' + encodeURI(workPro) + '&year=' + year + '&menuId=' + menuId + "&t=" + new Date().getTime(), null, function (res) {
                    if (res.length == 0) {
                        layer.msg('暂无数据', { time: 2000 })
                        return;
                    }
                    var months = res.map(function (v) {
                        return v.Month + '月';
                    });
                    var leaderList = res.map(function (v) {
                        return v.LeaderCount.toFixed(2);;
                    });
                    var superList = res.map(function (v) {
                        return v.SupervisorCount.toFixed(2);;
                    });
                    var standardList = res.map(function (v) {
                        return v.StandardCount.toFixed(2);;
                    });
                    var wp = workPro == undefined ? '' : workPro;
                    var option = {
                        title: {
                            text: '监理和领导班子' + wp + '工序在岗时长统计（单位：小时）',
                            textStyle: {
                                fontSize: 28
                            },
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['监理人员', '领导班子', '标准时长'],
                            orient: 'vertical',
                            right: 0,
                            top: 60,
                            bottom: 20,
                            textStyle: {
                                fontSize: 20
                            }
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                saveAsImage: {
                                    show: true,
                                    title: '保存'
                                }
                            },
                            itemSize: 20
                        },
                        calculable: true,
                        xAxis: [{
                            type: 'category',
                            data: months
                        }],
                        yAxis: [{
                            type: 'value'
                        }],
                        series: [{
                            name: '监理人员',
                            type: 'bar',
                            itemStyle: {
                                normal: {
                                    color: function color() {
                                        return 'rgb(239,38,49)';
                                    },
                                    label: {
                                        show: true, //开启显示
                                        position: 'top', //在上方显示
                                        textStyle: { //数值样式
                                            color: '#FF2935', fontSize: 10
                                        }
                                    }
                                }

                            },
                            data: superList
                        }, {
                            name: '领导班子',
                            itemStyle: {
                                normal: {
                                    color: function color() {
                                        return 'rgb(93,170,241)';
                                    },
                                    label: {
                                        show: true, //开启显示
                                        position: 'top', //在上方显示
                                        textStyle: { //数值样式
                                            color: '#5DAAF1', fontSize: 10
                                        }
                                    }
                                }
                            },
                            type: 'bar',
                            data: leaderList
                        }, {
                            name: '标准时长',
                            itemStyle: {
                                normal: {
                                    color: function color() {
                                        return 'rgb(242,222,98)';
                                    },
                                    label: {
                                        show: true, //开启显示
                                        position: 'top', //在上方显示
                                        textStyle: { //数值样式
                                            color: '#F2DE62', fontSize: 10
                                        }
                                    }
                                }
                            },
                            type: 'bar',
                            data: standardList
                        }]
                    };

                    myChart.setOption(option);
                });
            }

            function drawChartDown(year) {
                $.get('../api/Services/GetOnlineData?year=' + year + '&menuId=' + menuId, null, function (res) {
                    if (res.length == 0) {
                        layer.msg('暂无数据', { time: 2000 })
                        return;
                    }
                    var months = res.map(function (v) {
                        return v.Month + '月';
                    });
                    var leaderTunnel = res.map(function (v) {
                        return v.LeaderCount.toFixed(2);
                    });
                    var superTunnel = res.map(function (v) {
                        return v.SupervisorCount.toFixed(2);
                    });
                    var standardTunnel = res.map(function (v) {
                        return v.StandardCount.toFixed(2);
                    });
                    var option1 = {
                        title: {
                            text: '监理和领导班子在隧道内时长累计（单位：小时）',
                            textStyle: {
                                fontSize: 28
                            },
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['监理人员', '领导班子', '标准时长'],
                            orient: 'vertical',
                            right: 0,
                            top: 60,
                            bottom: 20,
                            textStyle: {
                                fontSize: 20
                            }
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                saveAsImage: {
                                    show: true,
                                    title: '保存'
                                }
                            },
                            itemSize: 20
                        },
                        calculable: true,
                        xAxis: [{
                            type: 'category',
                            data: months
                        }],
                        yAxis: [{
                            type: 'value'
                        }],
                        series: [{
                            name: '监理人员',
                            type: 'bar',
                            itemStyle: {
                                normal: {
                                    color: function color() {
                                        return 'rgb(239,38,49)';
                                    },
                                    label: {
                                        show: true, //开启显示
                                        position: 'top', //在上方显示
                                        textStyle: { //数值样式
                                            color: '#FF2935', fontSize: 10
                                        }
                                    }
                                }
                            },
                            data: superTunnel
                        }, {
                            name: '领导班子',
                            type: 'bar',
                            itemStyle: {
                                normal: {
                                    color: function color() {
                                        return 'rgb(93,170,241)';
                                    },
                                    label: {
                                        show: true, //开启显示
                                        position: 'top', //在上方显示
                                        textStyle: { //数值样式
                                            color: '#5DAAF1', fontSize: 10
                                        }
                                    }
                                }
                            },
                            data: leaderTunnel
                        }, {
                            name: '标准时长',
                            itemStyle: {
                                normal: {
                                    color: function color() {
                                        return 'rgb(242,222,98)';
                                    },
                                    label: {
                                        show: true, //开启显示
                                        position: 'top', //在上方显示
                                        textStyle: { //数值样式
                                            color: '#F2DE62', fontSize: 10
                                        }
                                    }
                                }
                            },
                            type: 'bar',
                            data: standardTunnel
                        }]
                    };
                    myChart1.setOption(option1);
                });
            }

        </script>