﻿@model List<Model.DayReport>
@{ 
    ViewBag.Title = "DailyReport";
    Layout = "~/Views/Shared/_LayoutContent.cshtml"; 
}
<div class="row-fluid">
	<div class="span12">
		<div class="box-content">
			<div class="form-inline" style="margin-bottom: 10px;">
				<label>选择日期</label>
				<input id="reportdate" name="date" style="background-color: white; cursor: default;" required="required" type="text" value="@ViewBag.Date" class="form-control jedate" readonly="readonly" />
				<label>选择部门</label>
				<select name="deptCode" class="form-control" id="deptCodeD">
						
				</select>
				<button type="button" onclick="searchDailyReport()" style="margin-left: 10px;" class="button btn btn-primary">开始统计<i class="icon-search"></i></button>
			</div>
			<a href="" id="exportDaily" style="display:none;" class="btn btn-success pull-right">导出</a>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>行号</th>
						<th>标志卡号</th>
						<th>姓名</th>
						<th>部门</th>
						<th>职务</th>
						<th>进洞时间</th>
						<th>工作时间</th>
					</tr>
				</thead>
				<tbody id="tbodydr"></tbody>
			</table>
		</div>
	</div>
	<!--/span-->

</div>
<!--/row-->
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.jedate.min.js"></script>
<script>
		'use strict';

		$(document).ready(function() {
		   var dList = JSON.parse(sessionStorage["DeptList"]);
            $("#deptCodeD").append("<option value=''>全部</option>")
            dList.map(function(d) {
                $("#deptCodeD").append("<option value='" + d.DeptNo + "'>" + d.DeptName + "</option>")
            })
		});
		//日历控件
		var start1 = {
			isinitVal: true,
			initAddVal: [-1],
			format: 'YYYY-MM-DD',
			maxDate: $.nowDate(0) //最大日期为当前日期
		};
		$(".jedate").jeDate(start1);

    function searchDailyReport() {
        layer.load(1, {
            shade: [0.6, '#fff'], //0.1透明度的白色背景
            time: 10000,
            end: function () {
                if (showMsg == 1) {
                    layer.msg('客户端没有及时返回数据，请稍后再试！')
                }
            }
        });
        $("#btngetdayreport").click()
    }
</script>