﻿@model List<Model.BSPerInfo>
@{
    Layout = "~/Views/Shared/_LayoutForLogin.cshtml";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box-content">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon white user"></i><span class="break"></span>基站人员信息</h2>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>行号</th>
                    <th>标志卡号</th>
                    <th>姓名</th>
                    <th>部门</th>
                    <th>职务</th>
                    <th>进入时间</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>@(Model.IndexOf(m)+1)</td>
                        <td class="center">@m.IdCardNo</td>
                        <td class="center">@m.Name</td>
                        <td class="center">@m.Dept</td>
                        <td class="center">@m.Title</td>
                        <td class="center">@m.EnterTime</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div><!--/span-->

</div><!--/row-->