﻿@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/custom.css" rel="stylesheet" />
<div id="content" style="padding: 10px;" class="span10">
    <div id="tabContainer" style="height: 854px;"></div>
    <input type="button" id="btngetyeardata" name="btngetyeardata" style="display: none;" value="年视图" />
    <input type="button" id="btngetmonthdata" name="btngetmonthdata" style="display: none;" value="月视图" />
    <input type="button" id="btngetdaydata" name="btngetdaydata" style="display: none;" value="日视图" />
    <input type="button" id="btngetmonthreport" name="btngetmonthreport" style="display: none;" value="月考勤" />
    <input type="button" id="btngetdayreport" name="btngetdayreport" style="display: none;" value="日考勤" />
    <input type="button" id="btnexportexcel" name="btnexportexcel" style="display: none;" value="导出一键查询" />
    <input type="button" id="btnexportmonth" name="btnexportmonth" style="display: none;" value="导出月考勤" />
    <input type="button" id="btnexportday" name="btnexportday" style="display: none;" value="导出日考勤" />
    <input type="button" id="btngetconfig" name="btngetconfig" style="display: none;" value="获取配置信息" />
    <input type="button" id="btngetposition" name="btngetposition" style="display: none;" value="获取位置信息" />
    <input type="button" id="btngettype" name="btngettype" style="display: none;" value="获取分类信息" />
    <input type="button" id="btngetdept" name="btngetdept" style="display: none;" value="获取部门信息" />
    <input type="button" id="btngettitle" name="btngettitle" style="display: none;" value="获取职务信息" />
</div>

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Content/js/bootstrap-tab.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
<script src="~/Scripts/jscolor.js"></script>
<script src="~/Scripts/fabric.min.js"></script>
<script src="~/Scripts/jquery.contip.js"></script>
<script>
    'use strict';
    var ConfigData;
    var LocationData;
    var selectedMonth = 1;
    var showMsg = 1;
    var hasChanged = 0; //图片是否已经修改，默认为0表示没修改
    var canConnect = true;
    var clientId = '@ViewBag.ClientId';
    var code = '';
    var month = '';
    var name = '';
    
    jq(function () {
            var conn = jq.hubConnection();
            conn.qs = { "clientName": clientId, "clientId": clientId };
            var chat = conn.createHubProxy("chat");
            conn.start().done(function () {
                //导出年报表
                jq("#btnexportexcel").click(function () {
                    var obj = JSON.parse(sessionStorage["excelObj"]);
                    obj.SignId = conn.id;
                    obj.DeviceCode = sessionStorage["deviceCode"];
                    chat.invoke("GetData", obj)
                        .done(function () {
                            console.log('done');
                        })
                        .fail(function(e) {
                            console.log('fail');
                        });
                })
                //导出月报表
                jq("#btnexportmonth").click(function () {
                    var obj = JSON.parse(sessionStorage["excelObj"]);
                    obj.SignId = conn.id;
                    obj.DeviceCode = sessionStorage["deviceCode"];
                    chat.invoke("GetData", obj)
                        .done(function() {
                        })
                        .fail(function(e) {
                            console.log('fail');
                        });
                })
                //导出日报表
                jq("#btnexportday").click(function () {
                    var obj = JSON.parse(sessionStorage["excelObj"]);
                    obj.SignId = conn.id;
                    obj.DeviceCode = sessionStorage["deviceCode"];
                    chat.invoke("GetData", obj)
                        .done(function() {
                        })
                        .fail(function(e) {
                            console.log('fail');
                        });
                })
                //获取年数据
                jq("#btngetyeardata").click(function () {
                    var keyWord = $("#keywordY").val();
                    layer.load(1, {
                        shade: [0.6, '#fff'], //0.1透明度的白色背景
                        time: 10000,
                        end: function () {
                            if (showMsg == 1) {
                                layer.msg('客户端没有及时返回数据，请稍后再试！')
                            }
                        }
                    });
                    $("#tbodyyear").html('');
                    var year = $("#yearR").children('option:selected').val();
                    var obj = {
                        SignId: conn.id,
                        DeviceCode: sessionStorage["deviceCode"],
                        QueryModel: {
                            MethodName: 11,
                            Year: year,
                            KeyWord: keyWord
                        }
                    };
                    chat.invoke("GetData", obj)
                        .done(function() {
                        })
                        .fail(function(e) {
                            console.log('fail');
                        });

                });
                //获取月详情
                jq("#btngetmonthdata").click(function () {
                    
                    var obj = {
                        SignId: conn.id,
                        DeviceCode: sessionStorage["deviceCode"],
                        QueryModel: {
                            MethodName: 12,
                            Month: month,
                            CardNo: code
                        }
                    };
                    chat.invoke("GetData", obj)
                        .done(function() {
                        })
                        .fail(function(e) {
                            console.log('fail');
                        });

                });
                //获取日详情
                jq("#btngetdaydata").click(function () {
                    var obj = {
                        SignId: conn.id,
                        DeviceCode: sessionStorage["deviceCode"],
                        QueryModel: {
                            MethodName: 13,
                            CardNo: code,
                            Date: sessionStorage["day"]
                        }
                    };
                    chat.invoke("GetData", obj)
                        .done(function() {
                        })
                        .fail(function(e) {
                            console.log('fail');
                        });

                });
                //获取月考勤
                jq("#btngetmonthreport").click(function () {
                    var obj = {
                        SignId: conn.id,
                        DeviceCode: sessionStorage["deviceCode"],
                        QueryModel: {
                            MethodName: 5,
                            DeptNo: $("#deptCodeM").val(),
                            Date: $("#month").val()
                        }
                    };
                    chat.invoke("GetData", obj)
                        .done(function() {
                        })
                        .fail(function(e) {
                            console.log('fail');
                        });

                });
                //获取日考勤
                jq("#btngetdayreport").click(function () {
                    var obj = {
                        SignId: conn.id,
                        DeviceCode: sessionStorage["deviceCode"],
                        QueryModel: {
                            MethodName: 6,
                            DeptNo: jq("#deptCodeD").val(),
                            Date: jq("#reportdate").val()
                        }
                    };
                    chat.invoke("GetData", obj)
                        .done(function() {
                        })
                        .fail(function(e) {
                            console.log('fail');
                        });

                });
                //获取配置信息
                jq("#btngetconfig").click(function () {
                    var obj = {
                        SignId: conn.id,
                        DeviceCode: sessionStorage["deviceCode"],
                        QueryModel: { MethodName: 15}
                    };
                    chat.invoke("GetData", obj)
                        .done(function() {
                        })
                        .fail(function(e) {
                            console.log('fail');
                        });
                })
                //获取定位信息
                jq("#btngetposition").click(function () {
                    var obj = {
                        SignId: conn.id,
                        DeviceCode: sessionStorage["deviceCode"],
                        QueryModel: { MethodName: 16 }
                    };
                    chat.invoke("GetData", obj)
                        .done(function() {
                        })
                        .fail(function(e) {
                            console.log('fail');
                        });
                })
                //获取分类
                jq("#btngettype").click(function () {
                      var obj = {
                        SignId: conn.id,
                        DeviceCode: sessionStorage["deviceCode"],
                        QueryModel: { MethodName: 17 }
                    };
                    chat.invoke("GetData", obj)
                        .done(function() {
                        })
                        .fail(function(e) {
                            console.log('fail');
                        });
                })
                //获取分类
                jq("#btngetdept").click(function () {
                      var obj = {
                        SignId: conn.id,
                        DeviceCode: sessionStorage["deviceCode"],
                        QueryModel: { MethodName: 2 }
                    };
                    chat.invoke("GetData", obj)
                        .done(function() {
                        })
                        .fail(function(e) {
                            console.log('fail');
                        });
                })
                 //获取职称
                jq("#btngettitle").click(function () {
                      var obj = {
                        SignId: conn.id,
                        DeviceCode: sessionStorage["deviceCode"],
                        QueryModel: { MethodName: 3 }
                    };
                    chat.invoke("GetData", obj)
                        .done(function() {
                        })
                        .fail(function(e) {
                            console.log('fail');
                        });
                })
            });
            conn.disconnected(function() {
                setTimeout(function() {
                    conn.start()
                }, 3000); // Re-start connection after 5 seconds
            });
            //填充部门下拉框
            chat.on("SetDept",
                function (data) {
                    sessionStorage["DeptList"] = data; //放到缓存里
                });
            //填充职务下拉框
            chat.on("SetTitle",
                function (data) {
                    sessionStorage["TitleList"] = data;
                    console.log('setTitle')

                });
            //填充基站下拉框
            chat.on("SetBaseStation",
                function (data) {
                    sessionStorage["BaseStationList"] = data;

                });
            //填充日考勤报表
            chat.on("SetDayReport",
                function (data) {
                    var html = '';
                    var date = jq("#reportdate").val();
                    var res = JSON.parse(data);
                    res.map(function (r) {
                        html += '<tr>\n                            <td>' + r.LineNo + '</td>\n                            <td>' + r.IdCardNo + '</td>\n                            <td>' + r.Name + '</td>\n                            <td>' + r.Dept + '</td>\n                            <td>' + r.Title + '</td>\n                            <td>' + r.EnterTime.replace('T', ' ') + '</td>\n                            <td>' + (r.WorkingTime == null ? "" : r.WorkingTime.replace(':','小时'))+'分钟' + '</td>\n                        </tr>';
                    });
                    jq("#tbodydr").empty().append(html);
                    jq("#exportDaily").attr('href', 'ExportDailyReport?date=' + date + '&name=' + encodeURI(sessionStorage["thirdNode"]));
                    jq("#exportDaily").show();
                    showMsg = 0;
                    layer.closeAll();
                });
            //填充月考勤报表的内容
            chat.on("SetMonthReport",
                function (data) {
                    var res = JSON.parse(data)
                    if (res.length > 0) {

                        var html0 = "<th>姓名</th>";
                        for (var i = 0; i < res[0].Detail.length; i++) {
                            html0 += "<th>" + (i + 1) + "</th>";
                        }
                        html0 += "<th>进隧道天数</th>";
                        html0 += "<th>未进隧道天数</th>";
                        jq("#tr").empty().append(html0);
                        jq("#monthreport").empty();
                        res.map(function (d) {
                            var inCount = 0;
                            var outCount = 0;
                            var html1 = "<tr><td>" + d.Name + "</td>";
                            for (var _i = 0; _i < d.Detail.length; _i++) {
                                html1 += '<td class="center">';
                                if (d.Detail[_i] == "" || d.Detail[_i] == "0:0") {
                                    html1 += '<i class="fa fa-remove text-danger"></i>';
                                    outCount++;
                                } else {
                                    inCount++;
                                    html1 += '<i class="fa fa-check text-success"></i>';
                                }
                                html1 += '</td>';
                            }
                            html1 += "<td class=\"text-center\">" + inCount + "</td>";
                            html1 += "<td class=\"text-center text-danger\">" + outCount + "</td>";
                            jq("#monthreport").append(html1);
                        });
                        jq("#exportMonthly").show();
                        var month = jq("#month").val();
                        //jq("#exportMonthly").attr('href', 'ExportMonthlyReport?month=' + month + '&name=' + sessionStorage["thirdNode"]);
                    }
                    showMsg = 0;
                    jq("#btnSearch").removeAttr('disabled');
                    layer.closeAll();
                });
            //填充系统报警
            chat.on("SetSysAlarmData",
                function (data) {

                });
            //填充超员报警
            chat.on("SetOverPerAlarmData",
                function (data) {
                    var html = '';
                    var res = JSON.parse(data);
                    console.log(res);
                    res.map(function (r) {
                        html += '<tr>\n                            <td class="center">' + r.LineNo + '</td>\n                            <td class="center">' + r.StartTime.replace('T', ' ') + '</td>\n                            <td class="center">' + r.EndTime + '</td>\n                            <td class="center">' + r.QuotaNum + '</td>\n                            <td class="center">' + r.ActualNum + '</td>\n                            <td class="center">' + r.OverPerNum + '</td>\n                            <td class="center">' + r.KeepTime + '</td>\n                         </tr>';
                    });
                    jq("#tbodyopa").empty().append(html);
                });
            //填充一键查询年视图
            chat.on("SetYearData",
                function (data) {
                    var year = jq("#yearR").children('option:selected').val();
                    var obj = JSON.parse(JSON.parse(data));
                    if (obj == null) {
                        layer.msg('没有数据',
                            {},
                            function () {
                                return;
                            });
                    }
                    else {
                        jq("#exportYear").show();
                        var html = '';
                        jq("#exportYear").show();
                        obj.map(function (d) {
                            html += "<tr>\n                        <td>" + (obj.indexOf(d) + 1) + "</td>\n                        <td>" + d.Name + "</td>\n                        <td>" + d.CardNo + "</td>";
                            for (var i = 0; i <= 11; i++) {
                                var currentMonth = [];
                                d.MonthDetails.map(function(d) {
                                    if (d.MonthIndex == i) {
                                        currentMonth.push(d);
                                    }
                                })
                                if (currentMonth.length == 0 || currentMonth[0].Times == 0 || currentMonth[0].Hours.toFixed(2) == 0.00) {
                                    html += "<td class='tdcontent' data-month=\"" + (i + 1) + "\">--</td>";
                                } else {
                                    html += "<td class='tdcontent canclick monthClick' data-month=\"" + (i + 1) + "\">" + currentMonth[0].Times + "/" + (currentMonth[0].Hours.toFixed(2) == "23.97" ? "24.00" : currentMonth[0].Hours.toFixed(2)) + "</td>";
                                }
                            }
                            html += "<td>" + d.Times + "/" + d.Hours.toFixed(2) + "h</td>";
                            html += "</tr>";
                        });
                        jq("#tbodyyear").empty().append(html);

                        jq(".monthClick").on("click", function () {
                            code = jq(this).parent().children("td").eq(2).text(); //工号
                            selectedMonth = jq(this).attr('data-month'); //月份
                            month = year.substring(0, 4) + "-" + selectedMonth;
                            name = jq(this).parent().children("td").eq(1).text(); //姓名
                            layer.open({
                                type: 2,
                                shadeClose: true,
                                closeBtn: 2,
                                title: ["<span style=\"margin-left: 80px; font-size: 18px; font-weight: 600;\">" + name + " " + year + "\u5E74" + selectedMonth + "\u6708</span>", 'text-align: center; background-color: #214080; color: white;'],
                                content: ["MonthDetail", 'no'],
                                area: ['90%', "700px"]
                            });
                            $("#btngetmonthdata").click();
                        });
                    }
                    showMsg = 0;
                    layer.closeAll();
                });
            //填充一键查询月视图
            chat.on("SetMonthData",
                function (data) {
                    var obj = JSON.parse(JSON.parse(data))
                    console.log(obj);
                    var year = jq("#yearR").children('option:selected').val();
                    var months = new Array(1, 3, 5, 7, 8, 10, 12);
                    var cardNo = obj.CardNo;
                    var a = 30;
                    if (parseInt(selectedMonth) == 2) a = 28;
                    if (months.indexOf(parseInt(selectedMonth)) >= 0) a = 31;
                    var finalHtml = '<div style="width: 100%;"><table class="table table-bordered" style="width: 100%; height: 100%; border: 1px solid #ddd; border-collapse: collapse;"><tbody id="tbodyMonthDetail">';
                    for (let i = 0; i < 5; i++) {
                        var tempRow = '<tr>'
                        for (let j = 0; j < 7; j++) {
                            var day = j + i * 7;
                            var dayTd = '';
                            if (day < a) {
                                dayTd = '<td><div style="padding: 10px"><span style="font-weight: 600;">' + (day + 1) + '</span><br /><br />';

                                if (obj.DayViews[day].Hours.toFixed(2) == 0.00) {
                                    dayTd += '<span>0 次/ 0 h</span>';
                                } else {
                                    var info = '\''+year + '-' + selectedMonth + '-' + (day + 1)+'\'';
                                    dayTd += '<span onclick="showDetail(' + info + ', ' + cardNo + ', ' + obj.DayViews[day].Hours.toFixed(2) + ')" class="canclick">' + obj.DayViews[day].Times + ' 次/ ' + (obj.DayViews[day].Hours.toFixed(2) == "23.97" ? "24.00" : obj.DayViews[day].Hours.toFixed(2)) + ' h</span>';
                                }
                                dayTd += '</div></td>';
                            } else {
                                dayTd = '<td></td>';
                            }
                            tempRow += dayTd;
                        }
                        tempRow += "</tr>";
                        finalHtml += tempRow;
                    }
                    finalHtml += '</tbody></table></div>';

                    jq("iframe").contents().find("body").append(finalHtml)
                });
            //填充一键查询日视图
            chat.on("SetDayData",
                function (data) {
                    var obj = JSON.parse(JSON.parse(data))
                    var html = "";
                    var hours = Number(sessionStorage["hours"]).toFixed(2)
                    for (var i = 0; i < obj.length - 1; i++) {
                        html += " " + obj[i] + " <br/>"
                    }
                    if (hours == "23.97") hours = '24.00';
                    html += '合计：' + hours + ' h';
                    layer.close(dayLayer)
                    var dayLayer = layer.open({
                        type: 1,
                        shadeClose: true,
                        closeBtn: 2,
                        title: false,
                        content: "<div style=\"height:auto; min-height:100%; background-color: #214080; color: white;\"><div style=\"padding-top:10px; text-align:center\">" + html + "</div></div>",
                        area: ['15%', '60%']
                    });
                });
            //填充下载一键查询
            chat.on("ReturnExcel",
                function (data) {
                    showMsg = 0;
                    layer.closeAll();
                    window.location.href = "../temp/" + data;
                });
            //获取配置信息
            chat.on("SetConfigData", function (data) {
                ConfigData = JSON.parse(data);
                //console.log('config',ConfigData);
            })
            //获取定位信息
            chat.on("SetLocationData",
                function(data) {
                    LocationData = JSON.parse(data);
                });
            //
            chat.on("SetTypes",
                function(data) {
                    sessionStorage["Types"] = data;
                    var res = JSON.parse(data);
                    jq("#type").empty();
                    jq("#type").append("<option value=''>全部</option>");
                    res.map(function(r) {
                        jq("#type").append("<option value='" + r.Catelog + "'>" + r.Catelog + "</option>");
                    });
                });
            chat.on("NoTypes",
                function (data) {
                    canConnect = false;
                    console.log(data);
                });
            chat.on("SetBackGroundImage",
                function(d) {
                    //alert('ddd')
                    hasChanged = 1; //表示图片已经修改了
                });
    });
    jq("#tabContainer").tabs({
        data: [{
            id: '',
            text: 'a',
            url: "#",
            closeable: true
        }],
        showIndex: 0,
        loadAll: false
    });
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    function GetPara(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    jq(document).ready(function() {
        jq("#myTab").css('height', '35px');
        var realText = "";
        var firstOnlineNode = jq(".IsOnline")[0].text;
        var nodeText = sessionStorage["thirdNode"];
        if (nodeText != undefined) {
            realText = nodeText;
        } else {
            realText = firstOnlineNode;
        }
        var menuId = '';
        var obj = jq("a:contains('" + realText + "')");
        if (obj.length == 1) {
            jq("a:contains('" + realText + "')").eq(0).click();
            menuId = jq("li[name='" + realText + "']").attr('id').split('_')[1];
        } else {
            obj.map(function(i, item) {
                var canClick = item.className.indexOf('IsOnline') >= 0;
                if (canClick) {
                    item.click();
                    menuId = jq("li[name='" + realText + "']").attr('id').split('_')[1];
                }
            });
        }
    });
</script>