﻿@{ Layout = null; }
<link href="~/Content/layui/css/layui.css" rel="stylesheet" />
<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
<link href="~/Content/FancyBox/jquery.fancybox.css" rel="stylesheet" />
<link href="~/Content/css/jquery.jedate.css" rel="stylesheet" />

<style>
    th {
        text-align: center;
    }

    .jedate {
        background-color: white;
        cursor: pointer;
    }

    .export {
        margin-left: 10px;
    }

    .input-group-addon {
        padding: 0;
    }
</style>
<div style="margin-top: -10px;">
    <ul id="myTab1" class="nav nav-tabs">
        <li class="active">
            <a href="#home" data-toggle="tab">
                在线率详情
            </a>
        </li>
        <li>
            <a href="#ios" data-toggle="tab">在线率汇总</a>
        </li>
    </ul>
    <div id="myTab1Content" class="tab-content">
        <div class="tab-pane fade in active" style="padding: 10px; border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;" id="home">
            <div class="form-inline" style="margin-bottom: 5px;">
                <label class="control-label">所属区域：</label>
                <div class="input-group">
                    <input class="form-control input-sm" id="selectNode" style="cursor: pointer;" /><span class="input-group-addon"><i id="selectNodeAdd" class="fa fa-angle-down" style="font-size: 14px;"></i></span>
                    <div id="treeview2" class="dropdown-menu" style="min-width: 200px; max-height: 600px; overflow-y: scroll; margin-top: -1px;"></div>
                </div>
                <input type="hidden" name="workPoint" id="workPoint" />
                <label class="control-label">时间从：</label>
                <input class="form-control input-sm jedate" readonly="readonly" id="startTime" />
                <label class="control-label">至：</label>
                <input class="form-control input-sm jedate" readonly="readonly" id="endTime" />
                <label class="control-label">关键字：</label>
                <input class="form-control input-sm" id="keyword" />
                <label class="control-label">统计指标：</label>
                <select class="form-control input-sm" id="unit">
                    <option value="h" selected="selected">小时</option>
                    <option value="d">天</option>
                </select>
                <button class="btn btn-primary" onclick="Statistics()"><i class="fa fa-search"></i>统计</button>
            </div>
            <h3 class="panel-title text-center"><strong>在线率详情报表</strong></h3>
            <div class="form-inline text-center">
                <span class="text-center">统计时间：<span id="st"></span>~<span id="et"></span></span>
                <span class="text-center" style="padding-left: 50px;">制表时间：<span id="CreateTime"></span></span>
            </div>
            <div class="boxContainer">
                <table class="layui-hide" id="detail"></table>
            </div>
            <a id="exportDetail" class="btn btn-success export" style="display:none;" href="../Systems/Access/ExportDetailReport">导出</a>
        </div>
        <div class="tab-pane fade" style="padding: 10px; border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;" id="ios">
            <div class="form-inline" style="margin-bottom: 5px;">
                <label class="control-label">所属区域：</label>
                <div class="input-group">
                    <input class="form-control input-sm" id="selectNodeSummary" style="cursor: pointer;" /><span class="input-group-addon"><i id="selectNodeSummaryAdd" class="fa fa-angle-down" style="font-size: 14px;"></i></span>
                    <div id="treeview2Summary" class="dropdown-menu" style="min-width: 200px; max-height: 600px; overflow-y: scroll; margin-top: -1px;"></div>
                </div>
                <input type="hidden" name="workPoint" id="workPointSummary" />
                <label class="control-label">时间从：</label>
                <input class="form-control input-sm jedate" readonly="readonly" id="startTimeSummary" />
                <label class="control-label">至：</label>
                <input class="form-control input-sm jedate" readonly="readonly" id="endTimeSummary" />
                <label class="control-label">关键字：</label>
                <input class="form-control input-sm" id="keywordSummary" />
                <label class="control-label">统计指标：</label>
                <select class="form-control input-sm" id="unitSummary">
                    <option value="h" selected="selected">小时</option>
                    <option value="d">天</option>
                </select>
                <button class="btn btn-primary" onclick="StatisticsSummary()"><i class="fa fa-search"></i>统计</button>
            </div>
            <h3 class="text-center panel-title"><strong>在线率汇总报表</strong></h3>
            <div class="form-inline text-center">
                <span class="text-center">统计时间：<span id="stSummary"></span>~<span id="etSummary"></span></span>
                <span class="text-center" style="padding-left: 50px;">制表时间：<span id="CreateTimeSummary"></span></span>
            </div>
            <div class="boxContainer">
                <table class="layui-hide" id="summary"></table>
            </div>
            <a id="exportSummary" class="btn btn-success export" style="display:none;" href="../Systems/Access/ExportSummaryReport">导出</a>
        </div>
    </div>
</div>
<!--<script src="~/Scripts/jquery-3.2.1.min.js"></script>-->
<script src="~/Content/layui/layui.js"></script>
<script src="~/Content/js/bootstrap.js"></script>
<script src="~/Scripts/bootstrap-treeview.min.js"></script>
<script src="~/Scripts/jquery.jedate.min.js"></script>
<script src="~/Scripts/jquery.fancybox.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
	'use strict';

	var unitText = '（小时）';
	var unitTextSummary = '（小时）';
	$(document).ready(function() {
		//$("#exportSummary").hide();
		//$("#exportDetail").hide();
		$("#zxltj").addClass("active");
		var list = '@ViewBag.List';
		if(list == 'no data') {
			layer.msg('没有数据，请先统计之后再导出数据！');
		}
		layer.closeAll('loading');
		$.get("/Access/GetTree", null, function(data) {
			var defaultData1 = $.parseJSON(data);
			$('#treeview2').treeview({
				data: defaultData1,
				levels: 2,
				onNodeSelected: function onNodeSelected(event, node) {
					$("#selectNode").val(node.text);
					$("#workPoint").val(node.id);
                    $("#selectNode").click();
				}
			});
		});
		$.get("/Access/GetTree?isSummary=1", null, function(data) {
			var defaultData1 = $.parseJSON(data);
			$('#treeview2Summary').treeview({
				data: defaultData1,
				levels: 2,
				onNodeSelected: function onNodeSelected(event, node) {
					$("#selectNodeSummary").val(node.text);
					$("#workPointSummary").val(node.id);
                    $("#selectNodeSummary").click();
				}
			});
		});
	});
	//日历控件
	var startDate = {
		isinitVal: true,
		initAddVal: [-7],
		format: 'YYYY-MM-DD',
		maxDate: $.nowDate(0) //最大日期为当前日期
	};
	var endDate = {
		isinitVal: true,
		initAddVal: [0],
		format: 'YYYY-MM-DD',
		maxDate: $.nowDate(0) //最大日期为当前日期
	};
	$("#startTime").jeDate(startDate);
	$("#endTime").jeDate(endDate);
	$("#startTimeSummary").jeDate(startDate);
	$("#endTimeSummary").jeDate(endDate);
	$("#removeContent").click(function() {
		$("#selectNode").val('');
		$("#workPoint").val(null);
	});
	$("#removeContentSummary").click(function() {
		$("#selectNodeSummary").val('');
		$("#workPointSummary").val(null);
	});
    $("#selectNode, #selectNodeAdd").on('click', function(event) {
		event.stopPropagation();
		$("#treeview2").toggle();
	});
    $("#selectNodeSummary, #selectNodeSummaryAdd").on('click', function(event) {
		event.stopPropagation();
		$("#treeview2Summary").toggle();
	});
	$("#unit").change(function() {
		var v = $("#unit").children('option:selected').text();
		unitText = '\uFF08' + v + '\uFF09';
	});
	$("#unitSummary").change(function() {
		var v = $("#unitSummary").children('option:selected').text();
		unitTextSummary = '\uFF08' + v + '\uFF09';
	});
	//获取详情数据并显示
	function Statistics() {
		var now = new Date();
		$("#CreateTime").empty().html(now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate() + ' ' + now.getHours() + ':' + now.getMinutes());
		var wp = $("#workPoint").val();
		var st = $("#startTime").val();
		var et = $("#endTime").val();
		var kw = $("#keyword").val();
		$("#et").html(et);
		$("#st").html(st);
		$("#onlineDetail").html('');
		var ut = $("#unit").val();
		layui.use('table', function() {
			var table = layui.table;
			//            layer.load(0);
			table.render({
				elem: '#detail',
				url: 'GetOnlineRateForLayui',
                method: 'post',
				where: {
					"startTime": st,
					"endTime": et,
					"listIds": wp,
					"pointTxt": kw,
					"unit": ut
				},
				response: {
					dataName: 'data'
				},
				cellMinWidth: 120 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
					,
				cols: [
					[{
						field: 'RegionName',
						width: '30%',
						title: '所属区域',
						sort: true
					}, {
						field: 'PointName',
						width: '10%',
						title: '工点名称',
						sort: true
					}, {
						field: 'OnlineHours',
						width: '20%',
						title: '在线' + unitText,
						sort: true
					}, {
						field: 'TotalHours',
						width: '20%',
						title: '应在线' + unitText,
						sort: true
					}, {
						field: 'OnlineRateStr',
						title: '在线率',
						width: '20%',
						minWidth: 100,
						sort: true //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
					}]
				],
				done: function done() {
					layer.closeAll('loading');
					$("#exportDetail").show();
				}
			});
		});
	};
	//获取汇总数据并显示
	function StatisticsSummary() {
		var now = new Date();
		$("#CreateTimeSummary").empty().html(now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate() + ' ' + now.getHours() + ':' + now.getMinutes());
		var wp = $("#workPointSummary").val();
		var st = $("#startTimeSummary").val();
		var et = $("#endTimeSummary").val();
		var kw = $("#keywordSummary").val();
		$("#etSummary").html(et);
		$("#stSummary").html(st);
		$("#onlineSummary").html('');
		var ut = $("#unitSummary").val();
		layui.use('table', function() {
			var table = layui.table;
			//            layer.load(0);
            table.render({
                elem: '#summary',
                url: 'GetOnlineRateForLayui',
                method: 'post',
                totalRow: true,
                where: {
                    "startTime": st,
                    "endTime": et,
                    "listIds": wp,
                    "pointTxt": kw,
                    "unit": ut
                },
                response: {
                    dataName: 'summaryData'
                },
                cellMinWidth: 120, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                //page: true, 开启分页
                cols: [
                    [
                        {
                            field: 'RegionName',
                            width: '30%',
                            title: '所属区域',
                            sort: true,
                            totalRowText: '合计：'
                        }, {
                            field: 'PointName',
                            width: '10%',
                            title: '工点数',
                            sort: true,
                            totalRow: true
                        }, {
                            field: 'OnlineHours',
                            width: '10%',
                            title: '在线' + unitTextSummary,
                            sort: true,
                            totalRow: true
                        }, {
                            field: 'TotalHours',
                            width: '10%',
                            title: '应在线' + unitTextSummary,
                            sort: true,
                            totalRow: true
                        }, {
                            field: 'OnlineRateStr',
                            title: '在线率',
                            width: '20%',
                            minWidth: 100,
                            sort: true,
                            totalRow:true
                        }, {
                            field: 'Pm',
                            title: '排名',
                            minWidth: 100,
                            sort: true
                        }
                    ]
                ],
                done: function done() {
                    layer.closeAll('loading');
                    $("#exportSummary").show();
                    var totalRate = $(".laytable-cell-1-0-4").last().text(); //获取在线率总和
                    var numTotal = new Number(totalRate / $(".laytable-cell-1-0-4").length - 2).toFixed(2); //计算平均值
                    $(".laytable-cell-1-0-4").last().text(numTotal + '%') //计算平均在线率，LayuiTable暂时不支持计算平均值
                    $(".laytable-cell-1-0-1").last().text(new Number($(".laytable-cell-1-0-1").last().text()).toFixed(0)) //工点数合计取整
                }
            });
        });
	};
</script>