﻿
<div class="auth-box ">
    <div class="left">
        <div class="content">
            <div class="header">
                <div class="logo text-center">
                    @* <img src="~/Areas/Systems/Content/assets/img/logo-dark.png" /> *@
                </div>
                <p class="lead" style="font-size: x-large">隧道人员定位管理系统</p>
            </div>
@*             @using (Html.BeginForm("SendMsg", "Home", FormMethod.Post, new { id = "login", @class = "form-auth-small" })) *@
@*             { *@
@*                 <button type="submit" class="btn btn-primary btn-lg btn-block">Socket发送消息</button> *@
@*             } *@
            @using (Html.BeginForm("DoLogin", "Home", FormMethod.Post, new { id = "login", @class = "form-auth-small" }))
            {
                <div class="form-group">
                    <label for="userName" class="control-label sr-only">账号</label>
                    <input type="text" class="form-control" id="userName" name="userName" value="" placeholder="用户名">
                </div>
                <div class="form-group">
                    <label for="signin-password" class="control-label sr-only">密码</label>
                    <input type="password" class="form-control" name="password" id="password" value="" placeholder="密码">
                </div>
                @*                                 <div class="form-group clearfix"> *@
                @*                                     <label class="fancy-checkbox element-left"> *@
                @*                                         <input type="checkbox"> *@
                @*                                         <span>记住我</span> *@
                @*                                     </label> *@
                @*                                 </div> *@
                <button type="submit" class="btn btn-primary btn-lg btn-block">登 录</button>
                <div class="alert alert-danger alert-dismissible" hidden="hidden" id="IsExits" role="alert">
                    <i class="fa fa-times-circle"></i>错误的用户名密码
                </div>
                <div class="alert alert-danger alert-dismissible" hidden="hidden" id="IsActive" role="alert">
                    <i class="fa fa-times-circle"></i>您的账户已被禁用
                </div>
                <span id="IsExits" class="text-error" hidden="hidden" style="margin-left: 20px;">您的账户不存在</span>
                <span id="IsAdmin" class="text-error" hidden="hidden" style="margin-left: 20px;">您的权限不是管理员</span>
                <span id="IsUser" class="text-error" hidden="hidden" style="margin-left: 20px;">权限变更，请重新登录</span>
                <span id="IsDelete" class="text-error" hidden="hidden" style="margin-left: 20px;">账户已经被删除或禁用</span>
                @*                                 <div class="bottom"> *@
                @*                                     <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">忘记密码</a></span> *@
                @*                                 </div> *@
            }
        </div>

    </div>
    <div class="right">
        <div class="overlay"></div>
        <div class="content text">
            <h1 class="heading">欢迎使用隧道人员定位管理系统</h1>
            @* <a href="http://www.r93535.com/gateway/gateway/gateway!init.action" style="color: white; position: absolute; margin-top: 25px; font-size: large;">铁路工程管理平台<i class="fa fa fa-paper-plane-o"></i></a> *@
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Areas/Systems/Content/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        sessionStorage.clear();

        function refresh(){
            window.location.reload();
            setTimeout(refresh , 5000);
        }
        var result = '@TempData["result"]';
        if (result == "IsActive") {
            $("#IsActive").show();
        }
        else if (result == "IsExits") {
            $("#IsExits").show();

        }
    });
</script>


