﻿@using Model
@{ ViewBag.Title = "MonthDetail"; Layout = null; }
<style>
    td {
        border: 1px solid #dddddd;
        vertical-align: middle;
    }

    th {
        border: 1px solid #dddddd;
        font-size: 18px;
        font-weight: 600;
    }

    .canclick {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }
</style>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script>
    function showDetail(d, cardNo, h) {
        sessionStorage["hours"] = h;
        sessionStorage["day"] = d;
        code = cardNo;
        window.parent.$("#btngetdaydata").click()
    }
</script>
<div style="width: 100%;">
    <table class="table table-bordered" style="width: 100%; height: 100%; border: 1px solid #ddd; border-collapse: collapse;">
        <tbody id="tbodyMonthDetail" style="background-color:lightyellow; border: 1px solid double"></tbody>
    </table>
</div>
