﻿@model List<Model.MonthReport>
@{ ViewBag.Title = "MonthlyReport"; Layout = "~/Views/Shared/_LayoutContent.cshtml"; }
<div class="row-fluid">
    <div class="span12">
        <div class="box-content">
            <div class="form-inline">
                <label>选择月份</label>
                <input id="month" name="month" value="@ViewBag.Month" style="background-color: white; cursor: default;" required="required" type="text" class="form-control jedate" readonly="readonly" />
                <span style="margin-left: 10px;">选择部门</span>
                <select name="deptCode" style="margin: 0 0 0 10px;" class="form-control" id="deptCodeM"></select>
                <button id="btnSearch" type="button" style="margin-left: 10px;" class="button btn btn-primary">开始统计<i class="icon-search"></i></button>
            </div>
            <div style="overflow-x: scroll;">
                <a href="" id="exportMonthly" style="display:none;" class="btn btn-success pull-right">导出</a>
                <table class="table table-striped table-bordered" style="min-width: 1400px; word-break: keep-all">
                    <thead>
                        <tr id="tr"></tr>
                    </thead>
                    <tbody id="monthreport">
                </table>
            </div>
        </div>
    </div>
    <!--/span-->

</div>
<!--/row-->
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.jedate.min.js"></script>
<script>
    //日历控件
    "use strict";

    var start1 = {
        isinitVal: true,
        initAddVal: [-1],
        format: 'YYYY-MM',
        maxDate: $.nowDate(0) //最大日期为当前日期
    };
    $(".jedate").jeDate(start1);
    $("#btnSearch").click(function () {
        submitForm();
    });
    function submitForm() {
        layer.load(1, {
            shade: [0.6, '#fff'], //0.1透明度的白色背景
            time: 10000,
            end: function () {
                if (showMsg == 1) {
                    layer.msg('客户端没有及时返回数据，请稍后再试！')
                }
            }
        });

        $("#tr").html('');
        $("#monthreport").html('');
        
        $("#exportMonthly").attr('href', 'ExportMonthlyReport?month=' + month + '&name=' + encodeURI(sessionStorage["thirdNode"]));
        $("#btngetmonthreport").click();
        showMsg = 1;
    };

    $(document).ready(function () {
        var dList = JSON.parse(sessionStorage["DeptList"]);
        $("#deptCodeM").append("<option value=''>全部</option>")
        dList.map(function (d) {
            $("#deptCodeM").append("<option value='" + d.DeptNo + "'>" + d.DeptName + "</option>")
        })
        $.get('../api/Services/GetDeptList',
            null,
            function (res) {
                res.map(function (r) {
                    $("#deptCodeM").append('<option value="' + r.DeptNo + '">' + r.DeptName + '</option>');
                });
            });
    });
    
</script>
