﻿ @{ ViewBag.Title = "OnKeySearch"; Layout = "~/Views/Shared/_LayoutContent.cshtml"; }
<style>
	th {
		text-align: center;
	}
	
	.jedate {
		background-color: white;
		cursor: pointer;
	}
</style>
<div class="form-inline" style="margin-bottom: 5px;">
	<label class="control-label">所属区域：</label>
	<div class="input-group">
		<input class="form-control input-sm" style="cursor: pointer;" id="selectNode" />
		<div id="treeview2" class="dropdown-menu" style="min-width: 200px; max-height: 600px; overflow-y: scroll; margin-top: -1px;"></div>
	</div>
	<input type="hidden" name="workPoint" id="workPoint" value="@ViewBag.WorkPoint" />
	<label>时间从：</label>
	<input class="form-control input-sm jedate" readonly="readonly" id="startTime" />
	<label>至：</label>
	<input class="form-control input-sm jedate" readonly="readonly" id="endTime" />
	<label>关键字：</label>
	<input class="form-control input-sm" id="keyword" />
	<label>统计指标：</label>
	<select class="form-control input-sm">
		<option value="h" selected="selected">小时</option>
		<option value="d">天</option>
		<option value="m">月</option>
	</select>
	<button class="btn btn-primary" onclick="Statistics()"><i class="fa fa-search"></i>统计</button>
</div>
<ul id="myTab" class="nav nav-tabs">
	<li class="active">
		<a href="#home" data-toggle="tab">
			在线率详情
		</a>
	</li>
	<li>
		<a href="#ios" data-toggle="tab">在线率汇总</a>
	</li>
</ul>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" style="padding: 0; border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;" id="home">
		<br />
		<h3 class="panel-title text-center"><strong>在线率详情报表</strong></h3>
		<div class="form-inline text-center">
			<span class="text-center">统计时间：<span class="startTime"></span>~<span class="endTime"></span></span>
			<span class="text-center" style="padding-left: 50px;">制表时间：<span class="CreateTime"></span></span>
		</div>
		@using (Html.BeginForm("GetOnlineRate", "Access", FormMethod.Post, new { id = "frm" })) {
		<a id="export" class="btn btn-success pull-right" href="ExportDetailReport">导出</a>
		<table class="table table-striped table-bordered" style="border-collapse: collapse; text-align: center;">
			<thead>
				<tr>
					<th>序号</th>
					<th>所属区域</th>
					<th>工点名称</th>
					<th>在线（小时）</th>
					<th>应在线（小时）</th>
					<th>在线率</th>
				</tr>
			</thead>
			<tbody>
				@if (Model != null) { int i = 0; foreach (var m in Model) {
				<tr>
					<td>@(Model.IndexOf(m) + 1)</td>
					<td class="center">@m.RegionName</td>
					<td class="center">@m.PointName</td>
					<td class="center">@m.OnlineHours</td>
					<td class="center">@m.TotalHours</td>
					<td class="center">@m.OnlineRate%</td>
				</tr>
				} }
			</tbody>
		</table>
		}
	</div>
	<div class="tab-pane fade" style="padding: 0; border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;" id="ios">
		<br />
		<h3 class="text-center panel-title"><strong>在线率汇总报表</strong></h3>
		<div class="form-inline text-center">
			<span class="text-center">统计时间：<span class="startTime"></span>~<span class="endTime"></span></span>
			<span class="text-center" style="padding-left: 50px;">制表时间：<span class="CreateTime"></span></span>
		</div>
		@using (Html.BeginForm("GetSummaryReport", "Access", FormMethod.Post, new { id = "frm" })) {
		<a id="export" class="btn btn-success pull-right" href="ExportSummaryReport">导出</a>
		<table class="table table-striped table-bordered" style="border-collapse: collapse; text-align: center;">
			<thead>
				<tr>
					<th>序号</th>
					<th>所属区域</th>
					<th>工点数</th>
					<th>在线（小时）</th>
					<th>应在线（小时）</th>
					<th>在线率</th>
				</tr>
			</thead>
			<tbody>
				@if (Model != null) { int i = 0; foreach (var m in Model) {
				<tr>
					<td>@(Model.IndexOf(m) + 1)</td>
					<td class="center">@m.RegionName</td>
					<td class="center">@m.PointName</td>
					<td class="center">@m.OnlineHours</td>
					<td class="center">@m.TotalHours</td>
					<td class="center">
						<a href="#" onclick="showDetail(@m.RegionId)">@m.OnlineRate%</a>
					</td>
				</tr>
				} }
			</tbody>
		</table>
		}
	</div>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/js/bootstrap.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script src="~/Scripts/bootstrap-treeview.min.js"></script>
<script src="~/Scripts/jquery.jedate.min.js"></script>
<script>
	"use strict";

	$(document).ready(function() {
		$("#zxltj").addClass("active");
		var list = '@ViewBag.List';
		if(list == 'no data') {
			layer.msg('没有数据，请先统计之后再导出数据！');
		}
		layer.closeAll('loading');
	});
	//日历控件
	var startDate = {
		isinitVal: true,
		initAddVal: [-7],
		format: 'YYYY-MM-DD',
		maxDate: $.nowDate(0) //最大日期为当前日期
	};
	var endDate = {
		isinitVal: true,
		initAddVal: [0],
		format: 'YYYY-MM-DD',
		maxDate: $.nowDate(0) //最大日期为当前日期
	};
	$("#startTime").jeDate(startDate);
	$("#endTime").jeDate(endDate);
	$("#removeContent").click(function() {
		$("#selectNode").val('');
		$("#workPoint").val(null);
	});
	$(document).ready(function() {
		$.get("/Access/GetTree", null, function(data) {
			var defaultData1 = $.parseJSON(data);
			$('#treeview2').treeview({
				data: defaultData1,
				levels: 2,
				onNodeSelected: function onNodeSelected(event, node) {
					$("#selectNode").val(node.text);
					$("#workPoint").val(node.id);
					$("#selectNode").click();
				}
			});
		});
	});
	$("#selectNode").on('click', function(event) {
		event.stopPropagation();
		$("#treeview2").toggle();
	});
	var Statistics = function Statistics() {
		var wp = $("#workPoint").val();
		var st = $("#startTime").val();
		var et = $("#endTime").val();
		var kw = $("#keyWord").val();
		$(".endTime").html(et);
		$(".startTime").html(st);

		$.post("GetOnlineRate", {
			"startTime": st,
			"endTime": et,
			"listIds": wp,
			"pointTxt": kw
		}, function(res) {
			console.log(res.createtime.toString());
			$(".CreateTime").html(res.createtime.toString());
		});
	};
</script>