﻿@model List<Model.OverPerAlarmData>
	@{ ViewBag.Title = "MonthlyReport"; Layout = "~/Views/Shared/_LayoutContent.cshtml"; }
	<div class="row-fluid">
		<div class="span12">
			<div class="box-content">
				<div class="form-inline" style="background-color: rgb(245, 245, 245); margin-bottom: 10px;">
					<label style="margin-left: 10px;">开始时间</label>
					<input id="starttimeOver" name="startTimeOver" style="background-color: white; cursor: pointer;" required="required" type="text" class="form-control jedate" readonly="readonly" />
					<label>结束时间</label>
					<input type="text" class="form-control jedate" style="background-color: white; cursor: pointer;" readonly="readonly" id="endtimeOver" name="endTimeOver">
					<button type="button" style="margin-left: 10px;" onclick="search()" class="button btn btn-primary">开始统计<i class="icon-search"></i></button>
				</div>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>行号</th>
							<th>开始时间</th>
							<th>截止时间</th>
							<th>定员人数</th>
							<th>实际人数</th>
							<th>超出人数</th>
							<th>持续时间</th>
						</tr>
					</thead>
					<tbody id="tbodyopa">
					</tbody>
				</table>
			</div>
		</div>
		<!--/span-->
	</div>
	<!--/row-->
	<script src="~/Scripts/jquery-3.2.1.min.js"></script>
	<script src="~/Scripts/jquery.jedate.min.js"></script>
	<script>
		'use strict';

		$(document).ready(function() {
			layer.closeAll('loading');
		});
		//日历控件
		var start1 = {
			isinitVal: false,
			initAddVal: [-1],
			format: 'YYYY-MM-DD hh:mm',
			maxDate: jq.nowDate(0) //最大日期为当前日期
		};
		jq(".jedate").jeDate(start1);

		function search() {
			var html = '';
			$.post('GetOverPerAlarmData', {
				'startTime': jq("#starttimeOver").val(),
				'endTime': jq("#endtimeOver").val()
			}, function(res) {
				
			});
		}
	</script>