﻿@{ ViewBag.Title = "RealTimeWatch"; Layout = "~/Views/Shared/_LayoutContent.cshtml"; var rtpsd = ViewBag.RealTimePersonStatisticsData; var tipi = ViewBag.TunnelInPerInfos; var connected = ViewBag.Connected; }
<style>
    .single1 {
        line-height: 45px;
        width: 70px;
        height: 43px;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        margin: 65px 0 0 38px;
        z-index: 1;
    }

    .single2 {
        line-height: 45px;
        width: 70px;
        height: 43px;
        text-align: center;
        position: absolute;
        z-index: 1;
        margin: 65px 0 0 333px;
    }

    .single3 {
        width: 70px;
        height: 43px;
        line-height: 45px;
        text-align: center;
        position: absolute;
        z-index: 1;
        margin: 65px 0 0 633px;
    }

    .double1 {
        line-height: 45px;
        width: 70px;
        height: 43px;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        margin: 54px 0 0 44px;
        z-index: 1;
    }

    .double2 {
        line-height: 45px;
        width: 70px;
        height: 43px;
        text-align: center;
        position: absolute;
        z-index: 1;
        margin: 41px 0 0 413px;
    }

    .double3 {
        width: 70px;
        height: 43px;
        line-height: 45px;
        text-align: center;
        position: absolute;
        z-index: 1;
        margin: 41px 0 0 755px;
    }

    .double4 {
        width: 70px;
        height: 43px;
        line-height: 45px;
        text-align: center;
        position: absolute;
        z-index: 1;
        margin: 188px 0 0 755px;
    }

    .inclined1 {
        line-height: 45px;
        width: 70px;
        height: 43px;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        margin: 6px 0 0 702px;
        z-index: 1;
    }

    .inclined2 {
        line-height: 45px;
        width: 70px;
        height: 43px;
        text-align: center;
        position: absolute;
        z-index: 1;
        margin: 223px 0 0 633px;
    }

    .inclined3 {
        width: 70px;
        height: 43px;
        line-height: 45px;
        text-align: center;
        position: absolute;
        z-index: 1;
        margin: 66px 0 0 291px;
    }

    .inclined4 {
        width: 70px;
        height: 43px;
        line-height: 45px;
        text-align: center;
        position: absolute;
        z-index: 1;
        margin: 66px 0 0 963px;
    }
</style>
<div id="pic" style="background-color: white; width: 1358px; height: 338px; background-repeat: no-repeat; background-size: cover;">
    <a class="btnGetBsPerInfo" href="#" data-href="GetBsPerInfos/1">
        <div id="panel1" class="single1">@rtpsd.TunnelIn</div>
    </a>
    <div id="panel2" class="single2">@rtpsd.OtherArea</div>
    <a class="btnGetBsPerInfo" href="#" data-href="GetBsPerInfos/2">
        @if (rtpsd.TunnelType == "单洞" || rtpsd.TunnelType == null)
        {
            <div id="panel3" class="single3">@rtpsd.ZZMBS</div>
        }
        else if (rtpsd.TunnelType == "双洞")
        {
            <div id="panel3" class="double3">@rtpsd.Left</div>

        }
        else if (rtpsd.TunnelType == "斜井")
        {
            <div id="panel3" class="inclined3">@rtpsd.Left</div>

        }
    </a>
    <a class="btnGetBsPerInfo" href="#" data-href="GetBsPerInfos/3">
        @if (rtpsd.TunnelType == "单洞")
        {
            <div id="panel4" class="double4">@rtpsd.ZZMBS</div>
        }
        else if (rtpsd.TunnelType == "双洞")
        {
            <div id="panel4" class="double4">@rtpsd.Right</div>
        }
        else if (rtpsd.TunnelType == "斜井")
        {
            <div id="panel4" class="inclined4">@rtpsd.Right</div>

        }
    </a>
</div>
<div class="row-fluid">
    <div class="span12">
        人员总数:@rtpsd.Total&nbsp;&nbsp;&nbsp;&nbsp;隧道外人数:@rtpsd.TunnelOut&nbsp;&nbsp;&nbsp;&nbsp;隧道内人数:@rtpsd.TunnelIn&nbsp;&nbsp;&nbsp;&nbsp;其中管理人员:@rtpsd.Manager
    </div>
    <hr />
    <div class="span7 widget table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="5" style="text-align:center">隧道内人员情况</th>
                </tr>
                <tr>
                    <th colspan="3" style="text-align:center">超员</th>
                    <th colspan="2" style="text-align:center">超时</th>
                </tr>
                <tr>
                    <th>定员人数</th>
                    <th style="color:blue">实际人数</th>
                    <th class="text-danger">超员人数</th>
                    <th>定时（小时）</th>
                    <th class="text-danger">超时人数</th>
                </tr>
            </thead>
            <tr>
                @if (tipi == null)
                {
                    <td>0</td>
                    <td class="text-danger">0</td>
                    <td class="text-danger">0</td>
                    <td>0</td>
                    <td class="text-danger">0</td>
                }
                else
                {

                    <td>@tipi.QuotaNum</td>
                    <td class="text-danger">@tipi.ActualNum</td>
                    <td class="text-danger">@tipi.OverPerNum</td>
                    <td>@tipi.QuotaTime</td>
                    <td class="text-danger">@tipi.OverTimeNum</td>
                }
            </tr>
        </table>
    </div>
    <div class="span3 widget">
        <table class="table table-bordered" style="border-collapse: collapse;">
            <thead>
                <tr>
                    <th colspan="5" style="text-align:center">特种作业人员报警人数</th>
                </tr>
                <tr>
                    <th style="text-align:center">限制区域</th>
                    <th style="text-align:center">其它区域</th>
                </tr>
                <tr class="text-danger">
                    <th>总人数</th>
                    <th>总人数</th>
                </tr>
            </thead>
            <tr class="text-danger">
                <td>@rtpsd.RestrictedArea</td>
                <td>@rtpsd.OtherArea</td>
            </tr>
        </table>
    </div>
</div>
<script>
	'use strict';
    
    jq(".btnGetBsPerInfo").click(function() {
        var href = jq(this).attr('data-href');
	    layer.open({
	        type: 2,
	        title: '人员信息',
	        shadeClose: true,
	        shade: 0.8,
	        area: ['60%', '70%'],
	        content: href //iframe的url
	    });
	});
	jq(document).ready(function() {
		layer.closeAll();
		var single = '../../Content/img/pos_bg.jpg';
		var double = '../../Content/img/double.jpg';
		var inclined = '../../Content/img/inclined.jpg';
		//根据隧道类型分别显示不同的背景图
		var tunnelType = '@rtpsd.TunnelType';

		if(tunnelType == '单洞' || tunnelType == '') {
			//单洞
			jq("#pic").css("background-image", "url(" + single + ")");
			jq("#panel1").attr('class', 'single1');
			jq("#panel2").attr('class', 'single2');
			jq("#panel3").attr('class', 'single3');
			jq("#panel4").hide();
		} else if(tunnelType == '双洞') {
			//双洞
			jq("#pic").css("background-image", "url(" + double + ")");
			jq("#panel1").attr('class', 'double1');
			jq("#panel2").attr('class', 'double2');
			jq("#panel3").attr('class', 'double3');
			jq("#panel4").show();
		} else if(tunnelType == '斜井') {
			jq("#pic").css("background-image", "url(" + inclined + ")");
			jq("#panel1").attr('class', 'inclined1');
			jq("#panel2").attr('class', 'inclined2');
			jq("#panel3").attr('class', 'inclined3');
			jq("#panel4").attr('class', 'inclined4');
			jq("#panel4").show();
		}
		if('@connected' !== 'True') {
			//斜井
			layer.msg('服务器获取数据超时，请确认客户端是否可用。', {
				time: 3000
			});
		}
	});
</script>