﻿@model Model.ClientData
@{
    ViewBag.Title = "RealTimeWatch";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}
<script src="~/Areas/Systems/Content/assets/vendor/jquery/jquery.min.js"></script>
<script src="~/Scripts/jscolor.js"></script>
<script src="~/Scripts/fabric.min.js"></script>
<script src="~/Scripts/jquery.contip.js"></script>
<script src="~/Content/js/jquery.freezeheader.js"></script>
<link href="~/Content/css/RtwNew.css" rel="stylesheet" />
<input type="hidden" id="hiddenCatalogName" value="<%=CatalogName%>" />
<div style="border: 1px solid groove;">
    <div class="form-inline" style="text-align: left;">
        <label class="control-label">类别</label>
        <select class="form-control" id="type"></select>
        <input type="hidden" id="imagePath" />
    </div>
    <table style="margin: 0 auto">
        <tr>
            <td>
                <div style="display: inline-block;">
                    <canvas id="canvas" width="1445" height="625" style="margin: 0 0 0 -70px;"></canvas>
                    <img src="~/Content/img/right.png" style="top: 110px; position: absolute; right: 12px; width: 210px;" />
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="bottomDiv">
    <table id="tableID" class="table table-bordered text-center">
        <thead>
            <tr style="background-color: #22407F; color: white;">
                <th>序号</th>
                <th>定位对象</th>
                <th>卡号</th>
                <th>类别</th>
                <th>部门</th>
                <th>职务</th>
                <th>所在区域</th>
            </tr>
        </thead>
        <tbody id="tbodyrtw"></tbody>
    </table>
</div>
<script>
    fabric.Group.prototype.toObject = (function (toObject) {
        return function () {
            return fabric.util.object.extend(toObject.call(this), {
                WText: this.WText,
                WID: this.WID,
                IsForCount: this.isForCount
            });
        };
    })(fabric.Group.prototype.toObject);
    fabric.Path.prototype.toObject = (function (toObject) {
        return function () {
            return fabric.util.object.extend(toObject.call(this), {
                aitem: this.aitem
            });
        };
    })(fabric.Path.prototype.toObject);

    var tipsText = null;
    var cirObj = null;
    function drawToolTip(txtLoc, x, y) {
        if (tipsText != null) {
            canvas.remove(tipsText);
        }
        var positionx = x - 120
        var positiony = y + 10;
        var bg = new fabric.Rect({
            left: positionx,
            top: positiony,
            width: 250,
            height: 80,

            fill: 'rgb(0,200,0)'
        });
        var text = new fabric.Text(txtLoc, {
            fontSize: 14, left: positionx + 10,
            top: positiony + 10
        })
        tipsText = new fabric.Group([bg, text]);
        canvas.add(tipsText);
        canvas.renderAll();
    }
    var selected = null;
    var canvas = new fabric.Canvas('canvas');
    var url = "../temp/@(ViewBag.CurrentMenuId)bg.jpg?t=" + new Date().getMinutes();
    canvas.setBackgroundImage(url, canvas.renderAll.bind(canvas));
    function getRadom(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    }

    function onMouseOut(option) {
        if (tipsText != null) {
            canvas.remove(tipsText);
            canvas.renderAll();
            tipsText = null;
        }
        if (cirObj != null) {

            if (cirObj.aitem.Catelog != "车辆") {
                cirObj.animate('scaleX', '0.025', 'scaleY', '0.025', { onChange: canvas.renderAll.bind(canvas) });
            }

        }
    }

    function onMouseMove(option) {
        if (option && option.subTargets[0] && (option.subTargets[0].type == 'path')) {
            var group = option.target;
            if (cirObj != null) {
                if (cirObj.aitem.Catelog != "车辆") {
                    cirObj.animate('scaleX', '0.03', 'scaleY', '0.03', { onChange: canvas.renderAll.bind(canvas) });
                }
            }

            if (option.subTargets[0].aitem != null) {

                cirObj = option.subTargets[0];
                var top = cirObj.getTop() + group.getTop();
                var left = cirObj.getLeft() + group.getLeft();

                var showtext = '角色：' + cirObj.aitem.Catelog + '\r\n' + '姓名：' + cirObj.aitem.Name + '\r\n' + '进入时间：' + new Date(cirObj.aitem.EnterTime).toLocaleString()

                cirObj.animate('radius', '10', { onChange: canvas.renderAll.bind(canvas) });
                drawToolTip(showtext, option.pointer.x, option.pointer.y)
            }

        }
    }

    var ctx = null;

    function loadDots(ConfigData, LocationData) {
        if (hasChanged == 1) {
            hasChanged = 0;
            url = "../temp/@(ViewBag.CurrentMenuId)bg.jpg?t=" + new Date().getMilliseconds();
        }
        canvas.setBackgroundImage(url, canvas.renderAll.bind(canvas));
        var canvasElement = $('#canvas')[0];
        ctx = canvasElement.getContext("2d");

        canvas.loadFromJSON(ConfigData, function () {
            //console.info(canvas)
            canvas.selection = false;
            canvas.hoverCursor = 'pointer';
            var locationData = JSON.parse(LocationData);

            canvas.forEachObject(function (a) {
                a.set({
                    selectable: false,
                    subTargetCheck: true,
                    perPixelTargetFind: true,

                });
                a.on('mouseover', function (option) {
                    canvas.on('mouse:move', onMouseMove)
                });
                a.on('mouseout', function (option) {
                    canvas.on('mouse:out', onMouseOut)
                });
                var text = a.item(1).getText();
                var isForCount = a.IsForCount;
                if (isForCount == "1") {
                    var count = 0;
                    var carCount = 0;
                    jq.each(locationData, function (i, item) {

                        if (item.SiteName == a.WText) {
                            //if (item.Catelog == "车辆") {
                            //    carCount++;
                            //}
                            //else {
                            count++;
                            //}
                        }
                    })
                    var showText = "【" + count + "】人/车";
                    a.item(1).set({ text: showText })
                }
                else {
                    var initCatalog = jq("#type").val();
                    var html = '';
                    var index = 1;
                    jq.each(locationData, function (i, item) {
                        if (item.InsideFlag == 1) {
                            //页面下半部分的表格数据-start
                            if (initCatalog == '' || initCatalog == item.Catelog)
                                html += "<tr>\n                        <td class='td'>" + index + "</td>\n                        <td class='td'>" + (item.Name === null || item.Name === '' ? '--' : item.Name) + "</td>\n                        <td class='td'>" + (item.TagId === null || item.TagId === '' ? '--' : item.TagId) + "</td>\n                        <td class='td'>" + (item.Catelog === null || item.Catelog === '' ? '--' : item.Catelog) + "</td>\n                        <td class='td'>" + (item.DeptName === null || item.DeptName === '' ? '--' : item.DeptName) + "</td>\n                        <td class='td'>" + (item.JobName === null || item.JobName === '' ? '--' : item.JobName) + "</td>\n                        <td class='td'>" + (item.SiteName === null || item.SiteName === '' ? '--' : item.SiteName) + "</td>\n                    </tr>";
                            index++;
                        }
                        //页面下半部分的表格数据-end

                        var c = item.Catelog;
                        var fillColor = 'blue';
                        switch (c) {
                        case '监理人员':
                            fillColor = "#F12B2B";
                            break;
                        case '领导班子': fillColor = "#5BA9F2";
                            break;
                        case '施工人员': fillColor = "#F2DE5B";
                            break;
                        case '其他人员': fillColor = "#F2DE5B";
                            break;
                        case '车辆': fillColor = "#040FF9";
                            break;
                        case '值班室': fillColor = "#23f70d";
                            break;
                        case '带班人员': fillColor = "#F2DE5B";
                            break;
                        default:
                        }

                        if (item.SiteName == text) {
                            if (initCatalog != '') {
                                if (c == initCatalog) {
                                    GetWrokingPositon(a, fillColor, item);
                                }
                            }
                            else {
                                GetWrokingPositon(a, fillColor, item);
                            }
                        }

                    })
                    jq("#tbodyrtw").empty().append(html);
                }

            })
            canvas.renderAll();
        });
    }
    function GetWrokingPositon(a, fillColor, item) {
        var shouldColor = a.item(0).getFill().replace("#", "");
        var circleLeft = a.item(0).getLeft() - 10 + getRadom(1, a.item(0).getWidth() * a.item(0).scaleX - 20);
        var circleTop = a.item(0).getTop() - 10 + getRadom(1, a.item(0).getHeight() * a.item(0).scaleY - 20);
        var opciaty = a.item(0).getOpacity();
        if (opciaty >= 1) {

            var circleLeft = a.getLeft() - 10 + getRadom(1, a.getWidth() * a.scaleX - 20);
            var circleTop = a.getTop() - 10 + getRadom(1, a.getHeight() * a.scaleY - 20);

            var px = ctx.getImageData(circleLeft + 13, circleTop + 13, 1, 1).data;
            var px2 = ctx.getImageData(circleLeft, circleTop, 1, 1).data;
            var px3 = ctx.getImageData(circleLeft - 13, circleTop - 13, 1, 1).data;
            var px4 = ctx.getImageData(circleLeft - 13, circleTop, 1, 1).data;
            var px5 = ctx.getImageData(circleLeft, circleTop - 13, 1, 1).data;

            var color = new fabric.Color('rgb(' + px[0] + ',' + px[1] + ',' + px[2] + ')').toHex()
            var color2 = new fabric.Color('rgb(' + px2[0] + ',' + px2[1] + ',' + px2[2] + ')').toHex()
            var color3 = new fabric.Color('rgb(' + px3[0] + ',' + px3[1] + ',' + px3[2] + ')').toHex()
            var color4 = new fabric.Color('rgb(' + px4[0] + ',' + px4[1] + ',' + px4[2] + ')').toHex()
            var color5 = new fabric.Color('rgb(' + px5[0] + ',' + px5[1] + ',' + px5[2] + ')').toHex()


            if (color == shouldColor && color2 == shouldColor && color3 == shouldColor && color4 == shouldColor && color5 == shouldColor) {

                if (item.Catelog == "车辆") {

                    var obj1 = new fabric.Path('M170.87,112.57c1.52,2.97,6.18,3.319,5.42,9c-1.01,7.6-11.98,4.989-21.09,5.399 c3.59,30.05-45.63,31.53-41.601,0c-17.479,0-34.97,0-52.45,0c3.63,29.82-45.07,31.561-41.6,0.601 c-15.4,1.199-13.86-11-13.86-26.41c0-18.92,0-31.28,0-52.23c0-11.84-2.82-26.12,9.64-27.61c2.04-0.24,4.18-0.44,6.41-0.6 c15.53,0,31.06,0,46.59,0c9.83,0.29,19.55,0.6,28.39,0.6c9.11,0,20.141-0.67,23.511,3c4.279,4.65,1.63,14.95,2.409,24.01 c7.98,2.12,16.03-0.5,22.91,2.4c3.931,1.66,8.44,8.93,12.061,13.81c5.069,6.86,11.899,13.4,13.26,23.41 C172.03,96.46,170,104.52,170.87,112.57z M122.04,86.15c12.66,0,25.32,0,37.979,0c-5.5-9.73-11.84-18.62-18.09-27.61 c-7.26,0.43-12.67-0.99-19.89-0.6C122.04,67.34,122.04,76.75,122.04,86.15z M146.15,134.18c5-18.229-20.44-20.81-24.11-8.41 C117.05,144,142.48,146.58,146.15,134.18z M52.11,134.18c4.99-18.229-20.44-20.81-24.12-8.41C23,144,48.44,146.58,52.11,134.18z',
                        {
                            scaleX: 0.15,
                            scaleY: 0.15,
                            left: circleLeft,
                            top: circleTop,
                            fill: fillColor,
                            originY: "center",
                            originX: "center",
                            aitem: item,
                        });
                }
                else {
                    var obj1 = new fabric.Path('M894.404 855.658v28.151c0 58.278-152.722 108.191-152.722 108.191l-63.635-8.091c0 0-101.765-12.728-165.448-12.728-63.59 0-165.448 12.728-165.448 12.728l-63.168 7.904c0 0-153.187-49.938-153.187-108.004v-28.151c0-54.163 70.606-108.824 153.355-150.744 4.008-2.026 53.735 279.568 53.735 279.568l21.992-0.572c0 0-42.492-290.741-38.18-292.717 22.906-10.477 37.976-20.295 60.508-28.423 8.358-3.045 48.317-24.746 25.963-83.183-51.771-52.772-87.037-103.902-87.037-219.202h384.135c0 114.106-36.167 165.71-87.596 218.556h0.297c-21.862 66.293 13.101 82.015 18.667 83.818 22.297 7.372 44.494 18.892 66.865 28.436 5.543 2.362-38.181 292.718-38.181 292.718l23.242-0.623c0 0 47.402-280.673 52.249-278.299 84.004 41.126 153.592 95.403 153.592 150.671v0zM731.565 238.954c0-132.501-180.437-198.744-180.437-198.744-25.554-11.509-50.92-8.888-77.058 0 0 0-180.443 58.165-180.443 198.744 0 21.017-38.144 16.506-50.765 82.986h539.484c-22.967-66.939-50.783-61.969-50.783-82.986v0zM731.565 238.954z',
                        {
                            scaleX: 0.02,
                            scaleY: 0.02,
                            left: circleLeft,
                            top: circleTop,
                            fill: fillColor,
                            originY: "center",
                            originX: "center",
                            aitem: item,
                        });
                }

                a.addWithUpdate(obj1);
            }
            else {
                GetWrokingPositon(a, fillColor, item)
            }
        }
        else {
            circleLeft = a.getLeft() - 10 + getRadom(1, a.getWidth() * a.scaleX - 20);
            circleTop = a.getTop() - 10 + getRadom(1, a.getHeight() * a.scaleY - 20);
            var selectionX1Y1 = new fabric.Point(circleLeft, circleTop);
            var angle = 0;
            if (a.containsPoint(selectionX1Y1, false, false)) {
                if (item.Catelog == "车辆") {

                    var obj2 = new fabric.Path('M170.87,112.57c1.52,2.97,6.18,3.319,5.42,9c-1.01,7.6-11.98,4.989-21.09,5.399 c3.59,30.05-45.63,31.53-41.601,0c-17.479,0-34.97,0-52.45,0c3.63,29.82-45.07,31.561-41.6,0.601 c-15.4,1.199-13.86-11-13.86-26.41c0-18.92,0-31.28,0-52.23c0-11.84-2.82-26.12,9.64-27.61c2.04-0.24,4.18-0.44,6.41-0.6 c15.53,0,31.06,0,46.59,0c9.83,0.29,19.55,0.6,28.39,0.6c9.11,0,20.141-0.67,23.511,3c4.279,4.65,1.63,14.95,2.409,24.01 c7.98,2.12,16.03-0.5,22.91,2.4c3.931,1.66,8.44,8.93,12.061,13.81c5.069,6.86,11.899,13.4,13.26,23.41 C172.03,96.46,170,104.52,170.87,112.57z M122.04,86.15c12.66,0,25.32,0,37.979,0c-5.5-9.73-11.84-18.62-18.09-27.61 c-7.26,0.43-12.67-0.99-19.89-0.6C122.04,67.34,122.04,76.75,122.04,86.15z M146.15,134.18c5-18.229-20.44-20.81-24.11-8.41 C117.05,144,142.48,146.58,146.15,134.18z M52.11,134.18c4.99-18.229-20.44-20.81-24.12-8.41C23,144,48.44,146.58,52.11,134.18z',
                        {
                            scaleX: 0.2,
                            scaleY: 0.2,
                            left: circleLeft,
                            top: circleTop,
                            fill: fillColor,
                            originY: "center",
                            originX: "center",
                            aitem: item,

                        });
                }
                else {
                    var obj2 = new fabric.Path('M894.404 855.658v28.151c0 58.278-152.722 108.191-152.722 108.191l-63.635-8.091c0 0-101.765-12.728-165.448-12.728-63.59 0-165.448 12.728-165.448 12.728l-63.168 7.904c0 0-153.187-49.938-153.187-108.004v-28.151c0-54.163 70.606-108.824 153.355-150.744 4.008-2.026 53.735 279.568 53.735 279.568l21.992-0.572c0 0-42.492-290.741-38.18-292.717 22.906-10.477 37.976-20.295 60.508-28.423 8.358-3.045 48.317-24.746 25.963-83.183-51.771-52.772-87.037-103.902-87.037-219.202h384.135c0 114.106-36.167 165.71-87.596 218.556h0.297c-21.862 66.293 13.101 82.015 18.667 83.818 22.297 7.372 44.494 18.892 66.865 28.436 5.543 2.362-38.181 292.718-38.181 292.718l23.242-0.623c0 0 47.402-280.673 52.249-278.299 84.004 41.126 153.592 95.403 153.592 150.671v0zM731.565 238.954c0-132.501-180.437-198.744-180.437-198.744-25.554-11.509-50.92-8.888-77.058 0 0 0-180.443 58.165-180.443 198.744 0 21.017-38.144 16.506-50.765 82.986h539.484c-22.967-66.939-50.783-61.969-50.783-82.986v0zM731.565 238.954z',
                        {
                            scaleX: 0.02,
                            scaleY: 0.02,
                            left: circleLeft,
                            top: circleTop,
                            fill: fillColor,
                            originY: "center",
                            originX: "center",
                            aitem: item,

                        });
                }
                a.addWithUpdate(obj2);
            }
            else {
                GetWrokingPositon(a, fillColor, item)
            }
        }
    }
    setInterval(function () {
        //防止右上角的菜单点开时，触发按钮点击事件，展开的菜单会被隐藏
        var profile = jq("#profileUl").css('display')
        var alarm = jq("#alarmUl").css('display')
        var report = jq("#reportUl").css('display')
        $("#btngetconfig").click();
        $("#btngetposition").click();
        if (profile == 'block') {
            jq("#profileUl").show();
        }
        if (alarm == 'block') {
            jq("#alarmUl").show();
        }
        if (report == 'block') {
            jq("#reportUl").show();
        }
    }, 4000);

    var intLoadDots;
    var typeAndDept;
    $(document).ready(function () {

        //$.get('GetClientData?t=' + new Date().getTime(), null, function (data) { //先从数据库加载一次
        //    ConfigData = JSON.parse(data.ConfigData);
        //    LocationData = JSON.parse(data.LocationData);
        //    sessionStorage["Types"] = data.TypeList;
        //    var typeObj = JSON.parse(data.TypeList);
        //    if (typeObj != null) {
        //        jq("#type").empty();
        //        jq("#type").append("<option value=''>全部</option>");
        //        typeObj.map(function (r) {
        //            jq("#type").append("<option value='" + r.Catelog + "'>" + r.Catelog + "</option>");
        //        });
        //    }
        //    loadDots(ConfigData, LocationData)
        //    sessionStorage["DeptList"] = data.DeptList;
        //    sessionStorage["TitleList"] = data.TitleList;
        //})

        sessionStorage["deviceCode"] = '@ViewBag.CurrentMenuId';
        canConnect = true;
        clearInterval(intLoadDots);
        intLoadDots = setInterval(function() {
                loadDots(ConfigData, LocationData);
            },
            3000); //3秒调用一次loadDots刷新页面上的点

        typeAndDept = setInterval(function() {
                if (canConnect) {
                    if (sessionStorage["Types"] == undefined || sessionStorage["Types"] == null || sessionStorage["Types"] == "null") {
                        $("#btngettype").click()
                    } else {
                        if ($("#type")[0].options.length == 0) {
                            var res = JSON.parse(sessionStorage["Types"]);
                            jq("#type").empty().append("<option value=''>全部</option>");
                            res.map(function(r) {
                                jq("#type").append("<option value='" + r.Catelog + "'>" + r.Catelog + "</option>");
                            });
                        }
                    }
                    if (sessionStorage["DeptList"] == undefined || sessionStorage["DeptList"] == null || sessionStorage["DeptList"] == "null") {
                        $("#btngetdept").click();
                    }
                } else {
                    clearInterval(typeAndDept);
                    clearInterval(intLoadDots);
                }
            },
            4000);

        $("#btngetconfig").click();
        $("#btngetposition").click();
        $("#tableID").freezeHeader({ 'height': '150px' });
        $("#type").change(function () { //选择类别下拉框的时候马上加载一下
            loadDots(ConfigData, LocationData);
        })
    });
</script>