﻿@model List<Model.SysAlarmData>
	@{ ViewBag.Title = "MonthlyReport"; Layout = "~/Views/Shared/_LayoutContent.cshtml"; }
	<div class="row-fluid">
		<div class="span12">
			<div class="box-content">
				<div class="container-fluid" style="background-color: rgb(245, 245, 245); margin-bottom: 10px;">
					<div class="row-fluid">
						<div class="col-lg-3 form-inline">
							<label>开始时间:</label>
							<input id="starttime" name="startTime" style="background-color: white; cursor: pointer;" required="required" type="text" class="form-control jedate" readonly="readonly" />
						</div>
						<div class="col-lg-3 form-inline">
							<label>结束时间:</label>
							<input type="text" class="form-control jedate" style="cursor: pointer; background-color: white;" readonly="readonly" id="endtime" name="endTime">
						</div>
						<div class="col-lg-3 form-inline">
							<label>姓名:</label>
							<input type="text" class="form-control" id="pername" name="perName" />
						</div>
						<div class="span1">
							<button type="button" style="margin-top: 10px;" onclick="search()" class="button btn btn-primary">开始统计<i class="icon-search"></i></button><br />
						</div>
					</div>
					<div class="row-fluid">
						<div class="col-lg-3 form-inline">
							<label>部门:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
							<select name="deptNo" class="form-control" style="width: 206px;" id="deptcode">
								@foreach (var i in ViewBag.DeptList) { var selected = @i.DeptNo == @ViewBag.DeptNo;
								<option value="@i.DeptNo" selected="@selected">@i.DeptName</option>
								}
							</select>
						</div>
						<div class="col-lg-3 form-inline">
							<label>职务:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
							<select name="titleNo" class="form-control" style="width: 206px;" id="titleno">
								@foreach (var i in ViewBag.TitleList) { var selectedTitle = i.TitleNo == ViewBag.TitleNo;
								<option value="@i.TitleNo" selected="@selectedTitle">@i.TitleName</option>
								}
							</select>
						</div>
						<div class="col-lg-3 form-inline">
							<label>基站:</label>
							<select name="baseStationNo" class="form-control" style="width: 206px;" id="basestaioncode">
								@foreach (var i in ViewBag.BaseStationList) { var selectedStation = @i.BaseStationNo == @ViewBag.BaseStationNo;
								<option value="@i.BaseStationNo" selected="@selectedStation">@i.BaseStationName</option>
								}
							</select>
						</div>
					</div>
				</div>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>行号</th>
							<th>报警时间</th>
							<th>姓名</th>
							<th>部门</th>
							<th>职务</th>
							<th>基站</th>
						</tr>
					</thead>
					<tbody id="tbodysa"></tbody>
				</table>
			</div>
		</div>
		<!--/span-->
	</div>
	<!--/row-->
	<script src="~/Scripts/jquery-3.2.1.min.js"></script>

	<script>
		'use strict';

		$(document).ready(function() {
			layer.closeAll('loading');
		});
		//日历控件
		var start1 = {
			isinitVal: false,
			initAddVal: [-1],
			format: 'YYYY-MM-DD hh:mm:ss',
			maxDate: jq.nowDate(0) //最大日期为当前日期
		};
		jq(".jedate").jeDate(start1);

		function search() {
			var html = '';
			$.post('GetSysAlarmData', {
				'startTime': jq("#starttime").val(),
				'endTime': jq("#endtime").val(),
				'perName': jq("#pername").val(),
				'deptNo': jq("#deptcode").val(),
				'baseStationNo': jq("#basestaioncode").val(),
				'titleNo': jq("#titleno").val()
			}, function(res) {
				res.map(function(r) {
					html += '<tr>\n                    <td class="center">' + r.LineNo + '</td>\n                    <td class="center">' + r.AlarmTime + '</td>\n                    <td class="center">' + r.PerName + '</td>\n                    <td class="center">' + r.Dept + '</td>\n                    <td class="center">' + r.Title + '</td>\n                    <td class="center">' + r.BSName + '</td>\n                 </tr>';
				});
				jq("#tbodysa").empty().append(html);
			});
		}
	</script>