﻿<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>layui</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="~/Content/css/layui.css" rel="stylesheet" />
		<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
	</head>

	<body>
		<div class="layui-tab layui-tab-brief" lay-filter="demo">
			<ul class="layui-tab-title">
				<li class="layui-this" lay-id="ssjk">实时监控</li>
				<li lay-id="yjcx">一键查询</li>
				<li lay-id="zxltj">在线率统计</li>
				<li lay-id="rkqbb">日考勤报表</li>
				<li lay-id="ykqbb">月考勤报表</li>
				<li lay-id="cybj">超员报警</li>
				<li lay-id="xtbj">系统报警</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">@Html.Partial("testPartiView")</div>
				<div class="layui-tab-item">一键查询</div>
				<div class="layui-tab-item">在线率统计</div>
				<div class="layui-tab-item">日考勤报表</div>
				<div class="layui-tab-item">月考勤报表</div>
				<div class="layui-tab-item">超员报警</div>
				<div class="layui-tab-item">系统报警</div>
			</div>
		</div>
		<div class="site-demo-button" style="margin-bottom: 0;">
			<button class="layui-btn site-demo-active" data-type="tabAdd">新增Tab项</button>
			<button class="layui-btn site-demo-active" data-type="tabDelete">删除：商品管理</button>
			<button class="layui-btn site-demo-active" data-type="tabChange">切换到：在线率统计</button>
			<button class="layui-btn site-demo-active" data-type="changeContent">切换页面内容</button>
		</div>

		<script src="~/Content/js/layui.js"></script>
		<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
		<script>
			'use strict';

			layui.use('element', function() {
				var $ = layui.jquery,
					element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

				//触发事件
				var active = {
					tabAdd: function tabAdd() {
						//新增一个Tab项
						element.tabAdd('demo', {
							title: '新选项' + (Math.random() * 1000 | 0) //用于演示
								,
							content: '内容' + (Math.random() * 1000 | 0),
							id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
						});
					},
					tabDelete: function tabDelete(othis) {
						//删除指定Tab项
						element.tabDelete('demo', '44'); //删除：“商品管理”

						othis.addClass('layui-btn-disabled');
					},
					tabChange: function tabChange() {
						//切换到指定Tab项
						element.tabChange('demo', 'zxltj'); //切换到：用户管理
					},
					changeContent: function changeContent() {
						//切换
						$.get('');
					}
				};

				$('.site-demo-active').on('click', function() {
					var othis = $(this),
						type = othis.data('type');
					active[type] ? active[type].call(this, othis) : '';
				});

				//Hash地址的定位
				var layid = location.hash.replace(/^#test=/, '');
				element.tabChange('test', layid);

				element.on('tab(test)', function(elem) {
					location.hash = 'test=' + $(this).attr('lay-id');
				});
			});
		</script>

	</body>

</html>