﻿@{ ViewBag.Title = "YearDetail"; Layout = "~/Views/Shared/_LayoutContent.cshtml"; }
<link href="~/Content/css/bootstrap-pager.css" rel="stylesheet" />
<style>
    .title {
        background-color: #214080;
        color: white;
    }

    .control-label {
        margin-left: 20px;
    }

    td,
    th {
        text-align: center;
    }

    .canclick {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }
</style>
<div class="row-fluid">
    <div class="span12">
        <div class="box-content">
            <div class="form-inline">
                @* <label class="control-label">工序</label> *@ @*
            <select class="form-control" id="workR"></select> *@ @* <label class="control-label">类别</label> *@ @*
        <select class="form-control" id="typeR"></select> *@
            <label class="control-label">年份</label>
            <select class="form-control" id="yearR"></select>
            <input class="form-control" id="keywordY" style="margin-left: 20px;" type="text" placeholder="--输入姓名或卡号--" />
            <input type="button" id="searyeardata" class="btn btn-primary" onclick="search()" style="margin-left: 20px;" value="查询" />
            <label class="pull-right" style="margin-top: 10px;">进隧道次数/累计时长（h）</label>
        </div>
        <br />
        <a href="#" style="display:none;" id="exportYear" class="btn btn-success pull-right">导出</a>
        <table class="table table-bordered">
            <thead>
                <tr class="title">
                    <th>序号</th>
                    <th>姓名</th>
                    <th>卡号</th>
                    <th>一月</th>
                    <th>二月</th>
                    <th>三月</th>
                    <th>四月</th>
                    <th>五月</th>
                    <th>六月</th>
                    <th>七月</th>
                    <th>八月</th>
                    <th>九月</th>
                    <th>十月</th>
                    <th>十一月</th>
                    <th>十二月</th>
                    <th>合计</th>
                </tr>
            </thead>
            <tbody id="tbodyyear"></tbody>
        </table>
        <div id="page-container-static-normal"></div>
        </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Content/layui/lay/modules/layer.js"></script>
    <script>
        "use strict";
        $("#exportYear").click(function () {
            layer.load(1, {
                shade: [0.6, '#fff'], //0.1透明度的白色背景
                time: 15000,
                end: function () {
                    if (showMsg == 1) {
                        var fileName = JSON.parse(sessionStorage["excelObj"]).QueryModel.FileName;
                        $.get('IsExcelExist?fileName=' + fileName,
                            null,
                            function(data) {
                                if (data) {
                                    window.location.href = "../temp/" + fileName;
                                } else {
                                    layer.msg('客户端没有及时返回数据，请稍后再试！');
                                }
                            });
                    }
                }
            });
            var name = encodeURI(sessionStorage["currentPointText"])
            var year = $("#yearR").val();
            var keyWord = encodeURI($("#keywordY").val());
            showMsg = 1;
            $.get('ExportYearDetail?name=' + name + '&year=' + year + '&keyWord' + keyWord, null, function (obj) {
                sessionStorage["excelObj"] = JSON.stringify(obj);
                $("#btnexportexcel").click();
            })
        })
        $(document).ready(function () {
            var year = new Date().getFullYear();
            for (var y = year; y >= year - 10; y--) {
                $("#yearR").append("<option value='" + y + "'>" + y + "</option>");
            }
        });
        function search() {
            $("#btngetyeardata").click();
        }
    </script>