﻿<!doctype html>
<html lang="en" class="fullscreen-bg">

<head>
    <title>隧道人员定位管理系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link href="~/Areas/Systems/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Areas/Systems/Content/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Areas/Systems/Content/assets/vendor/linearicons/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Areas/Systems/Content/assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="~/Areas/Systems/Content/assets/css/demo.css">
    @* <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet"> *@
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/Areas/Systems/Content/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Areas/Systems/Content/assets/img/favicon.png">
</head>

<body>
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle">
                @RenderBody()
            </div>
        </div>
    </div>
</body>

</html>
