﻿<!DOCTYPE html>
<html lang="en">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>隧道人员定位管理系统</title>
    <meta name="description" content="隧道人员定位管理系统">
    <meta name="author" content="Shinetech">
    <meta name="keyword" content="Paps">
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link id="bootstrap-style" href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="~/Content/css/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="~/Content/css/style-responsive.css" rel="stylesheet">
    <!-- end: CSS -->
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link id="ie-style" href="css/ie.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9]>
        <link id="ie9style" href="css/ie9.css" rel="stylesheet">
    <![endif]-->
    <!-- start: Favicon -->
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <!-- end: Favicon -->

    <style type="text/css">
        body {
            background: url(../Content/img/bg-login.jpg) !important;
        }
    </style>
</head>
<body>
    @RenderBody()
    <!-- start: JavaScript-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryabout")
    <!-- end: JavaScript-->
</body>
</html>
