﻿<!doctype html>
<html lang="en">

<head>
    <title>隧道人员定位管理系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    @*
        <link href="~/Areas/Systems/Content/assets/css/bootstrap.min.css" rel="stylesheet" /> *@
    <link href="~/Areas/Systems/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Areas/Systems/Content/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Areas/Systems/Content/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="~/Areas/Systems/Content/assets/vendor/chartist/css/chartist-custom.css">
    <link href="~/Content/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Areas/Systems/Content/assets/css/main.css">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/Areas/Systems/Content/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Areas/Systems/Content/assets/img/favicon.png">
    <style>
        .text-White {
            color: white;
        }

        .dropdown-menu > li {
            line-height: 0.5;
        }

        li {
            list-style-type: none;
        }

        .navbar-nav > li > a > i {
            font-size: 14px;
        }

        .fa {
            font-size: 20px;
        }

        .showTab {
            color: white;
        }

        .navbar-default .navbar-nav > li > a {
            color: white;
        }

            .navbar-default .navbar-nav > li > a:hover {
                color: lightyellow;
            }

            .navbar-default .navbar-nav > li > a:focus {
                color: white;
            }

        .disable {
            color: gray !important;
        }
    </style>
</head>

<body>
    @{ var main = (Model.Users)Session["UserInfo"]; }
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top" style="height: 60px; background: #214080 url('../../Content/img/sd.png') no-repeat fixed;">
            @*
                <div class="brand"> *@ @*
                <a href="index.html"><img src="~/Areas/Systems/Content/assets/img/title.png" alt="隧道人员自动登录定位系统" style="margin-top:-9px;" class="img-responsive logo"></a> *@ @* </div> *@
                <div class="container-fluid">
                    <div class="navbar-btn">
                        <button type="button" class="btn-toggle-fullwidth"><i style="font-weight: 900; color: white; margin-left: 237px;" class="lnr lnr-arrow-left-circle"></i></button>
                    </div>
                    <div id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="showTab" id="realtimewatch" style="margin-top: -10px;" data-toggle="dropdown" href="#">
                                    <i class="lnr lnr-chart-bars"></i> 实时监控
                                </a>
                            </li>
                            <li class="dropdown">
                                <a class="showTab" id="onekeysearch" style="margin-top: -10px;" data-toggle="dropdown" href="#" data-href="YearDetail">
                                    <i class="fa fa-search"></i> 一键查询
                                </a>
                            </li>
                            <li class="dropdown">
                                <a class="showTab" id="onlinerate" style="margin-top: -10px;" data-toggle="dropdown" href="#" data-href="LayuiRate">
                                    <i class="fa fa-desktop"></i> 在线率统计
                                </a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" id="report" style="margin-top: -10px;" data-toggle="dropdown" href="#">
                                    <i class="fa fa-calendar"></i> 考勤报表
                                    <i class="fa fa-angle-double-down" id="report" style="font-size: 20px;"></i>
                                </a>
                                <ul class="dropdown-menu" style="margin-top: -20px;" id="reportUl">
                                    <li>
                                        <a class="showTab" id="monthlyreport" href="#" data-href="MonthlyReport">
                                            <i class="fa fa-calendar"></i>月考勤报表
                                            <span class="percent"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="showTab" href="#" id="dailyreport" data-href="DailyReport">
                                            <i class="fa fa-calendar-plus-o"></i>日考勤报表
                                            <span class="percent"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" id="alarm" style="margin-top: -10px;" data-toggle="dropdown" href="#">
                                    <i class="fa fa-exclamation-triangle"></i> 报警查询
                                    <i class="fa fa-angle-double-down" id="alarm" style="font-size: 20px;"></i>
                                </a>
                                <ul class="dropdown-menu" style="margin-top: -20px;" id="alarmUl">
                                    @*                                     <li> *@
                                    @*                                         <a class="showTab" id="sysalarm" href="#" data-href="SysAlarm"> *@
                                    @*                                             <i class="fa fa-exclamation-circle"></i>系统报警 @if (ViewBag.SysAlarmCount > 0) *@
                                    @*                                             { *@
                                    @*                                                 <span class="badge red" style="right:7px;"> *@
                                    @*                                                     @ViewBag.SysAlarmCount *@
                                    @*                                                 </span>} *@
                                    @*                                         </a> *@
                                    @*                                     </li> *@
                                    <li>
                                        <a class="showTab" href="#" id="overalarm" data-href="OverPerAlarm">
                                            <i class="fa fa-exclamation-triangle"></i>超员报警 @if (ViewBag.OverPerAlarmCount > 0)
                                            {
                                                <span class="badge red" style="top:45px; right:7px;">
                                                    @ViewBag.OverPerAlarmCount
                                                </span>}
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" id="profile" style="margin-top: -10px;" data-toggle="dropdown">
                                    您好：@(main == null ? "管理员" : main.FullName)<i id="profile" class="fa fa-angle-double-down" style="font-size: 20px;"></i>
                                </a>
                                <ul class="dropdown-menu" style="margin-top: -20px;" id="profileUl">
                                    @*
                                        <li>
                                            <a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a>
                                        </li>*@
                                    <li>
                                        <a href="#" class="changePassword"><i class="lnr lnr-lock"></i> <span>修改密码</span></a>
                                    </li>
                                    <li>
                                        <a href="/Home/Login"><i class="lnr lnr-exit"></i> <span>注销</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- END NAVBAR -->
            <!-- LEFT SIDEBAR -->
            <div id="sidebar-nav" class="sidebar" style="background-color: white;">
                <div class="sidebar-scroll">
                    <nav>
                        @Html.Action("Index", "Menu")
                    </nav>
                </div>
            </div>
            <!-- END LEFT SIDEBAR -->
            <!-- MAIN -->
            <div class="main" style="padding-top: 60px;">
                <!-- MAIN CONTENT -->
                @RenderBody()

                <!-- END MAIN CONTENT -->
            </div>
            <!-- END MAIN -->
            <div class="clearfix"></div>
        </div>
        <!-- END WRAPPER -->
        <!-- Javascript -->
        <script src="~/Areas/Systems/Content/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Areas/Systems/Content/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="~/Content/layui/lay/modules/layer.js"></script>
        <script src="~/Areas/Systems/Content/assets/scripts/klorofil-common.js"></script>
        <script>
            "use strict";

            jq(".changePassword").click(function () {
                var href = "/Home/ChangePassword";
                layer.open({
                    type: 2,
                    title: '修改密码',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['40%', '320px'],
                    content: href //iframe的url
                });
            });
            //无奈之举，jquery版本冲突，加载了左侧的菜单栏之后，bootstrap的DropDown就不好用了，只能用jquery一个一个的控制了。
            jq("body").click(function (e) {
                console.log(e);
                var eId = e.target.id;
                switch (eId) {
                    case "report":
                        jq("#alarmUl").hide();
                        jq("#profileUl").hide();
                        jq("#reportUl").show();
                        break;
                    case "alarm":
                        jq("#reportUl").hide();
                        jq("#profileUl").hide();
                        jq("#alarmUl").show();
                        break;
                    case "profile":
                        jq("#reportUl").hide();
                        jq("#alarmUl").hide();
                        jq("#profileUl").show();
                        break;
                    default:
                        jq("#reportUl").hide();
                        jq("#alarmUl").hide();
                        jq("#profileUl").hide();

                }
            });

            jq(".showTab").click(function (e) {
                if (e.target.className.indexOf('disable') >= 0) return;
                var name = e.target.innerText;
                var url = e.target.dataset.href;
                //layer.load(1);
                if (name == '') return;
                if (name.trim() == '实时监控') {
                    var currenturl = sessionStorage["currentPointUrl"];
                    var currentname = sessionStorage["currentPointText"];
                    if (jq("#tabContainer").data("tabs").isExist('ssjk') > 0) {
                        //如果已经打开这个tab了，直接显示
                        jq("#tabContainer").data("tabs").showTab('ssjk');
                    } else {
                        jq("#tabContainer").data("tabs").addTab({
                            id: "ssjk",
                            text: '实时监控-' + currentname,
                            closeable: true,
                            url: currenturl,
                            isPoint: true
                        });
                    }
                }
                if (jq("#tabContainer").data("tabs").isExist(url) > 0) {
                    jq("#tabContainer").data("tabs").showTab(url);
                } else {
                    if (url == undefined) return;
                    jq("#tabContainer").data("tabs").addTab({
                        id: url,
                        text: name,
                        closeable: true,
                        url: url,
                        isPoint: true
                    });
                }
            });
        </script>
    </body>

</html>