﻿<link href="~/Content/css/jquery.jedate.css" rel="stylesheet" />
<script src="~/Scripts/jquery.jedate.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>

@* <script src="~/Scripts/jquery-3.2.1.min.js"></script> *@
<div style="margin-top: -15px;">
    @RenderBody()
</div>
