﻿
@{
    ViewBag.Title = "NotFound";
    Layout = null;
}
<link href="~/Content/css/main.css" rel="stylesheet" />
<div id="wrapper">
    <a class="logo" href="/"></a>
    <div id="main">
        <header id="header">
            <h1><span class="icon">!</span><span class="sub">系统错误</span></h1>
        </header>
        <div id="content">
            <h2>系统错误，请返回重试！</h2>
            <p>当您看到这个页面,表示您的访问出错,这个错误是您打开的页面不存在或者系统发生错误,请确认您的输入是正确的,如果是在本站点击后出现这个页面,请联系系统管理员!</p>
            <div class="utilities">
                @*                <form  name="formsearch" action="/plus/search.php" id="formkeyword">*@
                @*                    <div class="input-container">*@
                @*                        <input type="text" class="left" name="q" size="24"  value="在这里搜索..." onfocus="if(this.value=='在这里搜索...'){this.value='';}"  onblur="if(this.value==''){this.value='在这里搜索...';}" id="inputString" onkeyup="lookup(this.value);" onblur="fill();" placeholder="搜索..." />*@
                @*                        <button id="search"></button>*@
                @*                    </div>*@
                @*                </form>*@
                @*                <a class="button right" href="#" onClick="history.go(-1);return true;">返回上页</a><a class="button right" href="/">网站首页</a>*@
                <div class="clear"></div>
            </div>
        </div>
        <div id="footer">
            <!-- xmoban.cn 提示文本 实际使用请删除 -->
            <div style="padding:20px 0;margin-top:30px;">

                @*                <div style="margin-bottom:30px;text-align:center;"><a href="http://www.xmoban.cn/">X模版</a> | <a href="http://www.xmoban.cn/404-Template">404页面模版</a> | <a href="http://www.xmoban.cn/management-Template">管理后台模版</a> | <a href="http://www.xmoban.cn/Package">打包下载</a> | <a href="http://www.xmoban.cn/Custom-design">定制设计</a></div>*@
            </div>

            <!-- /xmoban.cn -->
        </div>
    </div>
</div>


