﻿<!doctype html>
<html lang="en">

<head>
    <title>隧道人员定位管理系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link href="~/Areas/Systems/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Areas/Systems/Content/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Areas/Systems/Content/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="~/Areas/Systems/Content/assets/vendor/chartist/css/chartist-custom.css">
    <link href="~/Content/FancyBox/jquery.fancybox.css" rel="stylesheet" />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Areas/Systems/Content/assets/css/main.css">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/Areas/Systems/Content/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Areas/Systems/Content/assets/img/favicon.png">
</head>

<body>
    @{
        var main = (Model.Users)Session["UserInfo"];
    }
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="index.html"><img src="~/Areas/Systems/Content/assets/img/title.png" alt="隧道人员定位管理系统" style="margin-top:-9px;" class="img-responsive logo"></a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>您好：@(main == null ? "管理员" : main.FullName)</span> <i class="icon-submenu lnr lnr-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                @*<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>*@
                                <li><a href="#" class="changePassword"><i class="lnr lnr-lock"></i> <span>修改密码</span></a></li>
                                <li><a href="/Home/Login"><i class="lnr lnr-exit"></i> <span>注销</span></a></li>
                            </ul>
                        </li>
                        <!-- <li>
                            <a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav" id="nav">
                        <li><a href="/Systems/Admin/Index" id="gdgl"><i class="lnr lnr-home"></i> <span>工点管理</span></a></li>
                        <li><a href="/Systems/Admin/ListRoles" id="jsgl" class=""><i class="lnr lnr-code"></i> <span>角色管理</span></a></li>
                        <li><a href="/Systems/Admin/DeviceManage" id="sbgl" class=""><i class="lnr lnr-code"></i> <span>设备管理</span></a></li>
                        <li><a href="/Systems/Account/List" class="" id="yhgl"><i class="lnr lnr-chart-bars"></i> <span>用户管理</span></a></li>
                        <li><a href="/Systems/Access/Index" id="sqxxgl" class=""><i class="lnr lnr-cog"></i> <span>授权信息管理</span></a></li>
                        <li><a href="/Systems/DbBack/Index" class="" id="sjkgl"><i class="lnr lnr-alarm"></i> <span>数据库管理</span></a></li>
                        <li><a href="/Systems/ManualSync/Index" class="" id="sdtb"><i class="lnr lnr-cloud-sync"></i> <span>同步组织机构数据</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            @RenderBody()

            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="~/Areas/Systems/Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap-treeview.min.js"></script>
    <script src="~/Areas/Systems/Content/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Areas/Systems/Content/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Areas/Systems/Content/assets/scripts/klorofil-common.js"></script>
    <script src="~/Scripts/jquery.jedate.min.js"></script>
    <script>
        $(".changePassword").click(function () {
            var href = "/Home/ChangePassword";
            layer.open({
                type: 2,
                title: '修改密码',
                shadeClose: true,
                shade: 0.8,
                area: ['40%', '40%'],
                content: href //iframe的url
            });
        });
    </script>
</body>

</html>
