﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>隧道人员自动登录定位系统管理员后台</title>
    <meta name="description" content="隧道人员自动登录定位系统">
    <meta name="author" content="Shinetech">
    <meta name="keyword" content="Paps, 隧道人员">
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link id="bootstrap-style" href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="~/Content/css/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="~/Content/css/style-responsive.css" rel="stylesheet">
    
    <link href="~/Content/FancyBox/jquery.fancybox.css" rel="stylesheet" />

    <!-- end: CSS -->
@*    <script src="~/Content/layer/layer.js"></script>*@
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link id="ie-style" href="css/ie.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9]>
        <link id="ie9style" href="css/ie9.css" rel="stylesheet">
    <![endif]-->
    <!-- start: Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- end: Favicon -->
</head>
<body>
    <!-- start: Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/Home/Index"><span>隧道人员自动登录定位系统管理员后台</span></a>

                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">
                        @{
                            var main = (Model.Users)Session["UserInfo"];
                        }
                        <!-- start: User Dropdown -->
                        <li class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown">
                                @*您好 @main.UserName !*@
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Home/Login"><i class="halflings-icon off"></i> 注销</a></li>
                            </ul>
                        </li>
                        <!-- end: User Dropdown -->
                    </ul>
                </div>
                <!-- end: Header Menu -->

            </div>
        </div>
    </div>
    <!-- start: Header -->
    <div class="container-fluid-full">
        <div class="row-fluid">
            <!-- start: Main Menu -->
            <div id="sidebar-left" class="span2">
                <div class="nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li onclick="javascript: window.location.href = '/Systems/Admin/List'">
                            <a class="dropmenu" href="/Systems/Admin/Index"><i class="icon-bar-chart"></i><span class="hidden-tablet"> 工点管理</span><span class="label label-important"></span></a>
                        </li>
                        <li onclick="javascript: window.location.href = '/Systems/Admin/ListRoles'">
                            <a class="dropmenu" href="#"><i class="icon-bar-chart"></i><span class="hidden-tablet"> 角色管理</span><span class="label label-important"></span></a>
                        </li>
                        <li onclick="javascript: window.location.href = '/Systems/Account/List'">
                            <a class="dropmenu" href="/Systems/Account/List"><i class="icon-edit"></i><span class="hidden-tablet"> 用户管理</span><span class="label label-important"></span></a>
                        </li>
                        <li onclick="javascript: window.location.href = '/Systems/Access/Index'">
                            <a class="dropmenu" href="/Systems/Access/Index"><i class="icon-eject"></i><span class="hidden-tablet"> 授权信息管理</span><span class="label label-important"></span></a>
                        </li>
                        <li onclick="javascript: window.location.href = '/Systems/DbBack/Index'">
                            <a class="dropmenu" href="/Systems/DbBack/Index"><i class="icon-tasks"></i><span class="hidden-tablet"> 数据库管理</span><span class="label label-important"></span></a>
                        </li>
                        <li onclick="javascript: window.location.href = '/Systems/Access/OnlineRate'">
                            <a class="dropmenu" href="~/Systems/Access/OnlineRate"><i class="icon-dashboard"></i><span class="hidden-tablet"> 在线率统计</span><span class="label label-important"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end: Main Menu -->
            <!-- start: Content -->
            @RenderBody()
            <!--/.fluid-container-->
            <!-- end: Content -->
        </div><!--/#content.span10-->
    </div><!--/fluid-row-->
    @*<div class="modal hide fade" id="myModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Settings</h3>
            </div>
            <div class="modal-body">
                <p>Here settings can be configured...</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
            </div>
        </div>*@
    <div class="clearfix"></div>
    <footer>
        <p>
            @*            <span style="text-align:left;float:left">&copy; 2017 <a href="#" alt="Bootstrap_Metro_Dashboard">http://www.Shinetechchina.com.cn</a></span>*@
        </p>
    </footer>
    <!-- start: JavaScript-->
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryabout")*@
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>
    <!-- end: JavaScript-->
</body>
</html>
