﻿
@{
    Layout = null;
}
<link href="~/Content/css/custom.css" rel="stylesheet" />
<script src="~/Areas/Systems/Content/assets/vendor/jquery/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui-1.9.0.min.js"></script>
<div id="leftMenu">
    @Html.Raw(ViewBag.TreeView as string)
</div>
<script type="text/javascript">
    var jq = jQuery.noConflict();
    jq(function () {
        var ActiveMenuID = sessionStorage["ActiveMenuID"];
        if (ActiveMenuID != "" && ActiveMenuID != undefined) {
            jq.ajax({
                type: "post",
                dataType: "json",
                data: { "ActiveMenuID": ActiveMenuID },
                url: "@Url.Action("ActiveMenu")",
                success: function(data) {
                    jq.each(data,
                        function(a, b) {
                            jq("#sub_menu_" + b).show();
                            jq("#menu_" + ActiveMenuID).addClass("active");
                        });
                    sessionStorage["secondNode"] = "";
                    sessionStorage["firstNode"] = "";
                    sessionStorage["secondNode"] = jq("#menu_" + data[0]).attr('name');
                    sessionStorage["firstNode"] = jq("#menu_" + data[1]).attr('name');

                    let fn = "menu_" + data[1];
                    let sn = "menu_" + data[0]
                    jq("#" + fn + " i:first").toggleClass('fa-plus-square-o fa-minus-square-o')
                    jq("#" + sn + " i:first").toggleClass('fa-plus-square-o fa-minus-square-o')
                }
            });
        } else {
            //jq(".menus li:first i:first").toggleClass('fa-plus-square-o fa-minus-square-o') //展开第一个li
            jq(".canopen").eq(0).prev().toggleClass('fa-plus-square-o fa-minus-square-o') //展开第一个在线的标段
            var id = jq(".canopen").closest('ul').parent().prevObject.eq(0).attr('id').substring(4);
            jq("#" + id + " i:first").toggleClass('fa-plus-square-o fa-minus-square-o');
        }
        jq(".nav-tabs li:first a:first i:first").click(); //删除tab标签的第一个无用的标签
    });
    function searchMenu() {
        var kw = jq("#menuKeyWord").val();
        var url = encodeURI('../Menu/SearchMenu?keyWord=' + kw);
        jq.get(url,
            null,
            function (res) {
                jq("#leftMenu").empty().append(res);
            })
    }
    function ActiveMenu(id) {
        var m = jq("#" + id + "").attr("name");
        let i = jq("#" + id + " i:first");
        jq("li[id^='menu_']").each(function (a, b) {
            jq(this).removeClass("active");
            let iEle = jq(this).find('i')
            if (!iEle.hasClass('fa-map-marker')) {
                iEle.addClass('fa-plus-square-o')
                iEle.removeClass('fa-minus-square-o')
            }
        });
        jq("ul[id^='sub_']").each(function (a, b) {
            jq(this).hide("blind", 500);
        });
        jq("#" + id + "").addClass("active");

        var status = jq("#sub_" + id + "").css("display");
        if (status == "none") {
            jq("#sub_" + id + "").show("blind", 500);
            i.addClass('fa-minus-square-o')
            i.removeClass('fa-plus-square-o')
        } else {
            jq("#sub_" + id + "").hide("blind", 500);
            i.removeClass('fa-minus-square-o')
            i.addClass('fa-plus-square-o')
        }
        CloseAllPointTab();
        jq("#realtimewatch").addClass('disable');
        jq("#onekeysearch").addClass('disable');
        jq("#monthlyreport").addClass('disable');
        jq("#dailyreport").addClass('disable');
        jq("#sysalarm").addClass('disable');
        jq("#overalarm").addClass('disable');
        jq("#report").addClass('disable');
        jq("#alarm").addClass('disable');
        jq("#onlinerate").removeClass('disable');
    }
    //tab标签显示报表
    function ShowMenu(id, name) {
        CloseAllPointTab()
        //先移除已经存在的，否则新的报表无法正常显示
        let sessionId = "#" + sessionStorage["chartId"];
        jq('.nav-tabs li a[href="'+sessionId+'"]').parents("li").remove();
        jq(sessionId).remove();
        let url = jq("#menu_" + id + " a:first").attr("data-href");
        sessionStorage["chartId"] = name + id;
        if (jq("#tabContainer").data("tabs").isExist('charts') > 0) {
            jq("#tabContainer").data("tabs").showTab('charts');
            jq("#tabName").text(name)
            jq("#charts").load(url)
        } else {
            jq("#tabContainer").data("tabs").addTab({ id: 'charts', text: name, closeable: true, url: url });
        }
    }
    function CloseAllPointTab() {
        jq("#tabContainer").data("tabs").remove('ssjk'); //关闭实时监控
        jq("#tabContainer").data("tabs").remove('YearDetail'); //关闭一键查询
        jq("#tabContainer").data("tabs").remove('MonthlyReport'); //关闭月考勤报表
        jq("#tabContainer").data("tabs").remove('DailyReport'); //关闭日考勤报表
        jq("#tabContainer").data("tabs").remove('SysAlarm'); //关闭系统报警
        jq("#tabContainer").data("tabs").remove('OverPerAlarm'); //关闭超员报警
        jq("#tabContainer").data("tabs").remove('LayuiRate'); //关闭在线率统计
    }
    function ActiveSubMenu(id) {
        jq("li[id^='menu_']").each(function(a, b) {
            jq(this).removeClass("active");
        });
        jq("#" + id + "").addClass("active");
        var status = jq("#sub_" + id + "").css("display");
        if (status == "none") {
            jq("#sub_" + id + "").show("blind", 500);
        } else {
            jq("#sub_" + id + "").hide("blind", 500);
        }
        var m = jq("#" + id + "").attr("name");
        let i = jq('#'+id+' i:first');
        if (jq("#" +id + " i:first").hasClass('fa-map-marker')) return;
        i.toggleClass('fa-plus-square-o fa-minus-square-o')
    }
    function SaveActiveSubMenu(id, name, css, structType) {
        var currId = jq("#tabContainer").data("tabs").getCurrentTabId();
        if (css == "IsOffline" && structType == 4) {
            layer.msg('设备不在线')
        }
        else {
            console.log(structType);
            if (structType != 4) { //如果点击的是标段级，关闭所有工点tab页面，并禁用它们
                CloseAllPointTab();
                jq("#realtimewatch").addClass('disable');
                jq("#onekeysearch").addClass('disable');
                jq("#monthlyreport").addClass('disable');
                jq("#dailyreport").addClass('disable');
                jq("#sysalarm").addClass('disable');
                jq("#overalarm").addClass('disable');
                jq("#report").addClass('disable');
                jq("#alarm").addClass('disable');
                jq("#onlinerate").removeClass('disable');
            }
            else {
                jq("#onlinerate").addClass('disable')
                jq("#realtimewatch").removeClass('disable');
                jq("#onekeysearch").removeClass('disable');
                jq("#monthlyreport").removeClass('disable');
                jq("#report").removeClass('disable');
                jq("#alarm").removeClass('disable');
                jq("#dailyreport").removeClass('disable');
                jq("#sysalarm").removeClass('disable');
                jq("#overalarm").removeClass('disable');
                jq("#tabContainer").data("tabs").remove('charts'); //关闭在线率统计
                jq("#tabContainer").data("tabs").remove('LayuiRate'); //关闭超员报警
            }
//            layer.load(0)
            jq.ajax({
                type: "post",
                dataType: "json",
                data: { "ActiveMenuID": id },
                url: "/Menu/ActiveMenu",
                success: function (data) {
                    jq.each(data,
                        function (a, b) {
                            jq("#sub_menu_" + b).show();
                            jq("#menu_" + id).addClass("active");
                        });
                    sessionStorage["secondNode"] = "";
                    sessionStorage["firstNode"] = "";
                    sessionStorage["secondNode"] = jq("#menu_" + data[0]).attr('name');
                    sessionStorage["firstNode"] = jq("#menu_" + data[1]).attr('name');
                }
            });
            sessionStorage["thirdNode"] = name;
            sessionStorage["ActiveMenuID"] = id;
            let sessionId = "#" + sessionStorage["chartId"];
            if (structType != 4) {
                jq('.nav-tabs li a[href="'+sessionId+'"]').parents("li").remove();
                jq(sessionId).remove();
                sessionStorage["chartId"] = name + id;
            }
            let url = jq("#menu_" + id + " a:first").attr("data-href");
            if (css == "IsOnline" && structType == 4) { //缓存最近一次的工点信息
                sessionStorage["currentPoint"] = name + id;
                sessionStorage["currentPointUrl"] = url;
                sessionStorage["currentPointText"] = name;
                ConfigData = null;
                LocationData = null;
                if (jq("#tabContainer").data("tabs").isExist('ssjk') > 0) {
                    jq("[href='#ssjk']").eq(0).text('实时监控-' + name)
                    jq("#tabContainer").data("tabs").showTab('ssjk');
                    jq("#ssjk").load(url)
                } else {
                    jq("#tabContainer").data("tabs").addTab({ id: 'ssjk', text: '实时监控-' + name, closeable: true, url: url, isPoint: true });
                }
            } else {
                name = name.replace('#', '')
                if (jq("#tabContainer").data("tabs").isExist('charts') > 0) {
                    jq("#tabContainer").data("tabs").showTab('charts');
                    jq("#tabName").text(name)
                    jq("#charts").load(url)
                } else {
                    jq("#tabContainer").data("tabs").addTab({ id: 'charts', text: name, closeable: true, url: url });
                }
            }
        }
    }

    jq(document).ready(function() {
        //jq("#firstNode").html(sessionStorage["firstNode"]);
        //jq("#secondNode").html(sessionStorage["secondNode"]);
        //jq("#thirdNode").html(sessionStorage["thirdNode"]);

    });
</script>