﻿@model Model.Users
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>Bootstrap Metro Dashboard by Dennis Ji for ARM demo</title>
    <meta name="description" content="Bootstrap Metro Dashboard">
    <meta name="author" content="Dennis Ji">
    <meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link id="bootstrap-style" href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="~/Content/css/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="~/Content/css/style-responsive.css" rel="stylesheet">
    <!-- end: CSS -->
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link id="ie-style" href="css/ie.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9]>
        <link id="ie9style" href="css/ie9.css" rel="stylesheet">
    <![endif]-->
    <!-- start: Favicon -->
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <!-- end: Favicon -->

    <style type="text/css">
        body {
            background: url(../../Content/img/bg-login.jpg) !important;
        }
    </style>



</head>

<body>
    <div class="container-fluid-full">
        <div class="row-fluid">

            <div class="row-fluid">
                <div class="login-box">
                    <div class="icons">
@*                        <a href="#"><i class="halflings-icon home"></i></a>*@
@*                        <a href="#"><i class="halflings-icon cog"></i></a>*@
                    </div>
                    <h2>隧道人员自动登陆定位系统</h2>

                    @using (Html.BeginForm("Login", "User"))
                    {
                        <fieldset>
                            <div class="input-prepend" title="用户名">
                                <span class="add-on"><i class="halflings-icon user"></i></span>
                                @Html.TextBoxFor(p => p.UserName, new { @class = "input-large span10", @placeholder = "请输入用户名...", })
                                @*<input class="input-large span10" name="username" id="username" type="text" placeholder="请输入用户名..." />*@
                            </div>
                            <div class="clearfix"></div>

                            <div class="input-prepend" title="密码">
                                <span class="add-on"><i class="halflings-icon lock"></i></span>
                                @Html.PasswordFor(p => p.Password, new { @class = "input-large span10", @placeholder = "请输入密码...", })
                                @*<input class="input-large span10" name="password" id="password" type="password" placeholder="请输入密码..." />*@
                            </div>
                            <div class="clearfix"></div>

                            <label class="remember" for="remember"><input type="checkbox" id="remember" />记住密码</label>

                            <div class="button-login">
                                <button type="submit" class="btn btn-primary">登录</button>
                            </div>
                            <div class="clearfix"></div>
                        </fieldset>

                    }
                    <hr>
                    <h3>忘记密码?</h3>
                    <p>
                        <a href="#">点击这里</a> 找回密码.
                    </p>
                </div><!--/span-->
            </div><!--/row-->


        </div><!--/.fluid-container-->

    </div><!--/fluid-row-->
    <div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <ul class="list-inline item-details">
                <li><a href="#">Admin templates</a></li>
                <li><a href="http://themescloud.org">Bootstrap themes</a></li>
            </ul>
        </div>
    </div>
    <!-- start: JavaScript-->

    <!-- end: JavaScript-->

</body>
</html>
