﻿@using DAL.Common
@model Model.Menus
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNoMenu.cshtml";
}
<div class="col-md-5" style="padding: 20px;">
    @using (Html.BeginForm("Add", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.TextBoxFor(p => p.Name, new { @id = "Name", @required = "required", @placeholder = "请输入组织名称...", @class = "form-control" })
        if (ViewBag.StructureType == 3)
        {
            <div style="margin-left: 20px; margin-bottom: 10px;">
                <label class="radio" style="float: left;">
                    @Html.RadioButtonFor(r => r.IsType, 0, new { @id = "IsType" })固定IP
                </label>
                <label class="radio" style="float: left; margin-left: 30px;">
                    @Html.RadioButtonFor(r => r.IsType, 1, new { @id = "IsType" })不固定IP
                </label>
            </div>
            <br />
            <div class="form-group">
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="deviceKeyWord" placeholder="请输入设备名称" autocomplete="off" />
                    <div id="deviceList" hidden="" style="min-height: 30px; max-height: 150px; overflow-y: scroll;">
                        <ul id="ulDevice" class="list-group"></ul>
                    </div>
                </div>
            </div>
            @Html.TextBoxFor(r => r.ItemIp, new { @id = "ItemIp", @required = "required", @placeholder = "请输入IP地址...", @class = "form-control" })
        }
        <br />
        <input class="btn btn-primary" id="submit" value="保存" type="submit" id="submitForm"/>
        @Html.Hidden("Paras")
        @Html.Hidden("deviceId")
    }
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    var deviceList;
    var deviceId;
    var result = '@Html.Raw(TempData["result"] as string)';
    if (result == "true") {
        layer.msg("添加成功", { time: 1000, area: ['200px', '50px'] }, function () { parent.$.fancybox.close(); });
    } else if (result == "false") {
        layer.msg("添加失败", { time: 1000, area: ['200px', '50px'] }, function () { parent.$.fancybox.close(); });
    }
    $("#deviceKeyWord").on('keyup', function () {
        var val = $("#deviceKeyWord").val();
        $("#ulDevice").empty();
        deviceList.map(function (d) {
            if (d.DeviceName.indexOf(val) >= 0 || d.DeviceCode.indexOf(val) >= 0) {
                $("#ulDevice").append('<li class="list-group-item" data-DeviceId=' + d.DeviceId + '>' + d.DeviceName + '-' + d.DeviceCode + '</li>');
            }
        })
        $("#deviceList").show();
    })
    $("ul#ulDevice").on("click", "li", function (e) {      //只需要找到你点击的是哪个ul里面的就行
        var txt = e.currentTarget.innerText
        $("#deviceKeyWord").val(txt)
        $("#deviceId").val(e.target.dataset.deviceid)
        $("#deviceList").hide();
    });
   
    $("input[name='IsType']").click(function() {
        var v = $("input[name='IsType']:checked").val();
        if (v == '1') {
            $("#ItemIp").attr('disabled', 'disabled');
        } else {
            $("#AccLoginName").removeAttr("required");
            $("#AccLoginPwd").removeAttr("required");
            $("#ItemIp").removeAttr('disabled');
        }
    });
    $(document).ready(function() {
        $("#IsType").val(0);
        $("#existMsg").hide();
        $("#existMsg1").hide();
        $.get('GetDevices', null, function (data) {
            deviceList = data;
        })
    });
</script>