﻿@model Model.Device
@{
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNoMenu.cshtml";
}
<div class="col-md-6">
    <div class="">
        <div class="panel-heading">
            <h3 class="panel-title">添加新设备</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("AddDevice", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.TextBoxFor(p => p.DeviceName, new { @id = "DeviceName", @required = "required", @placeholder = "请输入设备名称...", @class = "form-control" })
                <br>
                @Html.TextBoxFor(p => p.DeviceCode, new { @id = "DeviceCode", required = "required", @placeholder = "设备唯一编码", @class = "form-control" })
                <br>
                <input class="btn btn-primary" value="保存" type="submit" />
                <input type="hidden" id="result" value="@TempData["result"]" />
                <br />
            }
        </div>
    </div>
</div>

<script src="~/Content/js/jquery-1.9.1.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#result").val() != "") {
            layer.msg("添加成功", { time: 700 }, function () { window.parent.location.reload(); });
        }
    });

</script>
