﻿@model Model.Menus
@{
    ViewBag.Title = "AddMenu";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNoMenu.cshtml";
}
<div style="padding: 20px;">
    <input id="Name" placeholder="请输入公司名称..." class="form-control input-lg" />
    <button type="button" onclick="validate();" class="btn btn-primary btn-block">保 存</button>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    function validate() {
        if ($("#Name").val() == "") {
            layer.msg('公司名称不能为空', { time: 700 });
        } else {
            $.post("AddMenu", {
                Name: $("#Name").val(), function(res) {
                    window.parent.location.reload();
                }
            });
        }
    }

</script>

