﻿@model Model.ArrRoles
@{
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNoMenu.cshtml";
}
<div class="col-md-6">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">添加角色</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("AddRole", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.TextBoxFor(p => p.RoleName, new { @id = "RoleName", @required = "required", @placeholder = "请输入角色名称...", @class = "form-control" })
                <br>
                @Html.TextAreaFor(p => p.Remarks, new { @id = "Remarks", @placeholder = "备注信息", @rows = 4, @class = "form-control", @maxlength = 180 })
                <br>
                <input class="btn btn-primary" value="保存" type="submit" />
                <input type="hidden" id="result" value="@TempData["result"]" />
            }
        </div>
    </div>
</div>

<script src="~/Content/js/jquery-1.9.1.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#result").val() != "") {
            layer.msg("添加成功", { time: 700 }, function () { window.parent.location.reload(); });
        }
    });

</script>
