﻿@model PagedList.StaticPagedList<Model.Device>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListRoles";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNew.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/FancyBox/jquery.fancybox.css" rel="stylesheet" />
<div class="col-md-12">
    <!-- TABLE STRIPED -->
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">设备管理</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("DeviceManage", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="form-inline" style="margin-bottom: 10px;">
                    <input type="text" class="form-control" name="keyWord" id="keyWord" value="@ViewData["KeyWord"]" /><input type="submit" class="btn btn-primary" value="搜索" />
                    <a href="#" id="addDevice" class="btn btn-info pull-right"><i class="halflings-icon plus"></i>添加新设备</a>
                </div>
            }
            <table class="table table-striped table-bordered bootstrap-datatable">
                <thead>
                    <tr>
                        <th class="text-center col-md-1">序号</th>
                        <th class="text-center col-md-3">设备名称</th>
                        <th class="text-center">设备编码</th>
                        <th class="text-center col-md-3">操作</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null && Model.Count > 0)
                        {
                            int i = 0;
                            foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <td style="text-align: center;">@i</td>
                                    <td style="text-align: center;">@item.DeviceName</td>
                                    <td style="text-align: center;">@item.DeviceCode</td>
                                    <td style="text-align: center;"><a href="#" class="deleteRole btn btn-danger btn-xs" RoleId="@item.DeviceId">删除</a></td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <div style="width: 100%;">
                <div style="width: 30%; float: left; height: 80px; line-height: 5em;">
                    共 @Model.PageCount 页
                    第 @Model.PageNumber 页
                    每页 @Model.PageSize 条
                </div>
                <div style="width: 68%; float: left; text-align: right;">
                    @Html.PagedListPager(Model, page => Url.Action("DeviceManage", new { page, keyWord = ViewData["KeyWord"] }))
                </div>
            </div>
        </div>
    </div>
    <!-- END TABLE STRIPED -->
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.fancybox.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    //    var jq = $.noConflict();
    $(document).ready(function () {
        $("#sbgl").addClass("active");
    });

    $("#addDevice").click(function () {
        $.fancybox({
            width: 620,
            height: '500',
            closeClick: true,
            href: '/Systems/Admin/AddDevice',
            type: "iframe",
            mouseWheel: false,
            afterClose: function () { }
        });
    });


    $(".deleteRole").click(function () {
        var id = $(this).attr('RoleId');
        layer.confirm("确认要删除吗?", { title: "删除确认" }, function (index) {
            layer.close(index);
            $.get("/Systems/admin/DeleteDevice?deviceId=" + id, null, function (data) {
                var msg = "删除" + (data == 'True' ? '成功' : '失败');
                layer.msg(msg, { time: 1000 }, function () { window.parent.location.reload(); });
            });
        });
    });
</script>
