﻿@model Model.Menus
@using DAL.Common;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNoMenu.cshtml";
}
<style>
    .list-group-item {
        padding: 5px 5px;
    }
</style>
@* 工点信息修改 *@
<div style="padding: 20px;" class="form-horizontal">
    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
    {
        @Html.HiddenFor(p => p.ID, new { id = "menuId" })
        <div class="form-group">
            <label class="col-sm-2 control-label">组织名称</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(p => p.Name, new { @id = "Name", @placeholder = "请输入组织名称...", @class = "form-control" })
            </div>
        </div>
        if (Model.StructureType < 4)
        {
            <div class="form-group">
                <label class="control-label col-sm-2">是否显示在线率</label>
                <div class="col-sm-8">
                    @Html.CheckBoxFor(p => p.IsShowOnline, new { @id = "Name", @style = "height: 18px; width: 18px;" })
                </div>
            </div>
        }

        else
        {
            <div class="form-group">
                <span class="control-label col-sm-2">设备名称</span>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="deviceKeyWord" autocomplete="off" />
                    <div id="deviceList" hidden="" style="min-height: 30px; max-height: 150px; overflow-y: scroll;">
                        <ul id="ulDevice" class="list-group"></ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">客户机类型</label>
                <div class="controls col-sm-8" style="margin-left: 25px;">
                    <label class="radio">
                        @Html.RadioButtonFor(r => r.IsType, 0, new { @id = "IsType" })固定IP
                    </label>
                    <div style="clear: both"></div>
                    <label class="radio">
                        @Html.RadioButtonFor(r => r.IsType, 1, new { @id = "IsType" })不固定IP
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">IP地址</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(r => r.ItemIp, new { @id = "ItemIp", @class = "form-control", @placeholder = "请输入IP地址..." })
                </div>
            </div>
        }
        <input class="btn btn-primary" value="修改" type="submit" id="submitForm" />
    }
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    var deviceList;
    var deviceId;
    var result = '@Html.Raw(TempData["result"] as string)';
    if (result == "true") {
        layer.msg("编辑成功", { time: 1000, area: ['200px', '50px'] }, function() { window.parent.location.reload(); });
    } else if (result == "false") {
        layer.msg("编辑失败", { time: 1000, area: ['200px', '50px'] });
    } else if (result == "AccLoginName") {
        layer.msg("标段登陆帐号重复", { time: 1000 });
    }
    $("#deviceKeyWord").on('keyup',
        function() {
            var val = $("#deviceKeyWord").val();
            $("#ulDevice").empty();
            deviceList.map(function(d) {
                if (d.DeviceName.indexOf(val) >= 0 || d.DeviceCode.indexOf(val) >= 0) {
                    $("#ulDevice").append('<li class="list-group-item" data-DeviceId=' + d.DeviceId + '>' + d.DeviceName + '-' + d.DeviceCode + '</li>');
                }
            })
            $("#deviceList").show();
        })
    $("ul#ulDevice").on("click",
        "li",
        function(e) { //只需要找到你点击的是哪个ul里面的就行
            var txt = e.currentTarget.innerText
            $("#deviceKeyWord").val(txt)
            deviceId = e.target.dataset.deviceid
            $("#deviceList").hide();
        });
    $("#submitForm").on('click',
        function() {

            var strType = '@Model.StructureType';
            if (strType < 4) {
                return true;
            } else {

                if (deviceId == undefined) {
                    layer.msg('请先选择一个可用的设备')
                    return false;
                } else {
                    $.get('SetDeviceInfo?deviceId=' + deviceId + '&menuId=' + $("#menuId").val(),
                        null,
                        function(data) {
                            return true;
                        });
                }
            }
        });

    $("input[name='IsType']").click(function() {
        var v = $("input[name='IsType']:checked").val();
        if (v == '1') {
            $("#ItemIp").attr('disabled', 'disabled');
        } else {
            $("#ItemIp").removeAttr('disabled');
        }
    });
    $(document).ready(function() {
        var v = '@Model.IsType';
        if (v == '1') {
            $("#ItemIp").attr('disabled', 'disabled');
        } else {
            $("#ItemIp").removeAttr('disabled');
        }
        $.get('GetDevices', null, function(data) {
            deviceList = data;
            var menuId = $("#menuId").val()
            data.find(function (v, i, a) {
                if (v.MenuId == menuId) {
                    $("#deviceKeyWord").val(v.DeviceName)
                }
            })
        })

    });
</script>