﻿@model Model.ArrRoles
@{
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNoMenu.cshtml";
}
<link href="~/Content/layer/mobile/need/layer.css" rel="stylesheet" />
<div class="col-md-6">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">修改角色</h3>
        </div>
        <div class="panel-body">
            <input type="text" class="form-control" id="roleName" placeholder="角色名称">
            <br>
            <textarea class="form-control" id="remark" placeholder="备注信息" rows="4"></textarea>
            <br>
            <input class="btn btn-primary" value="保存" type="button" onclick="DoSave()" />
            <input type="hidden" id="roleId" />
            <input type="hidden" id="Id" />
            <input type="hidden" id="CreateTime" />
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#roleName").val('@Model.RoleName');
        $("#remark").val('@Model.Remarks');
        $("#Id").val('@Model.ID');
        $("#roleId").val('@Model.RoleID');
        $("#CreateTime").val('@Model.CreateTime');
    });

    function DoSave() {
        if ($("#roleName").val() == '') {
            layer.msg('角色名称不能为空');
        } else {
            $.post("SaveRole",
                { RoleId: $("#roleId").val(), ID: $("#Id").val(), RoleName: $("#roleName").val(), Remarks: $("#remark").val(), CreateTime: $("#CreateTime").val() },
                function(data) {
                    window.parent.location.reload();
                });
        }
    }
</script>
