﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNew.cshtml";
}
<link href="~/Content/FancyBox/jquery.fancybox.css" rel="stylesheet" />
<link href="~/Content/css/custom.css" rel="stylesheet" />
<div class="col-md-12">

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">工点管理</h3>
        </div>
        <div class="panel-body">
            <div class="control-group" id="tree">
                @Html.Raw(ViewBag.TreeView as string)
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.fancybox.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    function ExpandHistory() {
        Fold('li_1', 'ul_1', 'span_1');
        var firstToExpand = sessionStorage["firstToExpand"];
        var secondToExpand = sessionStorage["secondToExpand"];
        if (firstToExpand != 0 && firstToExpand != "undefined") {
            Fold('li_' + firstToExpand, 'ul_' + firstToExpand, 2);
        }
        if (secondToExpand != 0 && secondToExpand != "undefined") {
            Fold('li_' + secondToExpand, 'ul_' + secondToExpand, 3);
        }
    }
    $(document).ready(function () {
        $("#gdgl").addClass("active");
        ExpandHistory();
    });
    var result = '@Html.Raw(TempData["result"] as string)';
    if (result == "true") {
        layer.msg("添加成功",{ time: 700 });
        //window.location.href = "/Systems/Admin/Index";
    } else if (result == "false") {
        layer.msg("添加失败", { time: 700 });
    }
    function Fold(thisID, UlID, structureType) {
        var menuId = thisID.split('_')[1];
        if ($("#" + UlID).css('display') == "block") {
            $("#" + thisID).removeClass("minus");
            $("#" + thisID).addClass("plus");
            $("#" + UlID).hide();
//            if (structureType == 2) {
//                sessionStorage["firstToExpand"] = 0;
//            }
//            if (structureType == 3) {
//                sessionStorage["secondToExpand"] = 0;
//            }
        } else {
            $("#" + thisID).removeClass("plus");
            $("#" + thisID).addClass("minus");
            $("#" + UlID).show();
            if (structureType == 2) {
                sessionStorage["firstToExpand"] = menuId;
            }
            if (structureType == 3) {
                sessionStorage["secondToExpand"] = menuId;
            }
        }
    }
    $(".addCompany").click(function () {
        var url = "/Systems/Admin/AddMenu";
        $.fancybox({
            width: 500,
            height: 130,
            padding: 10,
            closeClick: true,
            href: url,
            type: "iframe",
            mouseWheel: false,
            afterClose: function () { }
        });
    });
    function Add(id) {
        var url = "/Systems/Admin/Add?MenuID=" + id;
        $.fancybox({
            width: 700,
            height: 400,
            padding: 10,
            closeClick: true,
            href: url,
            type: "iframe",
            mouseWheel: false,
            afterClose: function () {
                window.location.reload();
            }
        });
    }
    function Edit(id) {
        var href = "/Systems/Admin/Edit?MenuID=" + id;
        $.fancybox({
            width: '45%',
            height: '40%',
            padding: 10,
            closeClick: true,
            href: href,
            type: "iframe",
            mouseWheel: false,
            afterClose: function () { }
        });
    }
    function onDisable(id) {
        $.ajax({
            type: "post",
            dataType: "json",
            data: { "MenuID": id },
            url: "@Url.Action("Unlock")",
            async: false,
            success: function(data) {
                if (data.status) {
                    layer.msg("启用成功", { time: 700 });
                    $.each(data.data,
                        function(a, b) {
                            $("#Lock_" + b).attr("value", "禁用");
                            $("#Lock_" + b).attr("onclick", "Disable('" + b + "')");
                            $("#font_" + b).text("<已启用>");
                            $("#font_" + b).css("color", "green");
                        });

                    //window.location.reload();
                } else {
                    layer.msg("启用失败", { time: 700 });
                }
            }
        });
    }

    function Disable(id) {
        $.ajax({
            type: "post",
            dataType: "json",
            data: { "MenuID": id },
            url: "@Url.Action("Lock")",
            success: function(data) {
                if (data.status) {
                    layer.msg("禁用成功", { time: 700 });
                    $.each(data.data,
                        function(a, b) {
                            $("#Lock_" + b).attr("value", "启用");
                            $("#Lock_" + b).attr("onclick", "onDisable('" + b + "')");
                            $("#font_" + b).text("<已禁用>");
                            $("#font_" + b).css("color", "red");
                        });
                    //window.location.reload();
                } else {
                    layer.msg("禁用失败", { time: 700 });
                }
            }
        });
    }

    function onDelete(id) {
        layer.confirm("确认要删除吗?",
            { title: "删除确认" },
            function(index) {
                layer.close(index);
                $.ajax({
                    type: "post",
                    dataType: "json",
                    data: { "MenuID": id },
                    url: "@Url.Action("Delete")",
                    async: false,
                    success: function (data) {
                        if (data.status) {
                            layer.msg("删除成功", { time: 700 }, function() { window.location.reload(); });
                        } else {
                            layer.msg("删除失败", { time: 700 });
                        }
                    }
                });
            });

    }
    function manager(id) {
        $("#" + id).show();
    }
    function overmanager(id) {
        $("#" + id).hide();
    }

    function MoveUp(id, parentId) {
        $.get('/Systems/admin/AdjIndex?menuId=' + id + '&intParentId=' + parentId +'&plusOrMinus=-1',
            null,
            function (res) {
                $("#ul_" + parentId).empty().append(res);
            });
    }
    function MoveDown(id, parentId) {
        $.get('/Systems/admin/AdjIndex?menuId=' + id + '&intParentId=' + parentId + '&plusOrMinus=1',
            null,
            function(res) {
                $("#ul_" + parentId).empty().append(res);
            });
    }
</script>