﻿@model StaticPagedList<Model.Menus>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNew.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/FancyBox/jquery.fancybox.css" rel="stylesheet" />
<div class="main-content">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="/Systems/Admin/List">后台</a>
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="/Systems/Admin/List">工点管理</a></li>
    </ul>
    <div class="col-md-12">
        <!-- TABLE STRIPED -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">公司列表</h3>
                <div class="right">
                    <a href="#" class="btn btn-mini btn-primary addCompany"><span style="color:black">添加</span></a>
                    <a href="/Systems/Admin/Index" class="btn btn-mini btn-default"><span style="color: black">编辑</span></a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>公司名称</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model != null && Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="text-align:center;">@item.Name</td>


                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END TABLE STRIPED -->
    </div>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.fancybox.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    var jq = $.noConflict();
    function UnLock(id) {
        jq.ajax({
            type: "post",
            dataType: "json",
            data: { "departId": id },
            url: "@Url.Action("UnAsync")",
            async: false,
            success: function (data) {
                if (data.status) {
                    layer.msg("启用成功");
                    window.location.reload();
                } else {
                    layer.msg("启用失败");
                }
            }
        });
    }
    function OnLock(id) {
        jq.ajax({
            type: "post",
            dataType: "json",
            data: { "departId": id },
            url: "@Url.Action("OnAsync")",
            async: false,
            success: function (data) {
                if (data.status) {
                    layer.msg("禁用成功",
                        {
                            function() {
                                window.location.reload();
                            }
                        });

                } else {
                    layer.msg("禁用失败");
                }
            }
        });
    }
    jq(".addCompany").click(function () {
        var url = "/Systems/Admin/AddMenu";
        jq.fancybox({
            width: 500,
            height: '40%',
            padding: 10,
            closeClick: true,
            href: url,
            type: "iframe",
            mouseWheel: false,
            afterClose: function () { }
        });
    });
    
</script>