﻿@model StaticPagedList<Model.ArrRoles>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListRoles";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNew.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/FancyBox/jquery.fancybox.css" rel="stylesheet" />
<div class="col-md-12">
    <!-- TABLE STRIPED -->
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">角色管理</h3>
        </div>
        <div class="panel-body">
            <a href="#" id="addRole" class="btn btn-primary"><i class="halflings-icon plus"></i>添加新角色</a>
            <table class="table table-striped table-bordered bootstrap-datatable">
                <thead>
                    <tr>
                        <th class="text-center col-md-1">序号</th>
                        <th class="text-center col-md-3">角色名称</th>
                        <th class="text-center col-md-2">创建时间</th>
                        <th class="text-center">备注信息</th>
                        <th class="text-center col-md-3">操作</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null && Model.Count > 0)
                        {
                            int i = 0;
                            foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <td style="text-align: center;">@i</td>
                                    <td style="text-align: center;">@item.RoleName</td>
                                    <td style="text-align: center;">@item.CreateTime</td>
                                    <td style="text-align: center;">@item.Remarks</td>
                                    <td style="text-align: center;"><a href="#" class="setRole btn btn-primary btn-xs" RoleId="@item.RoleID">设置权限</a>&nbsp;&nbsp;<a href="#" class="editRole btn btn-default btn-xs" RoleId="@item.RoleID">编辑</a>&nbsp;&nbsp;<a href="#" class="deleteRole btn btn-danger btn-xs" RoleId="@item.RoleID">删除</a></td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <div style="width: 100%;">
                <div style="width: 30%; float: left; height: 80px; line-height: 5em;">
                    共 @Model.PageCount 页
                    第 @Model.PageNumber 页
                    每页 @Model.PageSize 条
                </div>
                <div style="width: 68%; float: left; text-align: right;">
                    @Html.PagedListPager(Model, page => Url.Action("ListRoles", new { page }))
                </div>
            </div>
        </div>
    </div>
    <!-- END TABLE STRIPED -->
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.fancybox.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    //    var jq = $.noConflict();
    $(document).ready(function () {
        $("#jsgl").addClass("active");
    });
    function rolemenu() {
        window.location.href = "/Systems/Account/List";
    }

    $("#addRole").click(function () {
        $.fancybox({
            width: 520,
            height: '45%',
            padding: 10,
            closeClick: true,
            href: '/Systems/Admin/AddRole',
            type: "iframe",
            mouseWheel: false,
            afterClose: function () { }
        });
    });
    $(".editRole").click(function () {
        $.fancybox({
            width: 650,
            height: '45%',
            padding: 10,
            closeClick: true,
            href: '/Systems/Admin/EditRole?roleId=' + $(this).attr('RoleId'),
            type: "iframe",
            mouseWheel: false,
            afterClose: function () { }
        });
    });
    $(".setRole").click(function () {
        $.fancybox({
            width: '45%',
            height: '45%',
            padding: 10,
            closeClick: true,
            href: '/Systems/Admin/SetRole?roleId=' + $(this).attr('RoleId'),
            type: "iframe",
            mouseWheel: false,
            afterClose: function () { }
        });
    });
    $(".deleteRole").click(function () {
        var id = $(this).attr('RoleId');
        layer.confirm("确认要删除吗?", { title: "删除确认" }, function (index) {
            layer.close(index);
            $.get("/Systems/admin/DeleteRole?roleId=" + id, null, function (data) {
                layer.alert('删除' + (data == 'True' ? '成功' : '失败'), {
                    title: "删除操作",
                    btn: ['确定']
                },
                    function (index, item) {
                        //layer.close(index);
                        location.reload();
                    });
            });
        });
    });
</script>
