﻿@{
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNoMenu.cshtml";
}
<style>
    .list-group-item {
        position: relative;
        display: block;
        padding: 5px 8px;
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #ddd;
    }
</style>
@* <link rel="stylesheet" type="text/css" href="~/Content/css/default.css"> *@
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="col-md-12">
    <!-- TABLE STRIPED -->
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">设置权限</h3>
        </div>
        <input class="btn btn-primary" style="margin-left:20px;" value="保存" type="submit" onclick="DoSave()" />
        <div class="panel-body" style="overflow-y: scroll">

            <div id="treeview-checkable" class="col-md-6"></div>
            <div id="checkable-output" class="col-md-6"></div>
        </div>

    </div>
</div>

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/bootstrap-treeview.min.js"></script>
<script type="text/javascript">
//    var jq = $.noConflict();
    var sd = [];
    var unChecked = [];
    var partChecked = [];
    $(function() {
        var defaultData = [];
        $.get("../Account/GetMenus?roleId=@ViewBag.RoleId",
            null,
            function(data) {
                defaultData = data.list;

                var $checkableTree = $('#treeview-checkable').treeview({
                    data: defaultData,
                    showIcon: false,
                    showCheckbox: true,
                    onNodeChecked: function (event, node) {
                        var selectNodes = getChildNodeIdArr(node); //获取所有子节点
                        if (selectNodes) { //子节点不为空，则选中所有子节点
                            $('#treeview-checkable').treeview('checkNode', [selectNodes, { silent: true }]);
                        }
                        var parentNode = $("#treeview-checkable").treeview("getNode", node.parentId);
                        setParentNodeCheck(node);
                        sd.push({ MenuID: node.id, MenuName: node.text });
                        $.each(unChecked,
                            function(i, v) {
                                if (v == undefined) {
                                    return true;
                                } else {
                                    if (v.MenuID == node.id) {
                                        unChecked.splice(i,1);
                                    }
                                }
                            });
                        var unCheckedCount = 0;
                        var siblings = $('#treeview-checkable').treeview('getSiblings', node);
                        for (var i in siblings) {
                            if (!siblings[i].state.checked) unCheckedCount++;
                        }
//                        if (unCheckedCount > 0) {
//                            setTimeout(function() {
//                                    for (var i in partChecked) {
//                                        var chkIco = $("[data-nodeid='" + partChecked[i] + "']").eq(0).children(".check-icon");
//                                        chkIco.removeClass('glyphicon-check');
//                                        chkIco.addClass('glyphicon-record');
//                                    }
//                                },
//                                100);
//                        }
                    },
                    onNodeUnchecked: function (event, node) {
                        // 取消父节点 子节点取消
                        var selectNodes = setChildNodeUncheck(node); //获取未被选中的子节点
                        var childNodes = getChildNodeIdArr(node);    //获取所有子节点
                        console.log('selectNodes', selectNodes);
                        console.log('childNodes', childNodes);
                        //if (selectNodes && selectNodes.length == 0) { //有子节点且未被选中的子节点数目为0，则取消选中所有子节点
                        if (selectNodes) {
                            console.log("反选");
                            $('#treeview-checkable').treeview('uncheckNode', [childNodes, { silent: true }]);
                        }
                        // 取消节点 父节点取消
                        //var parentNode = $("#treeview-checkable").treeview("getNode", node.parentId);  //获取父节点
                        //var selectNodes = getChildNodeIdArr(node);
                        setParentNodeCheck(node);
                        unChecked.push({ MenuID: node.id, MenuName: node.text });
//                        console.log('partChecked', partChecked);
//                        setTimeout(function() {
//                                for (var i in partChecked) {
//                                    var chkIco = $("[data-nodeid='" + partChecked[i] + "']").eq(0).children(".check-icon");
//                                    chkIco.removeClass('glyphicon-check');
//                                    chkIco.addClass('glyphicon-record');
////                                    chkIco.css('color', 'red')
//                                }
//                            },
//                            100);
                    }
                });

                //$.each(data.roleMenu, function (i, v) {
                //    var results = $checkableTree.treeview('search', [v.MenuName, { exactMatch: true, ignoreCase: false }]);
                //    $checkableTree.treeview('checkNode', [results, { silent: $('#chk-check-silent').is(':checked') }]);
                //});
                $.each(data.ids, function (i, v) {
                    $checkableTree.treeview('checkNode', [v, { silent: true }]);
                })
                $checkableTree.treeview('expandAll', { levels: 3, silent: $('#chk-expand-silent').is(':checked') });//展开所有节点

                sd = [];
            });

    });
    // 选中父节点时，选中所有子节点
    function getChildNodeIdArr(node) {
        var ts = [];
        if (node.nodes) {
            for (x in node.nodes) {
                ts.push(node.nodes[x].nodeId);
                if (node.nodes[x].nodes) {
                    var getNodeDieDai = getChildNodeIdArr(node.nodes[x]);
                    for (j in getNodeDieDai) {
                        ts.push(getNodeDieDai[j]);
                    }
                }
            }
        } else {
            ts.push(node.nodeId);
        }
        return ts;
    }
    // 选中所有子节点时，选中父节点 取消子节点时取消父节点
    function setParentNodeCheck(node) {
        var parentNode = $("#treeview-checkable").treeview("getNode", node.parentId);
        if (parentNode.nodes) {
            var checkedCount = 0;
            for (x in parentNode.nodes) {
                if (parentNode.nodes[x].state.checked) {
                    checkedCount++;
                } else {
                    break;
                }
            }
            if (checkedCount == parentNode.nodes.length) {  //如果子节点全部被选 父全选
                partChecked.push(parentNode.nodeId)
                if (!parentNode.state.checked) $("#treeview-checkable").treeview("checkNode", [parentNode.nodeId, { silent: true }]);
                setParentNodeCheck(parentNode);
            }
            else {   //如果子节点未全部被选 父未全选
//                $('#treeview-checkable').treeview('uncheckNode', [parentNode.nodeId, { silent: true }]);
                partChecked.push(parentNode.nodeId)
                setParentNodeCheck(parentNode);
            }
        }
    }
    // 取消父节点时 取消所有子节点
    function setChildNodeUncheck(node) {
        if (node.nodes) {
            var ts = [];    //当前节点子集中未被选中的集合
            for (x in node.nodes) {
                if (!node.nodes[x].state.checked) {
                    ts.push(node.nodes[x].nodeId);
                }
                if (node.nodes[x].nodes) {
                    var getNodeDieDai = node.nodes[x];
                    console.log(getNodeDieDai);
                    for (j in getNodeDieDai) {
                        //if (!getNodeDieDai.nodes[x].state.checked) {
                        //    ts.push(getNodeDieDai[j]);
                        //}
                    }
                }
            }
        }
        return ts;
    }
    function DoSave() {
        var data = JSON.stringify(sd);
        $.get("SetRoleMenu", { strArr: data, roleId: '@ViewBag.RoleId', unCheckedStr: JSON.stringify(unChecked) }, function (data) {
            window.parent.location.reload();
        });
    }
</script>
