﻿@model List<Model.OnlineRateModel>
@{
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNoMenu.cshtml";
}
<link href="~/Content/css/jquery.jedate.css" rel="stylesheet" />
<style>
    th {
        text-align: center;
    }
</style>
<div class="col-md-12">
    <!-- TABLE STRIPED -->
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title text-center"><strong>在线率详情报表</strong></h3>
        </div>
        <div class="form-inline text-center">
            <span class="panel-title text-center">统计时间：2018-6-31~2018-7-31</span>
            <span class="panel-title text-center" style="padding-left:50px;">制表时间：2018-7-31 15:03:43</span>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered" style="border-collapse: collapse; text-align: center;">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>所属区域</th>
                        <th>监控点名称</th>
                        <th>在线（小时）</th>
                        <th>应在线（小时）</th>
                        <th>在线率</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        int i = 0;
                        foreach (var m in Model)
                        {
                            <tr>
                                <td>@(Model.IndexOf(m) + 1)</td>
                                <td class="center">@m.RegionName</td>
                                <td class="center">@m.PointName</td>
                                <td class="center">@m.OnlineHours</td>
                                <td class="center">@m.TotalHours</td>
                                <td class="center">@m.OnlineRate%</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/js/bootstrap.js"></script>
<script src="~/Scripts/bootstrap-treeview.min.js"></script>
<script src="~/Scripts/jquery.jedate.min.js"></script>
<script>
    $(document).ready(function () {
        $("#zxltj").addClass("active");
    });
    //日历控件
    var startDate = {
        isinitVal: true,
        initAddVal: [-8],
        format: 'YYYY-MM-DD',
        maxDate: $.nowDate(0) //最大日期为当前日期
    };
    var endDate = {
        isinitVal: true,
        initAddVal: [-1],
        format: 'YYYY-MM-DD',
        maxDate: $.nowDate(0) //最大日期为当前日期
    };
    $("#startTime").jeDate(startDate);
    $("#endTime").jeDate(endDate);
    $("#removeContent").click(function () {
        $("#selectNode").val('');
        $("#workPoint").val(null);
    });
</script>
