﻿@model List<Model.SysAccess>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNew.cshtml";
}

<div class="col-md-6">
    <!-- TABLE STRIPED -->
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">角色管理</h3>
        </div>
        <div class="panel-body">

            @using (Html.BeginForm("Index", "Access", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(p => p[0].ID)
                @Html.HiddenFor(p => p[1].ID)
                <fieldset>
                    <legend>大铁应用凭证信息</legend>
                    <div class="control-group">
                        <label class="control-label" for="AppID">应用凭证：</label>
                        <div class="controls">
                            <div class="input-append">
                                @Html.TextBoxFor(p => p[0].AppID, new { @id = "AppID", @placeholder = "请输入应用凭证...", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="AppSecret">应用密钥：</label>
                        <div class="controls">
                            <div class="input-append">
                                @Html.TextBoxFor(r => r[0].AppSecret, new { @id = "AppSecret", @placeholder = "请输入应用密钥...", @class="form-control"})
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="ApiKey">ApiKey：</label>
                        <div class="controls">
                            <div class="input-append">
                                @Html.TextBoxFor(r => r[0].ApiKey, new { @id = "ApiKey", @placeholder = "请输入ApiKey...", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset style="margin-top:20px;">
                    <legend>地方铁路应用凭证信息</legend>
                    <div class="control-group">
                        <label class="control-label" for="AppID">应用凭证：</label>
                        <div class="controls">
                            <div class="input-append">
                                @Html.TextBoxFor(p => p[1].AppID, new { @id = "AppID", @placeholder = "请输入应用凭证...", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="AppSecret">应用密钥：</label>
                        <div class="controls">
                            <div class="input-append">
                                @Html.TextBoxFor(r => r[1].AppSecret, new { @id = "AppSecret", @placeholder = "请输入应用密钥...", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="ApiKey">ApiKey：</label>
                        <div class="controls">
                            <div class="input-append">
                                @Html.TextBoxFor(r => r[1].ApiKey, new { @id = "ApiKey", @placeholder = "请输入ApiKey...", @class = "form-control" })
                            </div>
                        </div>
                    </div>

                </fieldset>
                <div class="control-group" style="margin-top:20px;">
                    <div class="controls">
                        <div class="input-append">
                            <input class="btn btn-primary" value="保 存" type="submit" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Content/js/jquery-1.9.1.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sqxxgl").addClass("active");
    });
    var result = '@Html.Raw(TempData["result"] as string)';
    if (result == "true") {
        layer.msg("保存成功",
            { time: 700 },
            function() {
                window.location.href = "/Systems/Access/Index";
            });
    } else if (result == "false") {
        layer.msg("保存失败");
    }
</script>


