﻿@model List<Model.OnlineRateModel>
@{
    Layout = "~/Areas/Systems/Views/Shared/_LayoutNew.cshtml";
}
<link href="~/Content/css/jquery.jedate.css" rel="stylesheet" />
<style>
    th {
        text-align: center;
    }
</style>
<div class="col-md-12">
    <!-- TABLE STRIPED -->
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title text-center"><strong>在线率汇总报表</strong></h3>
        </div>
        <div class="form-inline text-center">
            <span class="panel-title text-center">统计时间：2018-6-31~2018-7-31</span>
            <span class="panel-title text-center" style="padding-left:50px;">制表时间：2018-7-31 15:03:43</span>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("GetSummaryReport", "Access", FormMethod.Post, new { id = "frm" }))
            {
                <div style="background-color: rgb(245, 245, 245);margin-left: 0; margin-right: 0;" class="row form-inline">
                    <label for="startTime">开始时间</label>
                    <input id="startTime" readonly="readonly" name="startTime" required="required" type="text" class="jedate" value="@ViewBag.StartTime" style="height: 30px; background-color: white; width: 130px; cursor: pointer;" />
                    <label for="endTime">结束时间</label>
                    <input id="endTime" name="endTime" readonly="readonly" required="required" type="text" style="height: 30px; cursor: pointer; background-color: white; width: 130px;" class="jedate" value="@ViewBag.EndTime" />
                    <span style="font-size: 14px; font-weight: bold;">项目部</span>
                    <div class="input-group">
                        <input type="text" value="@ViewBag.SelectNode" name="selectNode" id="selectNode" readonly="readonly" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 30px; cursor: pointer; background-color: white; width: 200px; text-align: left;">
                        <div id="removeContent" style="cursor: pointer;background: white;border: none;position: absolute;margin-left: 161px;" class="input-group-addon glyphicon glyphicon-remove"></div>
                        <div id="treeview2" class="dropdown-menu" style="min-width: 200px; max-height: 600px; overflow-y: scroll; margin-top: -1px;"></div>
                        <input type="hidden" name="workPoint" id="workPoint" value="@ViewBag.WorkPoint" />
                    </div><!-- /input-group -->
                    <label for="pointTxt">监控点</label>
                    <input type="text" id="pointTxt" value="@ViewBag.PointTxt" style="height: 30px" name="pointTxt" />
                    <button type="submit" class="btn btn-primary">统 计</button>
                    <a id="export" class="btn btn-success pull-right" href="ExportSummaryReport">导出</a>
                </div>
                <br />
                <table class="table table-striped table-bordered" style="border-collapse: collapse; text-align: center;">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>所属区域</th>
                            <th>工点数</th>
                            <th>在线（小时）</th>
                            <th>应在线（小时）</th>
                            <th>在线率</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            int i = 0;
                            foreach (var m in Model)
                            {
                                <tr>
                                    <td>@(Model.IndexOf(m) + 1)</td>
                                    <td class="center">@m.RegionName</td>
                                    <td class="center">@m.PointName</td>
                                    <td class="center">@m.OnlineHours</td>
                                    <td class="center">@m.TotalHours</td>
                                    <td class="center"><a href="#" onclick="showDetail(@m.RegionId)">@m.OnlineRate%</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Content/js/bootstrap.js"></script>
<script src="~/Scripts/jquery.fancybox.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script src="~/Scripts/bootstrap-treeview.min.js"></script>
<script src="~/Scripts/jquery.jedate.min.js"></script>
<script>
    $(document).ready(function () {
        $("#zxlhz").addClass("active");
        var list = '@ViewBag.List';
        if (list == 'no data') {
            layer.msg('没有数据，请先统计之后再导出数据！')
        }
    });
    //日历控件
    var startDate = {
        isinitVal: true,
        initAddVal: [-8],
        format: 'YYYY-MM-DD',
        maxDate: $.nowDate(0) //最大日期为当前日期
    };
    var endDate = {
        isinitVal: true,
        initAddVal: [-1],
        format: 'YYYY-MM-DD',
        maxDate: $.nowDate(0) //最大日期为当前日期
    };
    $("#startTime").jeDate(startDate);
    $("#endTime").jeDate(endDate);
    $("#removeContent").click(function () {
        $("#selectNode").val('');
        $("#workPoint").val(null);
    });
    $(document).ready(function () {
        $.get("/Access/GetTree", null, function (data) {
            var defaultData1 = $.parseJSON(data);
            $('#treeview2').treeview({
                data: defaultData1,
                levels: 2,
                onNodeSelected: function (event, node) {
                    $("#selectNode").val(node.text);
                    $("#workPoint").val(node.id);
                    $("#selectNode").click();
                }
            });
        });
    });
    $("#selectNode").on('click', function (event) {
        event.stopPropagation();
        $("#treeview2").toggle();
    })
    var showDetail = (id) => {
        if (id != 0) {
            $.fancybox({
                width: '80%',
                height: 70,
                padding: 10,
                closeClick: true,
                href: `Detail?startTime=${$("#startTime").val()}&endTime=${$("#endTime").val()}&workPoint=${id}`,
                type: "iframe",
                mouseWheel: false,
                afterClose: function () { }
            });
        }
    }
</script>
